@import "../../styles/variables";

.home_container {
  padding-top: 100px;
}

.first_row {
  background-image: url(./img/bg-image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.second_row {
  img {
    height: auto;
    margin-right: -40px;
  }
}

.fifth_row {
  background: url(./img/row-bg.png);
  background-size: cover;
  padding: 50px;
}

.seventh_row {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .left_row {
    padding: 40px;
  }
  .right_row {
    margin-left: -20px;
    img {
      height: 100%;
    }
  }
}
