@import "../../styles/variables";
@import "../../styles/mixin";

.home_container {
  padding-top: 50px;
  @include bp-md {
    padding-top: 100px;
  }
}

.first_row {
  background-image: url(./img/bg-image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  .dashboard_img {
    max-width: 100%;
    height: auto;
    @include bp-md {
      max-width: none;
      height: fit-content;
      width: 800px;
    }
  }
  .desktop_description {
    display: none;
    @include bp-md {
      display: block;
    }
  }
  .mobile_description {
    display: block;
    @include bp-md {
      display: none;
    }
  }
}

.third_row {
  background-color: $color-white;
  padding-left: 50px;
  padding-right: 50px;
  @include bp-md {
    padding-left: 200px;
    padding-right: 200px;
  }

  .section {
    margin-bottom: 50px;
    @include bp-md {
      margin-bottom: 50px;
    }
  }
}

.sixth_row {
  .progress_bar {
    height: 4px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(
      90deg,
      $color-equity-blue 15%,
      $color-black 30%
    );
    @include bp-md {
      height: 8px;
    }
  }
  .progress_items {
    margin-right: 30px;
    @include bp-md {
      margin-right: 0;
    }
  }
  .progress_container {
    @include bp-md {
      justify-content: space-evenly;
    }
  }
  .arrow {
    transform: rotate(90deg);
    height: 30px;
    width: 30px;
    margin-top: -10px;
    @include bp-md {
      height: 50px;
      width: 50px;
      transform: none;
      margin-top: 0;
    }
  }
}

.fifth_row {
  background: url(./img/circle-stack.png);
  background-size: cover;
  padding: 50px;
  @include bp-md {
    background: none;
  }
}

.seventh_row {
  .container {
    @include bp-md {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .left_row {
    padding: 40px;
    margin-top: -20px;
    @include bp-md {
      padding: 40px;
      width: 50%;
      margin-top: 0px;
    }
  }
  .right_row {
    @include bp-md {
      margin-left: -20px;
      margin-top: 0;
      width: 50%;
    }
    margin-top: -10px;
    img {
      height: 100%;
    }
  }
}

.eigth_row {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @include bp-md {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.scroll_container {
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    padding: 20px;
    height: 4px;
    background: #092093;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #61d6ff 30%, transparent 30%);
  }
}
