@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.container {
  // padding: 10px;
  position: relative;
  display: flex;
  gap: 10px;
  // margin-top: 10px;
  border-radius: 12px;
  background: $color-white;
  width: fit-content;
  transition: left 0.2s ease-in-out;
}

.product_row {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.background_slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-radius: inherit;
  z-index: 0;
  border-radius: 10px;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    width 0.3s;
  padding: 20px;
}

.product_name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: $color-indi-volt;

  @include for-window-zoomed-screens {
    font-size: 18px;
    line-height: 27px;
  }

  sup {
    font-size: 10px;
  }
}

.product_description {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $color-secondry-grey;
}

.opacity_selected {
  .product_description {
    color: $color-equity-blue;
  }
}

.box_shadow_left {
  height: 100%;
  width: 20px;
  background: radial-gradient(70% 401.51% at -38.04% 47.74%,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%);
}

.resource_modal_blog_title {
  font-size: 17px;
  font-weight: 700;
}

.resource_modal_blog_descrption {
  font-size: 13px;
}

.resources_grid_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}

.resource_arrow_icon {
  cursor: pointer;

  img {
    width: 40px;
    transition: width 0.3s ease-in-out;
  }
}

.resource_arrow_icon:hover {
  img {
    width: 55px;
  }
}

.latest_read_text {
  font-size: 27px;
  color: $color-equity-blue;
}

.resource_latest_read_container {
  cursor: pointer;

  img {
    width: 60px;
    transition: width 0.3s ease-in-out;
  }
}

.resource_latest_read_container:hover {
  img {
    width: 75px;
  }
}

.solutions_grid_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}

.solution_stack {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  margin-right: -20px;
}

.product_stack {
  margin-right: -20px;
}

.payment_wrapper {
  background-color: $color-sky-hint;
  padding: 21px 12px;
  border-radius: 16px;

  h4 {
    font-size: 12px;
    color: $color-slate-grey;
    text-transform: capitalize;
  }
}

.arrow {
  position: relative;
  top: 10px;
  // left: 12%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $color-equity-blue;
}

.exploreProduct {
  a {
    color: $color-electric-green;
    text-align: end;
    text-decoration: underline;
    margin-bottom: 7px;
    margin-top: 11px;
    bottom: 0px;
    right: 17px;
    position: absolute;
    font-weight: 500;
    display: block;

    h4 {
      font-size: 12px;
    }
  }
}

// .cardModal {
//   margin-right: 144px;
// }
.cardModal {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeOut {
  opacity: 0;
  transform: translateY(-8px); // 👈 slight slide-up effect
}

// .cardModal {
//   margin-right: 144px;
// }

// .container:nth-child(1) {
//   background-color: $color-sky-hint; // blue
//   color: white;
// }

// .container:nth-child(2) {
//   background-color: $color-silver-grey; // grey
// }

// .container:nth-child(3) {
//   background-color: $color-white; // white
// }