@import "../../styles/mixin";
@import "../../styles/variables";

.header {
  color: $color-white;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;

  ul {
    position: relative;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    align-items: center;
  }

  li {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    img {
      margin-top: -4px;
      margin-left: 2px;
      height: 12px;
      width: 12px;
    }
  }
  .logo_container {
    padding: 5px;
    margin-right: 10px;
  }

  button {
    border-radius: 32px;
  }
}

.buttons_container {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;

  .primary_button {
    border-radius: 20px;
    background-color: $color-equity-blue;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    margin-right: 5px;
  }

  .secondary_button {
    border-radius: 20px;
    border: 2px solid $color-equity-blue;
    background-color: $color-indi-volt;
    color: $color-white;
    padding: 3px 20px;
  }
  .active {
    color: $color-black;
    background-color: $color-white;
  }
}

.selected_border {
  border: 1.35px solid $color-equity-blue;
  border-radius: 13px;
}

.background_slide {
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 1.35px solid $color-equity-blue;
  border-radius: 13px;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s;
  cursor: pointer;
}
