@import "../../styles/mixin";
@import "../../styles/variables";

.header {
  color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    align-items: center;
  }

  li {
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    img {
      margin-top: -4px;
      margin-left: 2px;
      height: 12px;
      width: 12px;
    }
  }

  button {
    border-radius: 32px;
  }
}

.buttons_container {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}
