@import "../../styles/variables";
@import "../../styles/mixin";

.home_container {
  padding-top: 100px;
}

.fourth_row {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(28, 90, 244, 0.55) 0%,
    rgba(28, 90, 244, 0) 86.87%
  );

  .left_row {
    background: url(./img/blue-bg.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    padding: 20px;
    @include bp-md {
      padding: 100px;
    }
  }

  .right_row {
    background: url(./img/laptop-screen.png) center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    width: 100%;
    @include bp-md {
      background: url(./img/laptop-screen.png) -100px center;
      padding: 120px;
    }
  }
}
