@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.CoreValuesDataSection {
  padding: 50px 20px;
  background-image: url("./img/coreValueBg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include for-laptops {
    padding: 90px 20px;
  }

  .CoreValuesDataSectionOuter {
    background: $color-white;
    padding: 20px 20px;
    position: relative;
    border-radius: 20px;
    z-index: 1;

    &::after {
      position: absolute;
      bottom: -90px;
      right: 0;
      content: "";
      background: url("./img/coreValueHand.webp");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 320px;
      height: 460px;
      display: none;
    }

    @include for-laptops {
      padding: 50px 50px 30px;

      &::after {
        display: block;
      }
    }

    .content {
      max-width: 400px;

      p {
        span {
          color: $color-dark-grey;
        }
      }
    }
  }
}

.perksPayCheck {
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 70px;
  }

  .rewardsBottomSliderBox {
    @include for-laptops {
      padding-right: 27px;
    }
  }

  .rewardsBottomSliderContentBox {
    max-width: 1200px;
    margin: auto;

    .rewardsBottomSliderBox {
      height: 100%;
    }
  }
}

.yourOpportunitySection {
  background-image: url("./img/yourOpportunitySectionBg.webp");
  padding: 550px 20px 90px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.VoicesEnKashSection {
  padding: 0px 20px 0px;

  @include for-laptops {
    padding: 0px 20px 90px;
  }
}