@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.hero_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-white;
  box-shadow: 0px 0px 77px 0px $color-black-1a;
  padding: 100px 20px 0px 20px;
  background-image: url(/images/rewardsBg.webp);

  @include for-laptops {
    padding: 112px 70px 0px 70px;
  }

  .lottie_container {
    position: relative;
    width: 500px;

    Img {
      height: auto;
      padding-top: 32px;

      @include for-laptops {
        height: 625px;
        padding-top: 0px;
      }
    }
  }
}

.fourth_row {
  padding: 50px 30px;

  @include for-laptops {
    padding: 90px 20px;
  }

  .section {
    padding: 50px 8px;
    background-color: $color-sky-hint;

    @include for-laptops {
      // gap: 74px;
      padding: 50px 0px;
    }

    .allInOnePolicy {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include for-laptops {
        padding: 0px 88px 0px 88px;
        gap: 70px;
      }
    }
  }
}

.slider_row {
  position: relative;
  text-align: center;
  padding: 0 0px;
  padding-top: 0px;

  @include for-laptops {
    padding: 0 0px;
  }
}
