@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.policyCard {
  gap: 7px;
  @include for-laptops {
    gap: 20px;
  }
  Img {
    width: 32px !important;
    height: 32px !important;
    @include for-laptops {
      width: 46px !important;
      height: 46px !important;
    }
  }
}
