@use "/styles/variables" as *;
@use "/styles/mixin" as *;

.first_row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff73;
  box-shadow: 0px 0px 77px 0px #0000001a;
  padding: 110px 20px 0px;
  background-image: url(/images/collectPaymentBg.webp);
  @include for-laptops {
    padding: 112px 20px 0;
  }
  .group_logo {
    max-width: 260px;
    width: 100%;
    height: auto;
    @include for-laptops {
      width: 366px;
      height: 62px;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px;

    @include for-laptops {
      max-height: 500px;
    }
  }
  .right_img {
    Img {
      height: auto;
      padding-top: 32px;
      @include for-laptops {
        height: 625px;
        padding-top: 0px;
      }
    }
  }

  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .first_row_title {
    padding-top: 16px;
    padding-bottom: 0px;
    @include for-laptops {
      padding-top: 48px;
      padding-bottom: 20px;
    }
  }
  .first_row_button {
    padding-top: 16px;
    gap: 12px;
    justify-content: center;

    @include for-laptops {
      padding-top: 48px;
      gap: 26px;
      justify-content: start;
    }
  }
}

.second_row {
  background: linear-gradient(180deg, #1c5af4 0%, #61d6ff 77%, #18187f 100%);
  position: relative;
  padding: 50px 20px;
  @include for-laptops {
    padding: 50px 20px;
  }
  .section {
    margin: auto;
    gap: 10px;
    justify-content: center;
    // flex-wrap: wrap;
    width: 100%;
    @include for-laptops {
      width: initial;
    }
    .card {
      width: calc(100% / 3 - 4px);
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      box-shadow: 0px 0px 29.66px 0px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;

      .outerCard {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
        @include for-laptops {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        img {
          height: 22px;
          width: 22px;
          @include for-laptops {
            height: 51px;
            width: 51px;
          }
        }
      }

      .innerCard {
        box-shadow: 0px 0px 29.66px 0px rgba(0, 0, 0, 0.05);
        width: 100%;
        padding: 4px;
        text-align: center;
      }

      // 👇 Responsive widths
      @include for-laptops {
        width: 300px;
      }

      @include for-tablet {
        width: 180px;
      }
    }
    @include for-laptops {
      gap: 65px;
      flex-wrap: wrap;
    }
  }

  .inner-content {
    background: $color-white; /* inner background */
    padding: 11px 14px;
    border-radius: 10px; /* slightly smaller radius */
  }
}

.third_row {
  width: 100%;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px;
  }

  .section {
    margin-bottom: 50px;
  }
  .scrollCard {
    // margin-left: 10px;
    margin-bottom: 20px;
    @include for-laptops {
      margin-left: 20px;
      margin-bottom: 30px;
    }
  }
  .scrollCard:last-child {
    margin-bottom: 0px;
  }

  .first_container,
  .second_container,
  .third_container {
    position: relative;
    z-index: 2;

    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -50px;

      @include for-laptops {
        top: -50px;
        left: 200px;
      }
    }
  }
  .list_button {
    padding-left: 48px;
    padding-top: 20px;
    margin-bottom: 20px !important;
    @include for-laptops {
      padding-left: 88px;
    }
  }
  :global(img) {
    height: auto;
  }

  .approvedImage {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;

    @include for-laptops {
      right: 40px;
      display: block;
    }
  }
}

.fourth_row {
  padding: 0px 20px;
  @include for-laptops {
    padding: 0px 20px;
  }

  .section {
    gap: 20px;
    padding: 50px 20px;
    background-color: $color-sky-hint;
    @include for-laptops {
      padding: 90px 100px 50px;
      gap: 48px;
    }
  }
}

.sixth_row {
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }

  .card_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card_grid > div {
    flex: 1 1 260px;
    max-width: 300px;
    min-width: 240px;
  }
}

.fifth_row {
  background: linear-gradient(180deg, #1c5af4 0%, #10348e 100%);
  border-radius: 12px;
  position: relative;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }
  .get_started_button {
    padding: 6px;
    border: 2px solid $color-bolt-green;
    border-radius: 12px;
    @include for-laptops {
      padding: 11px 14px;
    }
  }
}

.seventh_row {
  .container {
    @include for-laptops {
      padding-left: 150px;
      padding-right: 150px;
    }
    @include for-window-zoomed-screens {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .left_row {
    padding: 40px;
    margin-top: -20px;
    border-radius: 10px;
    border: 2px solid $color-night-blue;
    @include for-laptops {
      padding: 40px;
      width: 50%;
      margin-top: 0px;
    }
  }
  .right_row {
    margin-top: -10px;
    @include for-laptops {
      margin-left: -20px;
      margin-top: 0;
      width: 50%;
    }
    img {
      height: 100%;
    }
  }
}

.eigth_row {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  .faqSection {
    @include for-laptops {
      width: 100%;
    }
  }

  .faq_bg {
    img {
      display: none;
      pointer-events: none;

      @include for-laptops {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.ninth_row {
  position: relative;
  padding: 36px;
  @include for-laptops {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
  h1 {
    font-size: 110px;
    color: black;

    span {
      background-color: $color-bluish-purple;
      color: white;
    }
  }
}

.third_row .scrollbar-thin::-webkit-scrollbar {
  width: 12px;
}

.third_row .scrollbar-thin::-webkit-scrollbar-track {
  background: $color-white;
  border: 1px solid transparent;
  border-radius: 20px;
}

.third_row .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
  border: 1px solid transparent;
}

/* Firefox */
.third_row .scrollbar-thin {
  scrollbar-width: auto;
  scrollbar-color: #3b82f6 transparent;
}

.bg-color-soft-mint {
  background-color: $color-soft-mint;
}

.new_row {
  background: linear-gradient(180deg, #1c5af4 0%, #10348e 100%);

  position: relative;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }
}

.faq_new_row {
  background: $color-white;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      display: none;
      @include for-laptops {
        display: flex;
      }
    }
  }

  .faqData {
    width: 100%;
    @include for-laptops {
      width: 70%;
    }
  }
}

.other_products {
  background: $color-white;
  padding: 0px 20px 50px;
  @include for-laptops {
    padding: 0px 20px 66px;
  }
}
