@import "../../styles/variables";
@import "../../styles/mixin";

.contactContainer {
  margin-bottom: 156px;
  padding: 0px 0px 56px 0px;
  @include for-laptops {
  }
}
.container {
  padding: 35px 30px 25px 30px;
  border-radius: 0px 0px 25px 25px;
  @include for-laptops {
    padding: 120px;
  }

  .inner_container {
    box-shadow: 4px 8px 31px rgba(0, 0, 0, 0.0901960784);
    border-radius: 15px;
    background-color: $color-white;
    padding: 30px;
    position: relative;
    top: -230px;
    @include for-laptops {
      padding: 50px 100px 50px 100px;
    }
  }

  .contactImg {
    height: 425px;
    width: 425px;
  }
}

.partner {
  background: url("./img/partner.svg") no-repeat bottom/cover;
  padding: 35px 30px 25px 30px;
  @include for-laptops {
    padding: 100px 100px 100px 100px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    & > * {
      width: calc(100% / 2);
      flex: 1;
      background: #fff;
    }

    // Make all boxes the same height
    align-items: stretch;
  }
}

.ourOffice {
  text-align: center;
  padding: 35px 30px 25px 30px;
  @include for-laptops {
    padding: 100px 138px;
  }
  .grid {
    padding-top: 64px;
    justify-content: center;
    display: grid;
    gap: 42px;
    @include for-laptops {
      display: flex;
    }
    .address {
      padding: 42px;
      border-radius: 20px;
      border: 1px solid #e6f0ed;
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-align: start;
      max-width: 450px;
      box-shadow: 0px 0px 55px 0px #00000014;

      .description {
        font-size: 22px;
        line-height: 44px;
        color: #425466;
      }
      .spaceBox {
        height: 33px;
        min-height: 33px;
        font-size: 24px;
        color: #425466;
      }
    }
  }
}

.salesForm {
  margin-bottom: -144px;
  padding-left: 44px;
  padding-right: 44px;
  position: relative;
  .bgGradient {
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: -1;
  }
}
