.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  position: relative; // allow arrow to stay fixed at right
  justify-content: space-between;
}

.inputContent {
  flex: 1; // take full left space
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.placeholder {
  color: #aaa;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  .tag {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 2px 6px;
    display: flex;
    align-items: center;
    font-size: 14px;

    button {
      margin-left: 4px;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 14px;
    }
  }
}

  .arrow {
    font-size: 0.7rem;
    color: #1c5af4; 
    margin-left: 8px;
    user-select: none;
  }
.wrapper {
  input {
    width: auto !important;
  }
  .inputBox {
    display: flex;
    justify-content: space-between;
  }

  .category {
    .categoryHeader {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      font-size: 0.95rem;
      cursor: pointer;
      justify-content: space-between;
      .categoryHeaderLabel {
        display: flex;
        gap: 8px;
      }
    }
  }
  .subOptions {
    display: grid;
    align-items: center;
    gap: 8px;
    padding: 8px 47px;
    font-size: 0.95rem;
    cursor: pointer;

    label {
      display: flex;
      gap: 8px;
    }
  }
}
