@use "/styles/variables" as *;
@use "/styles/mixin" as *;
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.inputBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  color: #576675;
  background-color: #ffffff;
}

.inputContent {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.placeholder {
  // color: #aaa;
}

.tag {

  border-radius: 4px;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  font-size: 1rem;

  button {
    margin-left: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
}

.arrow {
  font-size: 0.7rem;
  color: #1c5af4;
  margin-left: 8px;
  user-select: none;
}

.dropdown {
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: $color-black;
}

.option {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.95rem;

  &:hover {
    background: #f7f7f7;
  }
}

.textInput {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
  font-size: 1rem;
}
