@use "../../../styles/variables" as *;
@use "../../../styles/mixin" as *;

.first_row {
  .voucher_card {
    background-color: #ffffff;
    margin-top: -38px;
    box-shadow: 0px -46px 100px 65px #fff;
    z-index: 2;
    position: relative;
    padding: 50px 20px;
    @include for-laptops {
      margin-top: -118px;
    }
  }
}

.sixth_row {
  background: linear-gradient(180deg, #2e2e2e 0%, #010205 100%);
  border-radius: 12px;
  position: relative;
  margin-top: 50px;
  padding: 20px;
  @include for-laptops {
    padding: 58px;
  }
  .get_started_button {
    padding: 6px;
    border: 2px solid $color-bolt-green;
    border-radius: 12px;
    @include for-laptops {
      padding: 11px 14px;
    }
  }
}

.faq_new_row {
  background: $color-white;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      display: none;
      @include for-laptops {
        display: flex;
      }
    }
  }

  .faqData {
    width: 100%;
    @include for-laptops {
      width: 70%;
    }
  }
}

.faq_wrapper {
  width: 100%;
}

.scrollable {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;

  @include for-laptops {
    padding-right: 38px;
  }
}

.scrollable::-webkit-scrollbar {
  width: 6px;
  background-color: #cccc;
  border-radius: 9999px;

  @include for-laptops {
    width: 12px;
  }
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  /* blue */
  border-radius: 9999px;
  border: 1px solid transparent;
}

.scrollable::-webkit-scrollbar-button {
  background-color: #cccc;
  height: 0;
  width: 0;
  display: none;
}
