@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.careerBannerOuter {
  position: relative;
  z-index: 1;


  .careerBannerImage {
    position: relative;
    z-index: 1;
    height: 500px;

    @include for-laptops {
      height: 700px;

    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 600px;
      background: linear-gradient(0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.78) 59%);
      // z-index: -1;
    }
  }

  .bannerContentSetion {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 110px 20px 50px;

    @include for-laptops {
      padding: 120px 20px 90px;
    }

    .customBreadcrumbSection {
      a {
        color: #fff !important;
      }

      li>span {
        color: #0663fc !important;
      }
    }
  }
}