@use "/styles/mixin" as *;
@use "/styles/variables" as *;

.marquee_box {
  display: block;
  cursor: pointer;

  &:hover .logo_img {
    filter: grayscale(0%);
  }
}

.logo_img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;

  height: auto;
  width: auto;
  max-height: 100%;

  @include for-laptops {
    max-height: 68px;
  }
  @include for-tablet {
    max-height: 30px;
  }
  @include for-window-zoomed-screens {
    max-height: 32px;
  }
  @include for-large-screen {
    max-height: 40px;
  }
}
