@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.talk_to_sales {
  background-image: url(./img/backgroundImg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 20px 20px;
  z-index: 2;
  position: relative;

  @include for-laptops {
    padding: 70px 20px 20px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg,
        $color-black 0%,
        $color-black -1.06%,
        $color-black 0.51%,
        rgba(0, 0, 0, 0.77) 23.74%,
        rgba(0, 0, 0, 0.33) 44.46%,
        rgba(0, 0, 0, 0) 53.45%);
    z-index: -1;
  }

  .logo {
    padding-bottom: 32px;

    img {
      width: 75px;
      height: 20px;
    }

    @include for-laptops {
      padding-bottom: 41px;

      img {
        width: 150px;
        height: 46px;
      }
    }
  }

  .contactInfoCard {
    background: $color-white;
    position: relative;
    z-index: 2;
    border-radius: 12px;
    box-shadow:
      0px 7px 40px rgba(0, 0, 0, 0.1),
      0px 30px 40px rgba(0, 0, 0, 0.09),
      0px 67px 40px rgba(0, 0, 0, 0.05);
    padding: 43px 30px;

    ul {
      gap: 12px;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 0;
    }
  }

  .logoSlider {
    background-color: $color-white;
    border-radius: 12px;
    position: relative;
    z-index: 2;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    p {
      font-size: 8px;

      @include for-laptops {
        font-size: 16px;
      }
    }

    .termsCond {
      display: flex;
      gap: 8px;

      @include for-laptops {
        gap: 32px;
      }

      a {
        color: inherit !important;
        text-decoration: none !important;
      }
    }
  }

  .greyLine {
    height: 2px;
    background: $color-dark-grey;
    position: relative;
    z-index: 9;
  }

  .trunstedBrands {
    z-index: 2;
    position: relative;
  }
}