@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.marquee_box {
  display: block;
  cursor: pointer;

  &:hover .logo_img {
    filter: grayscale(0%);
  }


  :global(.slick-track) {
    display: flex !important;
    align-items: center;
    margin-bottom: 13px;
    margin-top: 13px;
    gap: 32px;
  }
  .britishAirways,
  .prystnCare,
  .pnbHousing {
    width: 140px;
  }
  .vijaySales {
    width: 100px;
  }
}

// .logo_wrapper {
//   align-items: center;
//   text-align: center;
// }
.logo_img {
    filter: grayscale(0%);
  transition: filter 0.5s ease-in-out;
  object-fit: contain;
  height: auto;
  width: 100%;
  max-height: 32px;
  @include for-laptops {
    max-height: 50px;
    filter: grayscale(100%);
  }
  @include for-tablet {
    max-height: 30px;
    filter: grayscale(100%);
  }
  @include for-window-zoomed-screens {
    max-height: 32px;
  }
  @include for-large-screen {
    max-height: 40px;
  }
}
