@import "../../styles/mixin";
@import "../../styles/variables";

.faq_row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $color-black;
  text-align: left;
  padding: 20px 80px;

  .faq_inner_row {
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
  }

  .question {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;

    img {
      padding-left: 10px;
    }
  }

  .answer {
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 20px;

    &.visible {
      max-height: 500px;
      opacity: 1;
    }
    .heading {
      font-size: 20px;
    }
  }

  .normal {
    transform: rotate(180deg);
  }

  .rotated {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
  }
}
