@import "../../styles/mixin";
@import "../../styles/variables";
// customAccordionStyles.scss

.faq_page {
  background-color: white;
  color: black;
}

.customAccordion {
  width: 100%;
  max-width: 600px; // Adjust this to your desired width
  margin: 0 auto;
}

.accordionItem {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.accordionHeader {
  background-color: #f8f9fa;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: #e9ecef;
  }

  .accordionButton {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #333;
    font-weight: bold;
  }
}

.accordionCollapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &.show {
    max-height: 1000px; // Adjust this value based on your content
  }
}

.accordionBody {
  padding: 10px;
  background-color: #f8f9fa;
}

.active {
  .accordionButton {
    color: #007bff; // Color for active FAQ
  }
}

.arrowIcon {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease-in-out;
}

.active .arrowIcon {
  transform: rotate(180deg);
}
