@import "../../styles/mixin";
@import "../../styles/variables";
// customAccordionStyles.scss

.faq_page {
  position: relative;
  background-color: white;
  color: black;
  padding: 10vh 10vh;
  z-index: 1;
  max-width: 100vw;
  //SVG BOTTOM
  &::before {
    content: ""; /* Create a pseudo-element to hold the SVG */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    z-index: -1; /* Place the SVG behind the content */

    /* Insert your SVG as a background image */
    background: url(./img/group.png) no-repeat;
    /* You can use background-size, background-position, and other properties to adjust the appearance of the SVG */
  }
}

.accordianContentContainer {
  margin-top: 30px;
}

.customMainHeading {
  display: flex;
  justify-content: center;
}
.customAccordion {
  width: 100%;
  max-width: 1233px; // Adjust this to your desired width
  margin: 100px auto;
  background-color: none;
}

.customAccordianHeading {
  text-align: center;
  margin-bottom: 70px;
}

.customAccordionItem {
  border-bottom: 3px solid blue;
  padding: 40px 10px;
  cursor: pointer;
}

.accordionHeader {
  background-color: none;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: none;
  }

  .accordionButton {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
    font-weight: bold;
  }
}

.accordionCollapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;

  &.show {
    max-height: 1000px; // Adjust this value based on your content
  }
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordionBody {
  padding: 10px;
  background-color: none;
}

.active {
  .accordionButton {
    color: none; // Color for active FAQ
  }
}

.arrowIcon {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease-in-out;
}

.active .arrowIcon {
  transform: rotate(180deg);
}

.mt-5 {
  margin-top: 1vh;
}
