@import "/styles/variables";
@import "/styles/mixin";

.card_body {
  width: 250px;
  height: 100%;
  border: 2px solid $color-night-blue;
  border-radius: 22.5px;
  white-space: normal;
  text-align: left;
  @include bp-md {
    width: 400px;
  }

  .underline {
    h1 {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.action_container {
  cursor: pointer;
  img {
    transition: width 0.3s ease-in-out;
  }

  img:hover {
    width: 65px;
  }
}

.action_container:hover {
  img {
    width: 65px;
  }
}
