@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.card_stacking_row {
  padding: 0px 20px;

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;
    @include for-laptops {
      padding: 90px 0px 50px;
    }
  }
}
