@import "../../styles/mixin";
@import "../../styles/variables";

.main_container {
  margin: 100px 0px 0px;
}

.nav_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, white 50%, #e5fcff 50%);
  padding: 10px 10px;
  border-bottom: solid 1px $color-equity-blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @include for-laptops {
    background: none;
    background-color: $color-white;
    padding: 20px 10px 0px;
    flex-wrap: nowrap;
  }
}

.item {
  color: black;
  padding: 5px 5px;
  margin: 5px 12px;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  @include for-laptops {
    background-color: #fff;
    padding: 5px 5px;
    margin: 0 4px 10px;
    width: 138px;
  }
  &.active {
    border: solid 1px #d9eef8;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}

.activeUnderline {
  display: none;
  @include for-laptops {
    display: block;
    height: 3px;
    background-color: $color-equity-blue;
    margin-top: 10px;
    border-left: solid 25px $color-white;
    border-right: solid 25px $color-white;
  }
}

.content_div_container {
  display: flex;
  justify-content: center;
}

.section {
  margin-bottom: 100px;
  @include for-laptops {
    margin-bottom: 0px;
  }
}

.first_container {
  position: relative;
  z-index: 1;
  padding-left: 60px;
  @include for-laptops {
    padding-left: 0px;
  }
  .card_bg {
    position: absolute;
    z-index: 1;
    top: -65px;
    left: -20px;
    @include for-laptops {
      top: -100px;
      left: 0px;
    }
  }
  .lottie_container {
    position: relative;
    z-index: 100;
    width: 280px;
    padding: 30px 10px;

    @include for-laptops {
      width: 370px;
      padding: 0px;
      margin-left: 50px;
      margin-top: -50px;
    }
  }
}

.content_div {
  max-width: 1240px;
  margin: auto;
  padding: 20px 50px 40px;
  @include for-laptops {
    padding: 40px 80px;
  }
}

.text_section {
  color: $color-equity-blue !important;
  @include for-laptops {
    padding-top: 40px;
  }
  .gradient_text {
    display: inline;
    font-size: 25px;
    margin-bottom: 0;
    line-height: normal;
    font-weight: 600;
    @include for-laptops {
      font-size: 43px;
    }
    @include for-window-zoomed-screens {
      font-size: 38px;
    }
    color: $color-equity-blue;
  }

  .bullet_text {
    color: $color-black;
    margin-top: 30px;

    ul {
      max-width: 450px;
      padding-left: 20px;
    }
  }
}
