@import "/styles/variables";
@import "/styles/mixin";

$button-padding: 5px 15px 5px 15px;
$font-size: 16px;
$font-size-mobile: 12px;

.primary_button {
  border-radius: 20px;
  border: none;
  padding: $button-padding;
  font-size: $font-size-mobile;
  @include bp-md {
    font-size: $font-size;
  }
}

.secondry_button {
  border-radius: 20px;
  border: 2px solid $color-equity-blue;
  padding: $button-padding;
  background-color: $color-indi-volt;
  color: $color-white;
  font-size: $font-size-mobile;
  @include bp-md {
    font-size: $font-size;
  }
}

.menu_button {
  border-radius: 20px;
  padding: 5px;
  border: none;
  font-size: $font-size-mobile;
  font-weight: 700px;
  @include bp-md {
    padding: 5px 50px;
    font-size: 20px;
  }

  &.theme-light {
    border: 1px solid $color-black;
    background-color: $color-white;
  }

  &.theme-dark {
    background-color: $color-white;
    color: $color-main-black;
  }

  &.theme-disabled {
    background-color: $color-pale-grey;
    color: $color-secondry-grey;
    border: 1px solid;
  }
}

.theme-blue {
  background-color: $color-equity-blue;
  color: $color-white;
}

.theme-green {
  background-color: $color-electric-green;
  color: $color-black;
}

.theme-black {
  background-color: $color-black;
  color: white;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 20px;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 500;
}
