@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.sliderComponent {
  position: relative;

  .breadcrumb {
    z-index: 9;

    // position: absolute;
    top: 115px;
    left: 162px;

    .first_row_title {
      padding: 20px;
      text-align: center;

      @include for-laptops {
        padding: 48px 0px 20px;
        text-align: start;
      }
    }
  }

  .right_img {
    img {
      height: auto;
    }
  }

  :global(.slick-dots) {
    display: block;
    z-index: 999;
    bottom: 243px;
    position: relative !important;
  }

  :global(.slick-dots li button:before) {
    width: 23px;
    height: 4px;
    color: $color-white;
    background: $color-white;
    content: "-";
  }

  :global(.slick-dots li .slick-active) {
    width: 23px;
    height: 6px;
    color: $color-white;
    background: $color-white;
    content: "-";
  }

  :global(.slick-slide) {
    margin: 0 !important;
  }
}

.voucherSlider {
  padding: 112px 20px 50px;
  position: relative;
  z-index: 1;
  min-height: 850px;

  @include for-laptops {
    padding: 112px 20px 120px;
    min-height: 750px;
  }
  .voucher_title {
    font-size: 48px;
    line-height: 60px;
  }

}
