@use "/styles/variables" as *;
@use "/styles/mixin" as *;

.talk_to_sales {
  background-image: url(./img/backgroundImg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 20px 20px;
      z-index: 2;
    position: relative;
  @include for-laptops {
    padding: 120px 20px 20px;
  }

  .logo {
    padding-bottom: 32px;
    img {
      width: 75px;
      height: 20px;
    }
    @include for-laptops {
      padding-bottom: 41px;
      img {
        width: 104px;
        height: 28px;
      }
    }
  }
  .contactInfoCard {
    background: $color-white;
    border-radius: 12px;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.1),
      0px 30px 40px rgba(0, 0, 0, 0.09), 0px 67px 40px rgba(0, 0, 0, 0.05);
    padding: 43px 30px;
    ul {
      gap: 12px;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 0;
    }
  }
  .logoSlider {
    background-color: $color-white;
    margin-top: 36px;
    border-radius: 12px;
  }
}

.location {
  position: relative;
  background: $color-white;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 1) 0%,
      rgba(0, 0, 0, 1) 34%,
      rgba(0, 0, 0, 1) 34%,
      rgba(0, 0, 0, 0.77) 62%,
      rgba(0, 0, 0, 0.33) 91%,
      rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
    top: -220px;
  }

  .greyLine {
    height: 2px;
    background: $color-dark-grey;
  }
  .termsCond {
    display: flex;
    gap: 32px;
  }
  .trunstedBrands {
    padding-top: 32px;
        z-index: 2;
    position: relative;
    @include for-laptops {
      padding-top: 64px;
    }
  }
}
