@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.introduction_section {
  padding: 50px 20px;
  background-color: $color-black-30;

  @include for-laptops {
    padding: 90px 20px;
  }

  .list_button {
    margin-top: 20px;
    padding-left: 48px;
    margin-bottom: 20px;

    @include for-laptops {
      margin-top: 20px;
      padding-left: 66px;
    }
  }

  img {
    height: auto;

    @include for-laptops {
      height: initial;
    }
  }
}

.card_stacking_row {
  padding: 0px 20px;

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 20px;
    }
  }
}
