@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

/* Font weight utilities */
.f-2 {
  font-weight: 200;
}

.f-3 {
  font-weight: 300;
}

.f-4 {
  font-weight: 400;
}

.f-5 {
  font-weight: 500;
}

.f-6 {
  font-weight: 600;
}

.f-7 {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.pageLabel {
  font-size: 16px;
  text-decoration: underline;
}

.subHeading {
  font-size: 20px;
  line-height: 26px;
}

.bannerHeading {
  font-size: 38px !important;
}

.fs-84 {
  font-size: 84px;
}

.bgBlue {
  background-color: #1c5af4;
}

p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  font-weight: 400;
}

li {
  letter-spacing: -0.04em;
}

.min-height-80 {
  min-height: 80px;
}

@media (max-width: 767px) {
  .bannerHeading {
    font-size: 18px !important;
    line-height: normal;
    font-weight: 400;
  }

  .min-height-80 {
    min-height: max-content !important;
  }

  .subHeading {
    font-size: 18px;
    line-height: 24px;
  }
}

.border_radius {
  border-radius: 40px !important;
}
