@use "../../../styles/variables" as *;
@use "../../../styles/mixin" as *;

.topBanner {
  background-image: url("./img/top_banner_bg.webp");
  padding: 110px 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  @include for-laptops {
    padding: 150px 20px;
  }

  .banner_heading {
    margin-bottom: 20px;
  }

  .banner_subHeading {
    :global(p) {
      letter-spacing: 3px;
    }
  }
}

