@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.first_row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-white-73;
  box-shadow: 0px 0px 77px 0px $color-black-1a;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 0;
  background-image: url(./img/first-row-bg.svg);

  @include for-laptops {
    padding: 112px 20px 0;
  }

  .group_logo {
    max-width: 260px;
    width: 100%;
    height: auto;

    @include for-laptops {
      width: 366px;
      height: 62px;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px;

    @include for-laptops {
      max-height: 500px;
    }
  }

  .right_img {
    Img {
      height: auto;
      padding-top: 32px;

      @include for-laptops {
        height: 625px;
        padding-top: 0px;
      }
    }
  }

  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .first_row_title {
    padding-top: 16px;
    padding-bottom: 0px;

    @include for-laptops {
      padding-top: 48px;
      padding-bottom: 20px;
    }
  }

  .first_row_button {
    padding-top: 16px;
    gap: 12px;
    justify-content: center;

    @include for-laptops {
      padding-top: 48px;
      gap: 26px;
      justify-content: start;
    }
  }
}

.second_row {
  background: linear-gradient(
    180deg,
    #1c5af4 0%,
    $color-cyan-blue 77%,
    #18187f 100%
  );
  position: relative;
  padding: 50px 20px !important;

  @include for-laptops {
    padding: 90px 20px;
  }

  .section {
    margin: auto;
    gap: 10px;
    justify-content: center;
    // flex-wrap: wrap;
    width: 100%;

    @include for-laptops {
      width: initial;
    }

    .card {
      width: calc(100% / 3 - 4px);
      max-width: 100%;
      background-color: $color-white-1a;
      border-radius: 10px;
      box-shadow: 0px 0px 29.66px 0px $color-black-0d;
      display: flex;
      flex-direction: column;
      align-items: center;

      .outerCard {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;

        @include for-laptops {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        img {
          height: 22px;
          width: 22px;

          @include for-laptops {
            height: 51px;
            width: 51px;
          }
        }
      }

      .innerCard {
        box-shadow: 0px 0px 29.66px 0px $color-black-0d;
        width: 100%;
        padding: 4px;
        text-align: center;
      }

      // 👇 Responsive widths
      @include for-laptops {
        width: 300px;
      }

      @include for-tablet {
        width: 180px;
      }
    }

    @include for-laptops {
      gap: 65px;
      flex-wrap: wrap;
    }
  }

  .inner-content {
    background: $color-white;
    /* inner background */
    padding: 11px 14px;
    border-radius: 10px;
    /* slightly smaller radius */
  }
}

.third_row {
  width: 100%;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px;
  }

  .section {
    margin-bottom: 50px;
  }

  .scrollCard {
    // margin-left: 10px;
    margin-bottom: 20px;

    @include for-laptops {
      margin-left: 20px;
      margin-bottom: 50px;
    }
  }

  .scrollCard:last-child {
    margin-bottom: 0;
  }

  .first_container,
  .second_container,
  .third_container {
    position: relative;
    z-index: 2;

    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -50px;

      @include for-laptops {
        top: -50px;
        left: 200px;
      }
    }
  }

  .list_button {
    padding-left: 48px;
    padding-top: 20px;
    margin-bottom: 20px !important;

    @include for-laptops {
      padding-left: 88px;
    }
  }

  :global(img) {
    height: auto;
  }

  .approvedImage {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;

    @include for-laptops {
      right: 40px;
      display: block;
    }
  }
}

.fourth_row {
  padding: 0px 20px;

  @include for-laptops {
    padding: 0px 20px;
  }

  .section {
    gap: 20px;
    padding: 50px 20px 26px;
    background-color: $color-sky-hint;

    @include for-laptops {
      padding: 90px 100px 74px;
      gap: 50px;
    }
  }
}

.other_products {
  background: $color-white;
  padding: 0px 20px 26px;

  @include for-laptops {
    padding: 0px 20px 66px;
  }
}
