@import "/styles/variables";
@import "/styles/mixin";

.card_body {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100%;
  border-radius: 15px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 70px;
  white-space: normal;
  transition: all 0.3s ease;
  background-color: $color-indi-volt;
  cursor: pointer;
  @include for-laptops {
    width: 400px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @include for-window-zoomed-screens{
      width: 80px;
      height: 80px;
    }
  }
}
