@import "../../../styles/mixin";
@import "../../../styles/variables";

.product_row {
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $color-light-shade-grey;
  }
}

.product_name {
  font-size: 27px;
  line-height: 45px;
  color: $color-equity-blue;
}

.product_description {
  font-size: 14px;
  line-height: 17px;
  color: $color-equity-blue;
}


