@import "../../../styles/mixin";
@import "../../../styles/variables";

.product_row {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $color-light-shade-grey;
  }
}

.product_name {
  font-size: 23px;
  line-height: 41px;
  color: $color-equity-blue;
}

.product_description {
  font-size: 12px;
  line-height: 15px;
  color: $color-equity-blue;
}

.box_shadow_left {
  height: 100%;
  width: 20px;
  background: radial-gradient(
    70% 401.51% at -38.04% 47.74%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.resource_modal_blog_title {
  font-size: 17px;
  font-weight: 700;
}

.resources_grid_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}
