@import "../../../styles/mixin";
@import "../../../styles/variables";

.sub_products_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  column-gap: 55px;
}

.sub_product_row {
  color: $color-secondry-grey;
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: $color-light-shade-grey;
    color: $color-indi-volt;
  }
}

.sub_product_title {
  font-size: 27px;
  padding-right: 30px;
  color: $color-equity-blue;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.sub_product_name {
  font-size: 25px;
  line-height: 30px;
}

.sub_product_description {
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.box_shadow_left {
  height: 100%;
  width: 20px;
  background: radial-gradient(
    70% 401.51% at -38.04% 47.74%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.empty_state_image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 65%;
  height: 85px;
  color: $color-electric-green;
  font-size: 27px;
  line-height: 23px;
}
