@import "../../../styles/mixin";
@import "../../../styles/variables";

.container {
  height: 500px;
  position: relative;
  width: 72%;
}

.sub_products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  column-gap: 7px;
  a {
    text-decoration: none;
  }
}

.receivablesScroll{
  max-height: 365px;
  overflow-y: scroll;
}

.sub_product_row {
  color: $color-secondry-grey;
  cursor: pointer;
  padding: 10px;
}

.color_image_visible {
  opacity: 1;
  animation: fadeIn 0.3s ease-in forwards;
}

.default_image_visible {
  opacity: 1;
}

.image_hidden {
  opacity: 0;
  position: absolute;
}

.sub_product_title {
  font-size: 26px;
  padding-right: 30px;
  text-decoration: underline !important;
  text-underline-offset: 8px;
  @include for-window-zoomed-screens {
    font-size: 23px;
    line-height: 27px;
  }
}

.sub_product_name {
  font-size: 18px;
  line-height: 20px;
}

.sub_product_description {
  font-size: 11px;
  line-height: 16px;
  margin-top: 3px;
}

.box_shadow_left {
  height: 100%;
  width: 20px;
  background: radial-gradient(
    70% 401.51% at -38.04% 47.74%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.footer {
  padding-left: 5%;
  padding-right: 10%;
  position: absolute;
  bottom: 0px;
  height: 85px;
  width: 102%;
  color: $color-electric-green;
  font-weight: 600;
  background-color: $color-equity-blue;
  .explore {
    cursor: pointer;
    color: $color-electric-green;
  }
  a {
    text-decoration: none;
  }
  .footer_text {
    font-size: 21px;
  }
}

.powered {
  position: absolute;
  right: 30px;
  bottom: 100px;
  font-size: 14px;
  color: $color-secondry-grey;
}

@keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bottom_to_top {
  animation: bottom-to-top 0.5s ease-in-out forwards;
}

.top_to_bottom {
  animation: top-to-bottom 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background_slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-light-shade-grey;
  border-radius: inherit;
  z-index: -1;
  border-radius: 10px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  padding: 15px;
}

.color_highlight {
  color: $color-black;
}

.olympus_footer_bg {
  background: url(../img/olympus-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.freedom_footer_bg {
  background: url(../img/freedom-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.xpenz_footer_bg {
  background: url(../img/xpenz-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.loyalty_footer_bg {
  background: url(../img/loyalty-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
