@import "../../styles/mixin";
@import "../../styles/variables";

.contactBlock {
  color: white;
  border-radius: 1rem;
  margin: 0 auto;

  .topSection {
    text-align: center;
    background: $primary-gradient;
    padding: 48px;
    padding-bottom: 32px;
    border-radius: 16px 16px 0px 0px;

    h2 {
      font-size: 44px;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    p {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .contactSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    background: white;
    padding: 42px;
    color: black;
    border-radius: 0px 0px 16px 16px;

    .contactItem {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 22px;
      color: $color-main-grey;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .icon {
        color: white;
      }
    }
  }
}
