@import "/styles/variables";
@import "/styles/mixin";

.card_body {
  width: 250px;
  height: 100%;
  border: 2px solid $color-black;
  border-radius: 22.5px;
  white-space: normal;
  text-align: left;
  @include bp-md {
    width: 400px;
  }
}
