@use "./../../styles/mixin" as *;

.partner_section_inner {
  background: rgba(255, 255, 255, 0.84);
  overflow: hidden;
  border-radius: 10px;

  .partner_top_section {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: #1b4cd9;

    @include for-laptops {
      padding: 20px 50px;
    }

    &::after {
      background: linear-gradient(90deg,
          rgb(28, 90, 244) 0%,
          rgba(0, 162, 255, 0.67) 20%,
          rgb(28, 90, 244) 78%,
          rgb(0, 162, 255) 100%);
      content: "";
      top: 0px;
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      z-index: -1;
    }
  }

  .partner_badge {
    background: linear-gradient(-90deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 100%);
    padding: 5px 10px;
    color: #1c5af4;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .partner_bottom_section {
    padding: 20px;

    @include for-laptops {
      padding: 20px 50px;
    }

    .partnerList {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      max-width: 400px;

      :global(h6) {
        font-size: 20px;
        font-weight: 500;
      }

      :global(img) {
        width: 30px;
        height: 30px;
      }
    }

    .buttons {
      border: 2px solid #1c5af4;
      border-radius: 5px;
      padding: 8px 16px;
      text-decoration: none;
      margin-top: 5px;
      display: inline-block;
      transition: all 0.3s ease;
      color: #000;

      :global(svg) {
        margin-left: 10px;
      }

      &:hover {
        background: #1c5af4;
        color: #fff;

        :global(path) {
          stroke: #fff;
        }
      }
    }
  }
}