@import "../../../../styles/variables";
@import "../../../../styles/mixin";

.web_only {
  display: none;
  @include for-laptops {
    display: block;
  }
}
.mobile_only {
  display: block;
  display: flex;
  justify-content: center;
  @include for-laptops {
    display: none;
  }
}

.first_row {
  position: relative;
  background-color: $color-bolt-light;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 36px;
  padding-bottom: 36px;
  @include for-laptops {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 190px;
    padding-bottom: 80px;
  }

  .lottie_container {
    width: 350px;
    margin-top: 20px;
    height: auto;
    padding: 40px 0;
    @include for-laptops {
      padding: 0 20px; //remove this also
      margin-top: -60px;
      width: 650px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.first_row_category {
  position: relative;
  background-color: $color-indi-volt;
  padding-top: 0;
  padding-bottom: 0;
  @include for-laptops {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}

.second_row {
  position: relative;
  background-color: $color-indi-volt;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 36px;
  padding-bottom: 36px;
  @include for-laptops {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.error_container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bolt-light;
}

.voucher_detail_container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1150px;
}

.top_container {
  position: relative;
  background-color: #f4fcff;
  padding: 10px 20px 80px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  @include for-laptops {
    padding: 30px 30px 80px;
  }
  .back_button {
    padding: 0px 0px;
    @include for-laptops {
      padding: 0px 30px;
    }
    a {
      display: flex;
      text-decoration: none;
      font-size: 18px;
      color: $color-bolt-title-grey;

      img {
        width: 25px;
        height: auto;
      }
    }
  }

  .voucher_image_section {
    background-image: url(./../../img/voucher-detail-bg.svg);
    background-size: 100%;
    height: 330px;
    margin: 0 0px 40px;

    .discount_bar {
      position: absolute;
      top: 125px;
      left: 98px;
      display: flex;
      font-size: 28px;
      font-weight: 700;
      font-style: italic;
      color: $color-white;
      span {
        color: $color-bolt-green;
      }

      .brand_name {
        padding-left: 60px;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        width: 420px;
      }
    }

    .voucher_image {
      border-radius: 21px;
      overflow: hidden;
      border: solid 3px white;
      width: 326px;
      height: 205px;
      position: absolute;
      top: 164px;
      right: 142px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      img {
        width: auto;
        height: 100%;
      }
    }

    .voucher_name {
      position: absolute;
      top: 190px;
      left: 100px;
      font-size: 38px;
      font-weight: 700;
      max-width: 300px;
      color: #18187f;
    }
    .voucher_name_wide {
      max-width: 380px;
    }
    .voucher_name_widest {
      max-width: 450px;
    }

    .buy_now_button {
      position: absolute;
      background: $color-equity-blue;
      padding: 7px 18px;
      border-radius: 4px;
      top: 340px;
      left: 101px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.25),
          0 8px 30px 0 rgba(0, 0, 0, 0.22);
      }
      a {
        font-size: 18px;
        text-decoration: none;
        color: $color-white;
        font-weight: 600;
      }
    }
  }
}

.detail_section {
  padding: 0 5px;
  color: $color-bolt-title-grey;
  .description_title {
    font-weight: 600;
    font-size: 22px;
  }
  @include for-laptops {
    padding: 0 40px;
  }
  a {
    color: $color-black;
  }
}

.bottom_container {
  position: relative;
  background-color: #d5f4ff;
  padding: 40px 30px 80px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.bottom_zigzag {
  position: absolute;
  bottom: -23px;
  left: -25px;
  img {
    height: 85px;
    width: auto;
  }
}
