@import "/styles/variables";
@import "/styles/mixin";

.contact_us_body {
  display: flex;
  background: $color-white;
  border-top: 1px solid $color-black;

  .text_container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .image_container {
    width: 50%;
    img {
      height: 400px;
    }
  }
}
