@import "/styles/variables";
@import "/styles/mixin";

.contact_us_body {
  background-image: url(./img/contact-us-spiral-img.png);
  background-repeat: no-repeat;
  background-color: $color-white;
  @include bp-md {
    background-size: 80% 100%;
  }
}
