@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.gst_calclulator {
  input {
    font-size: 16px;
    border: 1px solid #5b5b5b;
    @include for-laptops {
      width: 265px;
    }
  }
  select {
    font-size: 16px;
    border: 1px solid #5b5b5b;
    @include for-laptops {
      width: 265px;
    }
  }
}
.gst_calclulator {
  justify-content: center;
  padding: 32px 40px;

  background-color: #fff;
  border-radius: 12px;
  margin-top: 3rem;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
.ifsc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.address {
  grid-row: span 2; // ROW SPAN 2
}
