@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;
.policy {
  padding: 90px 20px 46px;
  @include for-laptops {
    padding: 112px 20px 50px;
  }
  .policyBox {
    border-radius: 12px;
    background-color: $color-white;
    padding: 20px;
    box-shadow: 0px 0px 29.66px 0px #0000000d;
    @include for-laptops {
      padding: 32px 118px 65px 118px;
    }
    .policyBoxTitle {
      padding: 14px;
      border: 12px;
      border-radius: 12px;
      box-shadow: 0px 0px 29.66px 0px #0000000d;
    }

    .cardList {
      margin: 12px;
      gap: 20px;
      @include for-laptops {
        margin: 32px;
        gap: 0px;
      }
    }
    .ctaButtonSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .ctaButtonBox {
        flex: 1;
        text-wrap: nowrap;
        :global(button) {
          box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
          border: none;
          padding: 8px 16px;
          font-weight: 400;
          justify-content: center;
          max-width: max-content;
          @include for-laptops {
            width: 100% !important;
          }
        }
      }
    }
  }
  .tabBar {
    margin-bottom: 20px;
  }

  .tab {
    position: relative;
    height: 6px; // just a thin bar
  }

  .activeTab {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%; // full col width (same as card)
      background: #1c5af4;
      border-radius: 2px;
      animation: stepLine 0.3s steps(3) forwards;
    }
  }
  @keyframes stepLine {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
