@import "../../styles/variables";
@import "../../styles/mixin";

.banner_heading {
  font-weight: 700;
  color: $color-rainy-blue;
}

.growth_row {
  background-color: $color-white;
}

.leadership {
  background-color: $color-white;
}
