@import "../../styles/mixin";
@import "../../styles/variables";

.home_container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 250px;

  @include for-laptops {
    padding-bottom: 150px;
  }

  .title {
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    position: relative;
    height: 370px;
    border: 2.7px solid #fffbfb;
    background: linear-gradient(
      324deg,
      #1c5af4 2.33%,
      rgba(11, 11, 40, 0.25) 85.63%
    );
    backdrop-filter: blur(3.210831880569458px);
    display: flex;
    @include for-laptops {
      flex-direction: column;
    }
    .left_row {
      width: 100%;
      padding-left: 20px;
      @include for-laptops {
        padding: 0;
        padding: 40px 40px 40px 80px;
        width: 43%;
      }
    }
  }

  .right_row {
    position: absolute;
    right: 0;
    top: 250px;
    width: 100%;
    @include for-laptops {
      top: -70px;
      width: 57%;
    }
    img {
      height: 300px;
      @include for-laptops {
        height: 550px;
      }
    }
    .content {
      position: absolute;
      left: 40%;
      top: 0;
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include for-laptops {
        left: 30%;
        width: 57%;
      }
      img {
        height: 50px;
        width: 70px;
        @include for-laptops {
          height: 100px;
          width: 120px;
        }
      }
    }
  }

  .card_img {
    width: 40px;
    @include for-laptops {
      width: 100px;
    }
  }
}
