@use "/styles/mixin" as *;
@use "/styles/variables" as *;

.home_container {
  position: relative;

  .card {
    padding: 20px; // Base mobile padding
    border-radius: 12px;

    @include for-laptops {
      padding: 66px 80px 40px 80px;
    }

    .card_container {
      position: relative;
      z-index: 2;
      border-radius: 12px;
      padding-bottom: 72px;
      align-items: center;

      @include for-laptops {
        margin-top: 0;
      }

      .progress_bar {
        position: absolute;
        bottom: 10px; // tighter for mobile

        .bar {
          width: 20px;
          height: 6px;
          margin-right: 4px;

          @include for-laptops {
            width: 30px;
            height: 8px;
          }
        }
      }

      .title {
        color: $color-white;
        font-size: 18px;
        letter-spacing: -0.04em;
        text-align: left;

        @include for-laptops {
          font-size: 28px;
        }

        @include for-window-zoomed-screens {
          font-size: 18px;
        }
      }

      .subtitle {
        color: $color-dark-grey;
        font-size: 12px;
        letter-spacing: -0.04em;
        text-align: left;

        @include for-laptops {
          font-size: 14px;
        }

        @include for-window-zoomed-screens {
          font-size: 14px;
        }
      }

      .icon_img {
        height: 32px;
        width: auto;
        margin: 4px 0;

        @include for-laptops {
          height: 55px;
          margin: 0 25px 0 0;
        }
      }

      .right_img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .img_container {
      position: relative;
      z-index: 1;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

        @include for-laptops {
          height: 100%;
        }
      }
    }
  }
}
