@import "/styles/mixin";
@import "/styles/variables";

.home_container {
  position: relative;
  .card {
    @include bp-md {
      padding-left: 80px;
      padding-right: 80px;
    }
    .card_container {
      position: relative;
      z-index: 2;
      padding: 40px;
      margin-top: -10px;
      border-radius: 14.51px;
      background: #0b0b28;
      background: $color-indi-volt;
      height: 380px;
      border: 2px solid $color-night-blue;
      @include bp-md {
        height: 400px;
        margin-left: -60px;
        width: 50%;
        margin-top: 0px;
      }
      .progress_bar {
        position: absolute;
        bottom: 20px;

        @include bp-md {
          bottom: 20px;
          left: 40%;
        }
        .bar {
          width: 30px;
          height: 8px;
          margin-right: 4px;
        }
      }
      .heading {
        color: $color-white;
        font-size: 16px;
        @include bp-md {
          font-size: 22px;
        }
      }
      .icon_img {
        height: 60px;
        width: auto;
        margin-bottom: 20px;
        margin-top: 20px;

        @include bp-md {
          height: 70px;
          width: auto;
          margin-bottom: 0px;
          margin-right: 25px;
          margin-top: 0px;
        }
      }
    }
    .img_container {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 200px;
      @include bp-md {
        height: 400px;
        width: 50%;
      }
      img {
        height: auto;
        width: 100%;
        border-radius: 10px;
        @include bp-md {
          height: 100%;
        }
      }
    }
  }
}
