@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

// Breadcrumb.module.scss
.breadcrumb {
  // padding: 4px 10px 4px 0px;
  background-image: url("/images/assets/breadcrum-bg.svg");
  background-repeat: no-repeat;
  background-position: 100%;

  @include for-laptops {
    height: auto;
    // padding: 5px 10px 5px 0px;
    background-position: -20%;
    // height: 40px;
  }
}

.list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 10px 0 0 ;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  text-wrap: nowrap !important;
  font-size: 12px !important;
  color: #5b5b5b;

  @include for-laptops {
    font-size: 16px !important;
  }
}

.backIcon {
  margin-right: 16px;
  color: #007bff;
  width: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.link {
  text-decoration: none;
  &.white {
    color: $color-white;
  }

  &.black {
    color: $color-secondry-black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.current {
  color: $color-equity-blue;
  font-size: 12px;
  font-weight: 400;

  @include for-laptops {
    font-size: 16px;
  }
}

.separator {
  margin: 0 2px;
  color: #a5a5a5;
  @include for-laptops {
    margin: 0 8px;
  }
}
