@use "./variables" as *;
@use "./mixin" as *;

/* Background Classes */
.bg-deep-indigo {
  background-color: $color-deep-indigo;
}

.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-dark-midnight-blue {
  background-color: $color-dark-midnight-blue;
}

.bg-indi-volt {
  background-color: $color-indi-volt;
}

.bg-equity-blue {
  background-color: $color-equity-blue;
}

.bg-shadow-blue {
  background-color: $color-shadow-blue;
}

.bg-rainy-blue {
  background-color: $color-rainy-blue;
}

.bg-night-blue {
  background-color: $color-night-blue;
}

.bg-electric-green {
  background-color: $color-electric-green;
}

.bg-main-black {
  background-color: $color-main-black;
}

.bg-secondry-black {
  background-color: $color-secondry-black;
}

.bg-main-grey {
  background-color: $color-main-grey;
}

.bg-secondry-grey {
  background-color: $color-secondry-grey;
}

.bg-color-light-shade-grey {
  background-color: $color-light-shade-grey;
}

.bg-alternate-grey {
  background-color: $color-alternate-grey;
}

.bg-error-red {
  background-color: $color-error-red;
}

.bg-primary-gradient {
  background: $primary-gradient;
}

.bg-secondry-gradient {
  background: $secondry-gradient;
}

.bg-light-gradient {
  background: $light-gradient;
}

.bg-color-black-30 {
  background: $color-black-30;
}

/* Text Color Classes */
.color-deep-indigo {
  color: $color-deep-indigo;
}

.color-black {
  color: $color-black;
}

.color-white {
  color: $color-white;
}

.color-dark-midnight-blue {
  color: $color-dark-midnight-blue;
}

.color-indi-volt {
  color: $color-indi-volt;
}

.color-equity-blue {
  color: $color-equity-blue;
}

.color-rainy-blue {
  color: $color-rainy-blue;
}

.color-baby-blue {
  color: $color-baby-blue;
}

.color-cyan-blue {
  color: $color-cyan-blue;
}

.color-shadow-blue {
  color: $color-shadow-blue;
}

.color-electric-green {
  color: $color-electric-green;
}

.color-main-black {
  color: $color-main-black;
}

.color-secondry-black {
  color: $color-secondry-black;
}

.color-main-grey {
  color: $color-main-grey;
}

.color-light-shade-grey {
  color: $color-light-shade-grey;
}

.color-secondry-grey {
  color: $color-secondry-grey;
}

.color-alternate-grey {
  color: $color-alternate-grey;
}

.color-slate-grey {
  color: $color-slate-grey;
}

.color-pale-grey {
  color: $color-pale-grey;
}

.color-error-red {
  color: $color-error-red;
}

.color-bluish-purple {
  color: $color-bluish-purple;
}

.color-soft-mint {
  color: $color-soft-mint;
}

.bg-color-soft-mint {
  background-color: $color-soft-mint;
}

.color-pale-aqua {
  color: $color-pale-aqua;
}

.color-dark-grey {
  color: $color-dark-grey;
}

.color-black-16 {
  color: $color-black-16;
}

.color-grey-900 {
  color: $color-grey-900;
}

.color-grey-100 {
  color: $color-grey-100;
}

.color-grey-200 {
  color: $color-grey-200;
}

.color-dim-grey {
  color: $color-dim-grey;
}

.bg-black-200 {
  background-color: $color-black-200;
}
.bg-white-73 {
  background-color: $color-white-73;
}

/* Padding Classes */

.row-padding {
  padding: 20px;

  @include for-laptops {
    padding: 90px 90px;
  }

  @include for-window-zoomed-screens {
    padding: 80px 60px;
  }
}

.row-padding-bottom-none {
  padding: 36px 25px 0px 25px;

  @include for-laptops {
    padding: 110px 90px 0px 90px;
  }

  @include for-window-zoomed-screens {
    padding: 80px 60px 0px 60px;
  }
}

.row-padding-top-none {
  padding: 0px 25px 36px 25px;

  @include for-laptops {
    padding: 0px 90px 80px 90px;
  }

  @include for-window-zoomed-screens {
    padding: 0px 60px 50px 60px;
  }
}

.row-padding-x-only {
  padding: 0px 25px;

  @include for-laptops {
    padding: 0px 90px;
  }

  @include for-window-zoomed-screens {
    padding: 0px 60px;
  }
}

/* Header Configuration */

.mobile-header {
  display: block;

  @include for-laptops {
    display: none;
  }
}

.desktop-header {
  display: none;

  @include for-laptops {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    // padding-bottom: 100px;
  }
}

/* Top Level Classes */

html body {
  font-family: var(--font-inter), sans-serif;
}

body {
  overflow-x: scroll;
}

/* Common Vertical scroll*/

.scroll_container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 6px;
    background: $color-night-blue;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, $color-cyan-blue 30%, transparent 30%);
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, $color-cyan-blue, transparent);
  }
}

/* Other Classes */

.mobile-only {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;

  @media (min-width: 1024px) {
    display: revert !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.sup-symbol {
  display: inline;
  font-size: 11px;
  margin-bottom: 0;
  line-height: normal;
  margin-left: 2px;

  @include for-window-zoomed-screens {
    display: inline;
    font-size: 14px;
  }

  @include for-laptops {
    display: inline;
    font-size: 17px;
  }
}

.sup-symbol-large {
  display: inline;
  font-size: 16px;
  margin-bottom: 0;
  line-height: normal;
  margin-left: 2px;

  @include for-laptops {
    font-size: 35px;
  }

  @include for-window-zoomed-screens {
    font-size: 30px;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 12px;
  /* wider scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: $color-white;
  /* transparent track */
  border: 1px solid transparent;
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  /* blue */
  border-radius: 9999px;
  border: 1px solid transparent;
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: auto;
  /* use default scrollbar width */
}

.scrollbar-thin {
  /* Desktop scrollbar */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
    border: 1px solid transparent;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 9999px;
    border: 1px solid transparent;
  }

  /* Firefox */
  scrollbar-width: auto;
}

/* Mobile: hide scrollbar */
@media (max-width: 767px) {
  .scrollbar-thin {
    overflow: visible; // allow full height, no scroll
    max-height: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    display: none; // hide webkit scrollbar
  }
}

.gap-32 {
  gap: 8px;

  @include for-laptops {
    gap: 32px;
  }
}

.noBorder {
  border: none;
}

.max-w-auto {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.max-width-auto {
  max-width: 1200px;
  margin: auto;
}

.connectWithUs {
  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid $color-dark-grey;
    padding: 8px 20px;
    border-radius: 8px;
    align-items: center;
  }
}

.no-pointer {
  pointer-events: none;
}

.pointer-auto {
  pointer-events: auto;
}

.cardsSliderMargin {
  margin-top: 140px;
}

.card_stacking_row {
  padding: 0px 20px;
  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;
    @include for-laptops {
      padding: 90px 20px;
    }
  }
}
.calculator {
  input {
    width: 265px;
    font-size: 24px;
  }
  select {
    width: 265px;
    font-size: 24px;
  }
  label {
    font-size: 20px;
    font-weight: 600;
  }

  .secondRow {
    text-align: center;
  }
}
