.spacer {
  height: 1000px;
}

.cardStacking {
  overflow: hidden;
  padding: 60px 0;

  .stackCard {
    border-radius: 30px;
    position: relative;
    width: 100%;
    min-height: 450px;
    padding: 60px 35px;
    transform-origin: 50% -160%;
    background-color: white;
  }
}

.inner {
  img {
    position: relative !important;
  }
}
