@import "../../../styles/variables";
@import "../../../styles/mixin";

.first_row {
  margin-bottom: 80px;
  @include bp-md {
    padding-top: 170px;
  }
  .three_step_container {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    @include bp-md {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  .lottie_container {
    margin-top: 50px;
    width: 300px;
    @include bp-md {
      width: 450px;
      margin-right: -50px;
    }
  }
}
.third_row {
  padding-bottom: 50px;
  padding-top: 20px;
  @include bp-md {
    padding-bottom: 150px;
    padding-top: 20px;
  }
}

.fifth_row {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  @include bp-md {
    padding-bottom: 220px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      @include bp-md {
        height: 300px;
        display: flex;
      }
    }
  }
}

.seventh_row {
  background-color: $color-white;
  @include bp-md {
  }
}
