
@use "../../styles/mixin" as *;
.bottomCtaSection {
  .getStartedBox {
    background-image: url("./img/banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
    border-radius: 10px;
    @include for-laptops{
      padding: 50px;
    }

    .getStartedBoxInner {
      background: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 70%
      );
      padding: 20px 20px 30px;
      border-radius: 10px;
      max-width: 700px;
       @include for-laptops{
      padding: 50px;
    }
    }
    .content {
      :global(p)::before {
        content: "";
        width: 1.5px;
        height: 20px;
        margin-right: 10px;
        background: #00bf9e;
        display: inline-block;
        margin-bottom: -5px;
      }
    }
  }
  .buttons{
    padding-top: 20px;
    .ctaButton{
        background: #fff;
        padding: 10px 20px;
        border-radius: 8px;
        color:#1C5AF4;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
        text-decoration: none;
        font-weight: bold;
        svg{
            margin-left: 8px;
        }
    }
  }
}
