@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.breadcrumb {
  background-repeat: no-repeat;
  background-position: 100%;
  padding-top: 0;

  @include for-laptops {
    height: auto;

    background-position: -20%;
  }

  &.white {
    .link {
      color: $color-white;
    }

    .separator {
      color: $color-white;
    }

    // Keep .current blue (no override here)
  }
  &.allBlack {
    .link {
      color: $color-alternate-grey;
    } 
    .separator {
      color: $color-ash-greylite;
    } 
    .current {
      color: $color-alternate-grey !important;
    } 
  }
  &.allWhite {
    .link {
      color: $color-white;
    }

    .separator {
      color: $color-white;
    }

    .current {
      color: $color-white;
    }
  }
}

.list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  text-wrap: nowrap !important;
  font-size: 12px !important;
  color: $color-alternate-grey;

  @include for-laptops {
    font-size: 16px !important;
  }
}

.backIcon {
  margin-right: 16px;
  color: #007bff;
  width: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.link {
  text-decoration: none;

  &.black {
    color: $color-secondry-black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.current {
  color: $color-equity-blue; // default for normal + white mode
  font-size: 12px;
  font-weight: 400;

  @include for-laptops {
    font-size: 16px;
  }
}

.separator {
  margin: 0 2px;
  color: $color-alternate-grey;

  @include for-laptops {
    margin: 0 8px;
  }
}
