@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.slider_row {
  position: relative;
  text-align: center;
  padding: 50px 20px 50px;

  @include for-laptops {
    padding: 90px 20px 90px;
  }
}

.integration_section {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  text-align: center;

  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  .faq_bg {
    img {
      width: 698px;
      height: auto;
    }
  }

  .secondFaq {
    padding-bottom: 0px;

    @include for-laptops {
      padding-bottom: 172px;
    }
  }
}

.card_stacking_row {
  padding: 0px 20px;

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 0px 50px;
    }
  }
}
