@use "@/src/styles/mixin" as *;
@use "@/src/styles/variables" as *;

.mobile_talk_sales {
  z-index: 999;
  position: fixed;
  bottom: 0px;
  background: $color-white;
  width: 100%;
  padding: 8px 60px;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
  }
}