@import "/styles/variables";
@import "/styles/mixin";

.home_container {
  padding-top: 50px;
  background-color: $color-indi-volt;
  @include bp-md {
    padding-top: 100px;
  }
}

.bg_rainbow {
  background-image: url(img/blue-rainbow.png);

  background-repeat: no-repeat;
  background-position: center center;
  @include bp-md {
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.first_row {
  position: relative;
  height: 700px;

  > * {
    opacity: 1;
    //animation: fadeInUp 0.8s forwards;
  }

  .first_text {
    position: absolute;
    top: 92px;
    z-index: 1;
    animation-delay: 0.2s;
  }

  .rainbow_one {
    position: absolute;
    top: 130px;
    height: 100px;
    z-index: 2;
    animation-delay: 0.4s;
    @include bp-md {
      height: 400px;
      top: 180px;
    }
  }

  .second_text {
    position: absolute;
    top: 208px;
    z-index: 3;
    animation-delay: 0.6s;
  }

  .rainbow_two {
    position: absolute;
    top: 290px;
    height: 100px;
    z-index: 4;
    animation-delay: 0.8s;
    @include bp-md {
      height: 400px;
    }
  }

  .third_text {
    position: absolute;
    top: 320px;
    z-index: 5;
    animation-delay: 1s;
  }

  .rainbow_three {
    position: absolute;
    top: 400px;
    height: 150px;
    z-index: 6;
    animation-delay: 1.2s;
    @include bp-md {
      height: 400px;
    }
  }

  .description_text {
    position: absolute;
    top: 470px;
    z-index: 7;
    animation-delay: 1.4s;
  }

  .button_container {
    position: absolute;
    top: 570px;
    z-index: 7;
    animation-delay: 1.6s;
  }
}

.second_row {
  .email_box {
    margin-top: 120px;
    border: 2px solid $color-equity-blue;
    border-radius: 30px;
    color: $color-white;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    input {
      padding: 0;
      background: transparent;
      border: none;
      color: $color-white;
      &:focus {
        outline: none;
      }
      @include bp-md {
        padding-left: 30px;
        padding-right: 80px;
      }
    }
    ::placeholder {
      color: $color-white;
    }
  }
}

.third_row {
  position: relative;
  height: 1300px;
  display: flex;
  justify-content: center;

  .action_container {
    display: flex;
    justify-content: space-evenly;
    top: 320px;
    position: absolute;
    width: 900px;
    z-index: 4;
  }
  .image_container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 380px;
    img {
      width: 1100px;
    }
    z-index: 4;
  }
  .descrption_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 1120px;
  }

  .polygon_one {
    position: absolute;
    top: 230px;
    opacity: 0;
    transform: translateY(100%);
  }
  .polygon_two {
    position: absolute;
    top: 390px;
    opacity: 0;
    transform: translateY(100%);
  }
  .polygon_three {
    position: absolute;
    top: 550px;
    opacity: 0;
    transform: translateY(100%);
  }

  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slideIn {
    animation: slideInFromBottom 2s forwards;
  }

  .polygon_two.slideIn {
    animation-delay: 2.5s;
  }

  .polygon_three.slideIn {
    animation-delay: 3.5s;
  }
}

.fourth_row {
  overflow: hidden;
  width: auto;
  position: relative;

  .img_container {
    margin-bottom: 250px;
    padding-top: 100px;
  }

  .desktop_img {
    width: 100%;
    height: auto;
    @include bp-md {
      width: 600px;
      height: 600px;
      position: absolute;
      right: 0px;
    }
  }
}

.seventh_row {
  position: relative;
  .card {
    padding: 0;
    @include bp-md {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .card_container {
    z-index: 2;
    padding: 30px;
    border-radius: 14.51px;
    border: 1.935px solid #092093;
    background: #0b0b28;
    background: $color-indi-volt;
    width: 70%;

    @include bp-md {
      width: 50%;
      margin-right: -20px;
    }
  }
  img {
    z-index: 1;
    width: 70%;
    @include bp-md {
      width: 50%;
    }
    height: 100%;
    margin-top: -10px;
    @include bp-md {
      margin-top: 0px;
    }
  }
}

.ninth_row {
  .blue_grad_bg_left {
    background: radial-gradient(
      33.38% 50% at 40% 45%,
      #1c5af4 0%,
      rgba(28, 90, 244, 0.5) 57.29%,
      rgba(255, 255, 255, 0) 84.9%
    );
  }
  .blue_grad_bg_bottom {
    background: radial-gradient(
      33.38% 50% at 40% 60%,
      #1c5af4 0%,
      rgba(28, 90, 244, 0.5) 57.29%,
      rgba(255, 255, 255, 0) 84.9%
    );
  }
}

.eleventh_row {
  .steps_img {
    width: 60px;
    height: 60px;
  }
  .steps {
    margin-bottom: 10px;
    margin-left: 80px;
    @include bp-md {
      margin: 0;
    }
  }

  .steps_img {
    width: 60px;
    height: 60px;
  }
}

.twelfth_row {
  .scroll_container {
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 6px;
      background: #092093;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #61d6ff 30%, transparent 30%);
    }
  }
  .card {
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

.thirteenth_row {
  .blue_grad_bg {
    background: radial-gradient(
      34.33% 44.33% at 60% 50%,
      #1c5af4 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.fourteenth_row {
  .box {
    border: 2px solid $color-black;
    border-radius: 20px;
    @include bp-md {
      margin: 0;
    }
  }
  .box_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include bp-md {
      padding: 20px 30px;
      width: 33%;
    }
  }
}

.fifthteen_row {
  .title {
    background: url(img/black-rectangle-top.png);
    z-index: 2;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .image_section {
    margin-top: -200px;
    z-index: 1;
    position: relative;
    padding-right: 80px;
  }

  .testimonials_section {
    padding-left: 180px;
    padding-right: 100px;
  }
}
