@import "/styles/variables";
@import "/styles/mixin";

.home_container {
  padding-top: 50px;
  background-color: $color-indi-volt;
  @include bp-md {
    padding-top: 100px;
  }
}

.bg_rainbow {
  background-image: url(img/blue-rainbow.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.first_row {
  position: relative;
  height: 700px;

  .first_text {
    position: absolute;
    top: 92px;
    z-index: 1;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 0.2s;
  }

  .rainbow_one {
    position: absolute;
    top: 130px;
    height: 100px;
    z-index: 2;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 0.4s;
    @include bp-md {
      height: 400px;
      top: 180px;
    }
  }

  .second_text {
    position: absolute;
    top: 145px;
    z-index: 3;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 0.6s;
    @include bp-md {
      top: 208px;
    }
  }

  .rainbow_two {
    position: absolute;
    top: 180px;
    height: 100px;
    z-index: 4;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 0.8s;
    @include bp-md {
      height: 400px;
      top: 290px;
    }
  }

  .third_text {
    position: absolute;
    top: 195px;
    z-index: 5;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 1s;
    @include bp-md {
      top: 320px;
    }
  }

  .rainbow_three {
    position: absolute;
    top: 230px;
    height: 90px;
    z-index: 6;
    opacity: 0;
    animation: slideFromBottom 1.3s forwards;
    animation-delay: 1.2s;
    @include bp-md {
      height: 300px;
      top: 400px;
    }
  }

  .description_text {
    display: none;
    @include bp-md {
      display: block;
      position: absolute;
      z-index: 7;
      opacity: 0;
      animation: fadeIn 1.3s forwards;
      animation-delay: 1.4s;
      top: 470px;
    }
  }

  .description_text_mobile {
    position: absolute;
    top: 310px;
    z-index: 7;
    // animation-delay: 1.4s;
    @include bp-md {
      display: none;
    }
  }

  .button_container {
    position: absolute;
    top: 450px;
    z-index: 7;
    opacity: 0;
    animation: fadeIn 1.3s forwards;
    animation-delay: 1.8s;
    @include bp-md {
      top: 570px;
    }
  }
  .down_arrow {
    position: absolute;
    top: 550px;
    @include bp-md {
      display: none;
    }
  }
}

.second_row {
  .steps_image {
    width: 23px;
    height: 23px;
    @include bp-md {
      width: 41px;
      height: 41px;
    }
  }
  .action_image_stack {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }
  .action_image_user_tick {
    width: 45px;
    height: 40px;
    @include bp-md {
      width: 90px;
      height: 79px;
    }
  }
  .action_image_user_plus {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }
  .email_box {
    margin-top: 20px;
    border: 2px solid $color-equity-blue;
    border-radius: 30px;
    color: $color-white;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    @include bp-md {
      font-size: 20px;
      margin-top: 120px;
    }
    input {
      padding: 0;
      background: transparent;
      border: none;
      color: $color-white;
      &:focus {
        outline: none;
      }
      @include bp-md {
        padding-left: 30px;
        padding-right: 80px;
      }
    }

    ::placeholder {
      color: $color-white;
    }
  }
  .steps {
    @include bp-md {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
  }
}

.third_row {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  @include bp-md {
    height: 1300px;
  }

  .action_container {
    display: flex;
    top: 80px;
    position: absolute;
    z-index: 4;
    right: 10px;
    @include bp-md {
      justify-content: space-evenly;
      width: 900px;
      top: 320px;
      right: auto;
    }
  }
  .image_container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    img {
      width: 1100px;
    }
    z-index: 4;
    left: 0;
    @include bp-md {
      top: 380px;
    }
  }
  .descrption_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 270px;
    @include bp-md {
      top: 1120px;
    }
  }

  .polygon_one {
    position: absolute;
    top: 30px;
    opacity: 0;
    transform: translateY(100%);
    height: 100px;
    @include bp-md {
      top: 230px;
      height: auto;
    }
  }
  .polygon_two {
    position: absolute;
    top: 60px;
    opacity: 0;
    transform: translateY(100%);
    height: 100px;
    @include bp-md {
      top: 390px;
      height: auto;
    }
  }
  .polygon_three {
    position: absolute;
    top: 90px;
    opacity: 0;
    height: 100px;
    transform: translateY(100%);
    height: 100px;

    @include bp-md {
      top: 550px;
      height: auto;
    }
  }

  .space {
    margin-bottom: 5px;
    @include bp-md {
      display: none;
    }
  }

  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slideIn {
    animation: slideInFromBottom 2.5s forwards;
  }

  .polygon_two.slideIn {
    animation-delay: 1.5s;
  }

  .polygon_three.slideIn {
    animation-delay: 2s;
  }
}

.fourth_row {
  overflow: hidden;
  width: auto;
  position: relative;

  .bank_logo {
    overflow-x: auto;
  }

  .icons {
    height: 26px;
    width: 26px;
    @include bp-md {
      height: 55px;
      width: 55px;
    }
  }

  .img_container {
    margin-bottom: 50px;
    padding-top: 0;
    @include bp-md {
      padding-top: 100px;
      margin-bottom: 250px;
    }
  }

  .desktop_img {
    width: 100%;
    height: auto;
    @include bp-md {
      width: 600px;
      height: 600px;
      position: absolute;
      right: 0px;
    }
  }
}

.seventh_row {
  position: relative;
  .card {
    padding: 0;
    @include bp-md {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .card_container {
    z-index: 2;
    padding: 30px;
    border-radius: 14.51px;
    border: 1.935px solid #092093;
    background: #0b0b28;
    background: $color-indi-volt;
    margin-top: -20px;
    @include bp-md {
      width: 50%;
      margin-top: 0;
      margin-right: -20px;
    }
  }
  .img_container {
    z-index: 1;
    @include bp-md {
      height: 400px;
    }
  }
}

.ninth_row {
  .blue_grad_bg_left {
    background: radial-gradient(
      33.38% 50% at 40% 45%,
      #1c5af4 0%,
      rgba(28, 90, 244, 0.5) 57.29%,
      rgba(255, 255, 255, 0) 84.9%
    );
  }
  .blue_grad_bg_bottom {
    background: radial-gradient(
      33.38% 50% at 40% 60%,
      #1c5af4 0%,
      rgba(28, 90, 244, 0.5) 57.29%,
      rgba(255, 255, 255, 0) 84.9%
    );
  }
}

.eleventh_row {
  .steps_image {
    width: 23px;
    height: 23px;
    @include bp-md {
      width: 41px;
      height: 41px;
    }
  }
  .action_image_stack {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }
  .action_image_user_tick {
    width: 45px;
    height: 40px;
    @include bp-md {
      width: 90px;
      height: 79px;
    }
  }
  .action_image_user_plus {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }

  .steps {
    margin-bottom: 10px;
    margin-left: 80px;
    @include bp-md {
      margin: 0;
    }
  }
}

.twelfth_row {
  .scroll_container {
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 6px;
      background: #092093;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #61d6ff 30%, transparent 30%);
    }
  }
  .card {
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

.thirteenth_row {
  .blue_grad_bg {
    background: radial-gradient(
      34.33% 44.33% at 60% 50%,
      #1c5af4 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.fourteenth_row {
  .box {
    border: 2px solid $color-black;
    border-radius: 20px;
    @include bp-md {
      margin: 0;
    }
  }
  .box_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include bp-md {
      padding: 20px 30px;
      width: 33%;
    }
  }
}

.fifthteen_row {
  .title {
    background: url(img/black-rectangle-top.png);
    z-index: 2;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .image_section {
    z-index: 1;
    position: relative;
    padding-right: 80px;
    @include bp-md {
      margin-top: -200px;
    }
  }

  .testimonials_section {
    padding-left: 50px;
    padding-right: 50px;
    @include bp-md {
      padding-left: 180px;
      padding-right: 100px;
    }
  }
  .mobile_testimonial {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 40px;
    @include bp-md {
      display: none;
    }
  }
  .desktop_testimonial {
    display: none;
    @include bp-md {
      display: block;
    }
  }
}
