@import "/styles/variables";

.home_container {
  padding-top: 100px;
}

.bg_rainbow {
  background-image: url(../public/blue-rainbow.png);
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.first_row {
  padding-top: 60px;
  padding-top: 60px;
}

.second_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 80px 140px 80px;
  text-align: center;
}

.third_row {
  padding-top: 60px;
}

.fourth_row {
  overflow: hidden;
  width: auto;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: $color-white;
  .iphone_img {
    position: absolute;
    right: 400px;
    top: 80px;
  }
  .desktop_img {
    position: absolute;
    right: -500px;
    top: 0;
  }
}

.fifth_row {
  padding: 150px 100px 150px 100px;
}

.sixth_row {
  padding: 100px 100px 50px 100px;
  background-color: $color-white;
}

.seventh_row {
  padding: 50px 200px 50px 200px;
  background-color: $color-white;
  .card_container {
    padding: 30px;
    background: $color-indi-volt;
    width: 60%;
  }
  .description {
    font-size: 20px;
    margin-top: 10px;
  }
  img {
    width: 50%;
    height: auto;
    margin-left: -10px;
  }
}

.eigth_row {
  padding: 50px 100px 100px 100px;
  background-color: $color-white;
}

.ninth_row {
  padding: 50px 100px 100px 100px;
  background-color: $color-white;
}

.tenth_row {
  padding: 0px 100px 0px 100px;
  background-color: $color-white;
}

.eleventh_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 80px 150px 80px;
  text-align: center;
}

.twelfth_row {
  background-color: $color-white;
  padding: 50px 150px 50px 100px;
  background-color: $color-white;
}

.thirteenth_row {
  background-color: $color-white;
  padding: 50px 100px 50px 100px;
  background-color: $color-white;
}
