@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.introduction_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  position: relative;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    // black with 50% opacity
    linear-gradient(90deg, rgba(97, 115, 247, 0) 0%, #0000 100%),
    url("./img/secongBg.png");

  @include for-laptops {
    padding: 56px 36px;
  }

  .second_row_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section {
    max-width: 1200px;
    margin: auto;
    gap: 20px;
    bottom: -35px;
    justify-content: center;
    right: 0;
    left: 0;
    z-index: 2;

    @include for-laptops {
      position: absolute;
      gap: 40px;
    }

    .card {
      width: 100%;
      max-width: 250px; // Still limits on larger screens
      min-width: 200px; // Optional: prevent it from getting too small
      flex: 1 1 200px; // allows cards to shrink and wrap
      background: $color-white;
      border-radius: 20px;
      padding: 20px;
      gap: 20px;
      box-shadow: 0px 20px 50px 0px #3440541a;

      .card_image {
        height: 48px;
        width: 48px;
      }
    }
  }
}

.cta_section {
  position: relative;
  text-align: center;
  padding: 50px 20px 26px;

  @include for-laptops {
    padding: 90px 20px 46px;
  }

  .list_button {
    @include for-laptops {
      margin-left: 60px;
    }
  }
}

.card_stacking_row {
  padding: 0px 20px;

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 0px 50px;
    }
  }
}
