@use './../../styles/mixin' as *;

.AboutOurStoryCard{
text-align: start;
color: #000;
@include for-laptops{

    padding: 0 30px;
}
.content{
    p{
        color: #2B2B2B;
        line-height: 28px;
    }
}
}