@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.features_section {
  width: 100%;
  padding: 50px 20px 0;
  background-color: $color-black-30;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  @include for-window-zoomed-screens {
    padding-left: 150px;
    padding-right: 150px;
  }

  .subtitle {
    padding-bottom: 24px;

    @include for-laptops {
      padding-bottom: 48px;
    }
  }
}

.use_case_section {
  width: 100%;
  padding: 50px 20px 0;
  padding-bottom: 0px;
  background-color: $color-white;

  @include for-laptops {
    padding: 90px 20px 0px;
  }

  .subtitle {
    padding-bottom: 24px;

    @include for-laptops {
      padding-bottom: 48px;
    }
  }
}

.card_stacking_row {
  padding: 0px 20px;

  @include for-laptops {
    padding: 90px 20px;
  }

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 20px;
    }
  }
}

.integration_section {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  .section {
    text-align: start;

    .faq_bg {
      Img {
        height: auto;

        @include for-laptops {
          max-width: 475px;
          height: auto;
          margin-top: -100px;
        }
      }
    }
  }
}