@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.hero_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-white-73;
  box-shadow: 0px 0px 77px 0px $color-black-1a;
  padding: 100px 20px 0px;
  background-image: url(./img/first-row-bg.jpg);
  @include for-laptops {
    padding: 112px 20px 0;
  }
  .group_logo {
    width: 250px;
    height: auto;
    @include for-laptops {
      width: 366px;
      height: 62px;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px;

    @include for-laptops {
      max-height: 500px;
    }
  }
  .right_img {
    Img {
      height: auto;
      padding-top: 32px;
      @include for-laptops {
        height: 625px;
        padding-top: 0px;
      }
    }
  }

  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .first_row_title {
    padding-top: 16px;
    padding-bottom: 0px;
    @include for-laptops {
      padding-top: 48px;
      padding-bottom: 20px;
    }
  }
  .first_row_button {
    padding-top: 16px;
    gap: 12px;

    @include for-laptops {
      padding-top: 48px;
      gap: 26px;
    }
  }
}

.introduction_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 36px;
  position: relative;
  background:
    linear-gradient(90deg, rgba(6, 99, 252, 0) 0%, #0663fc 100%),
    url(./img/secongBg.png);

  @include for-laptops {
    padding: 100px 90px 90px 150px;
  }

  .section {
    max-width: 1200px;
    margin: auto;
    gap: 10px;

    bottom: -65px;
    justify-content: center;
    right: 0;
    left: 0;
    z-index: 2;
    @include for-laptops {
      position: absolute;
      gap: 40px;
    }
    .card {
      width: 100%;
      max-width: 200px;
      min-width: 200px;
      flex: 1 1 200px;
      background: $color-white;
      border-radius: 12px;
      padding: 10px;
      gap: 10px;
      box-shadow: 0px 20px 50px 0px #3440541a;
      @include for-laptops {
        max-width: 300px;
        min-width: 200px;
        padding: 20px;
        gap: 20px;
        border-radius: 20px;
      }
      .card_image {
        height: 24px;
        width: 24px;
        @include for-laptops {
          height: 48px;
          width: 48px;
        }
      }
    }
  }
}

.third_row {
  width: 100%;
  padding: 50px 20px 0;
  background-color: $color-black-30;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  @include for-window-zoomed-screens {
    padding-left: 150px;
    padding-right: 150px;
  }

  .subtitle {
    padding-bottom: 24px;
    @include for-laptops {
      padding-bottom: 48px;
    }
  }
}

.fourth_row {
  width: 100%;
  padding: 50px 20px 0;
  padding-bottom: 0px;
  background-color: $color-white;

  @include for-laptops {
    padding: 90px 20px 0px;
  }

  .subtitle {
    padding-bottom: 24px;
    @include for-laptops {
      padding-bottom: 48px;
    }
  }
}

.fifth_row {
  background: linear-gradient(90deg, #1c5af4 0%, #10348e 100%);
  border-radius: 12px;
  position: relative;
  padding: 20px;
  @include for-laptops {
    padding: 58px;
  }
  .get_started_button {
    padding: 6px;
    border: 2px solid $color-bolt-green;
    border-radius: 12px;
    @include for-laptops {
      padding: 11px 14px;
    }
  }
}

.faq_new_row {
  background: $color-white;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      display: none;
      @include for-laptops {
        display: flex;
      }
    }
  }

  .faqData {
    width: 100%;
    @include for-laptops {
      width: 70%;
    }
  }
}

.other_products {
  background: $color-white;
  padding: 0px 20px 26px;
  @include for-laptops {
    padding: 0px 20px 66px;
  }
}

.card_stacking_row {
  padding: 0px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }
  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;
    @include for-laptops {
      padding: 90px 20px;
    }
  }
}
