@import "../../styles/mixin";
@import "../../styles/variables";

.container {
  @include for-laptops {
    padding-left: 150px;
    padding-right: 150px;
  }
  @include for-window-zoomed-screens {
    padding-left: 100px;
    padding-right: 100px;
  }

  a {
    text-decoration: none;
  }
}
.left_row {
  padding: 40px;
  margin-top: -20px;
  border-radius: 10px;
  border: 2px solid $color-night-blue;
  @include for-laptops {
    padding: 40px;
    width: 50%;
    margin-top: 0px;
  }
}
.right_row {
  @include for-laptops {
    margin-left: -20px;
    margin-top: 0;
    width: 50%;
  }
  margin-top: -10px;
  img {
    height: 100%;
  }
}

.action_container {
  cursor: pointer;
  img {
    width: 50px;
    transition: width 0.3s ease-in-out;
  }

  img:hover {
    width: 65px;
  }
}

.action_container:hover {
  img {
    width: 65px;
  }
}
