@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.hero_section {
  padding: 120px 20px 0;

  @include for-laptops {
    padding: 138px 20px 0;
  }


  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .title {
    text-align: center;
    padding-top: 16px;
  }

  .dashboard_img {
    max-width: 100%;
    height: auto;

    @include for-laptops {
      max-width: none;
      height: fit-content;
      width: 800px;
    }
  }

  .lottie_container {
    display: flex;
    justify-content: center;

    img {
      z-index: 1;
      max-width: 100%;
      height: auto;
      max-height: 430px;
      max-width: 287px;
    }
  }

  .lottie_container_bottom {
    height: 52px;
    background-color: $color-ash-grey;
    position: relative;
    width: calc(100% + 40px);
    margin-left: -20px;

    img,
    .podium_img {
      position: absolute;
      bottom: 0%; // stick podium ABOVE the grey strip
      left: 50%; // center horizontally
      transform: translateX(-50%);
      width: 423px; // your image width
      height: auto;
    }
  }
}

.use_case_section {
  background: linear-gradient(180deg, #2e2e2e 0%, #010205 100%);
  border-radius: 12px;
  position: relative;

  padding: 20px;

  @include for-laptops {
    padding: 58px;
  }

  .get_started_button {
    padding: 6px;
    border: 2px solid $color-bolt-green;
    border-radius: 12px;

    @include for-laptops {
      padding: 11px 14px;
    }
  }
}

.other_products {
  padding: 60px 20px 50px;

  @include for-laptops {
    padding: 80px 20px 66px;
  }
}

.features_section {
  padding: 0px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include for-laptops {
    gap: 46px;
    padding: 0px 20px 130px;
  }
}

.integration_section {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  .section {
    text-align: start;

    .faq_bg {
      Img {
        height: auto;

        @include for-laptops {
          max-width: 475px;
          height: auto;
          margin-top: -100px;
        }
      }
    }
  }
}

.card_stacking_row {
  padding: 40px 20px;

  @include for-laptops {
    padding: 57px 20px 54px;
  }

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 20px;
    }
  }
}