@import "../../styles/mixin";
@import "../../styles/variables";

.more_text {
  color: $color-black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  li,
  ul {
    font-size: 14px;
    @include bp-md {
      font-size: 18px;
    }
  }
}

.action_container {
  background: linear-gradient(
    282deg,
    #1c5af4 -10.83%,
    #092093 15.75%,
    rgba(11, 11, 40, 0) 29.74%
  );
  background-color: #0c0e4a;
  padding: 20px 30px;
  @include bp-md {
    padding: 30px 80px;
  }
}

.explore_text {
  display: flex;
  width: 95%;
  font-size: 15px;
  line-height: 20px;
  padding-right: 10px;
  margin: 0;
  @include bp-md {
    font-size: 40px;
    line-height: 35px;
  }
}

.normal {
  width: 25px;
  height: auto;
  @include bp-md {
    width: 40px;
  }
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotated {
  width: 30px;
  height: auto;
  @include bp-md {
    width: 40px;
  }
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.padding {
  opacity: 0;
  padding-left: 40px;
  padding-right: 40px;
  transition: padding 0.3s ease 0s;

  @include bp-md {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.expanded {
  opacity: 1;
  padding-top: 36px;
  padding-bottom: 36px;
  transition: padding 0.3s ease 0s;
  @include bp-md {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
