@use "/styles/mixin" as *;
@use "/styles/variables" as *;



/* Font weight utilities */
.f-2 {
  font-weight: 200;
}

.f-3 {
  font-weight: 300;
}

.f-4 {
  font-weight: 400;
}

.f-5 {
  font-weight: 500;
}

.f-6 {
  font-weight: 600;
}

.f-7 {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bannerHeading {
  font-size: 38px !important;
}
.fs-48{
  font-size: 48px !important;
}

@media (max-width:767px) {
.fs-48{
  font-size: 21px !important;
}
  .bannerHeading {
    font-size: 24px !important;
    line-height: normal;
    font-weight: 400;
  }
}