@use "/styles/mixin" as *;
@use "/styles/variables" as *;



/* Base mobile styles (default) */
h1, h2, h3, h4, h5, h6, .h7, .bannerHeading {
  margin-bottom: 0;
  letter-spacing: -0.04em;
  display: inline;
}
h1, h2{
  font-weight: 700;
}
h4{
  font-weight: 500;
}

/* Font weight utilities */
.f-2 { font-weight: 200; }
.f-3 { font-weight: 300; }
.f-4 { font-weight: 400; }
.f-5 { font-weight: 500; }
.f-6 { font-weight: 600; }
.f-7 { font-weight: 700; }

.italic { font-style: italic; }
.underline { text-decoration: underline; }

/* Laptop/Tablet styles (min-width: 1024px) */
@media (min-width: 1024px) {
  h2 {
    font-size: 56px !important;
    line-height: 80px !important;
  }
  
  h1 {
    font-size: 48px !important;
    line-height: 70px !important;
    letter-spacing: -0.04em;
  }
  
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 20px;
    line-height: 26px;
  }
  
  h6 {
    font-size: 18px;
  }
  
  .h7 {
    font-size: 16px;
    line-height: 24px;
  }
  
  .bannerHeading {
    font-size: 38px;
  }
}

/* Desktop/Web styles (min-width: 1440px) */
/* @media (min-width: 1440px) {
  h2 {
    font-size: 57px !important;
  }
  
  h1 {
    font-size: 52px !important;
  }
  
  h3 {
    font-size: 21px !important;
  }
  
  h4 {
    font-size: 18px !important;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  .h7 {
    font-size: 12px;
  }
  
  .bannerHeading {
    font-size: 36px;
  }
} */

@media (max-width:767px) {
  
h2 {
  font-size: 28px !important;
  line-height: 32px !important;
  color: #000;
}

h1 {
  font-size: 21px !important;
  line-height: 18px !important;
  letter-spacing: 0em;
}

h3 {
  font-size: 20px !important;
  line-height: 32px;
}

h4 {
  font-size: 16px !important;
  line-height: 32px;
}

h5 {
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
}

h6 {
  font-size: 9px;
  line-height: normal;
  font-weight: 400;
}

.h7 {
  font-size: 9px;
  line-height: normal;
  font-weight: 400;
}

.bannerHeading {
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
}
}