@use "/styles/mixin" as *;
@use "/styles/variables" as *;

.pageHeading {
  :global(h2) {
    font-size: 28px;
    margin-bottom: 0;
    line-height: 32px;
    letter-spacing: -0.04em;

    @include for-laptops {
      font-size: 46px;
      line-height: 60px;
    }
  }

  :global(h1) {
    font-size: 32px;
    margin-bottom: 0;
    line-height: 32px;
    letter-spacing: -0.04em;
    @include for-laptops {
      font-size: 48px;
      line-height: 60px;
      font-weight: 700;
    }
  }

  :global(h3) {
    font-size: 25px;
    margin-bottom: 0;
    line-height: 32px;
    letter-spacing: -0.04em;
    @include for-laptops {
      font-size: 38px;
      line-height: normal;
    }
  }

  :global(h4) {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 32px;
    letter-spacing: -0.04em;
    @include for-laptops {
      font-size: 28px;
      line-height: 40px;
    }
  }

  :global(h5) {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 20px;
    letter-spacing: -0.04em;
    white-space: normal;
    @include for-laptops {
      font-size: 24px;
      line-height: 32px;
    }

  }

  :global(h6) {
    display: inline;
    font-size: 16px;
    margin-bottom: 0;
    line-height: normal;
    font-weight: 400;
    letter-spacing: -0.04em;
    @include for-laptops {
      font-size: 16px;
    }

    @include for-window-zoomed-screens {
      font-size: 14px;
    }
  }

  :global(p) {
    font-size: 16px;
    line-height: 20px;
  }
  .noUnderline{
  a {
    color: inherit !important;
    text-decoration: none !important;
}
}
}

