@font-face {
  font-family: "slick";
  src: url("~slick-carousel/slick/fonts/slick.eot");
  src: url("~slick-carousel/slick/fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("~slick-carousel/slick/fonts/slick.woff") format("woff"),
    url("~slick-carousel/slick/fonts/slick.ttf") format("truetype"),
    url("~slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root { 
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg_white_index {
  background-color: #fff;
  z-index: 2;
  position: relative;
}

html,
body,
body.blog-body-active {
  max-width: 100vw;
  overflow-x: hidden;
}

body.blog-body-active {
  overflow: hidden !important;
  @media (min-width: 768px) {
    overflow: visible !important;
  } 
}

.mh-550 {
  max-height: 550px;
}

.mh-440 {
  max-height: 440px;
}

.mh-330 {
  max-height: 330px;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ✅ Prevent background scroll when modal is open */
/* body.no-scroll {
  overflow: hidden !important;
  height: 100vh;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.bg-highlite {
  background: #eaeaea;
}

.no-underline {
  text-decoration: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bg-highlite {
  background: #eaeaea;
}

.homePagerewards2:hover::after {
  background: linear-gradient(180deg,
      rgba(253, 205, 118, 0.23) 0%,
      rgba(255, 172, 21, 0.67) 60%,
      rgba(255, 179, 42, 0.88) 78%,
      rgba(255, 179, 42, 1) 99%);
}

.homePagerewards1:hover::after {
  background: linear-gradient(180deg,
      rgba(0, 191, 158, 0.23) 0%,
      rgba(0, 191, 158, 0.67) 60%,
      rgba(0, 191, 158, 0.88) 78%,
      rgba(80, 169, 154, 1) 99%);
}

.homePagerewards3:hover::after {
  background: linear-gradient(180deg,
      rgba(200, 79, 255, 0.57) 0%,
      rgba(200, 79, 255, 0.75) 60%,
      rgba(200, 79, 255, 0.85) 78%,
      rgba(200, 79, 255, 1) 99%);
}

.AdiadslogoClass::after {
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%);
}

.HomePageRewardsVouchersCard:hover {
  box-shadow: 0 4px 66px 0 rgba(97, 214, 255, 0.33);
}

.delMontelogoClass::after {
  background: linear-gradient(180deg,
      rgba(255, 76, 98, 0) 0%,
      rgba(226, 33, 0, 1) 100%);
}

.biglogoClass::after {
  background: linear-gradient(180deg,
      rgba(23, 149, 207, 0) 0%,
      rgba(23, 149, 207, 1) 100%);
}

.vianetlogoClass::after {
  background: linear-gradient(180deg,
      rgba(200, 79, 255, 0) 0%,
      rgba(200, 79, 255, 1) 100%);
}

.honeycomblogoClass::after {
  background: linear-gradient(180deg,
      rgba(52, 52, 52, 0) 0%,
      rgba(135, 130, 50, 1) 100%);
}

.HomePageRewardsVouchersCard:hover {
  box-shadow: 0 0px 24px 3px rgb(61 131 156 / 33%);
}

.hoverMakePayment2:hover .makePaymentImg::after {
  background: url("./home/img/makePaymentHoverBg.svg") !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 300px !important;
  top: calc(30% - 75px) !important;
  height: 300px !important;
}

.hoverMakePayment3:hover .makePaymentImg::after {
  background: url("./home/img/makePaymentHoverBg3.svg") !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 300px !important;
  height: 300px !important;
  top: calc(43% - 75px) !important;
  left: 18% !important;
}

.hoverMakePayment4:hover .makePaymentImg::after {
  background: url("./home/img/makePaymentHoverBg4.svg") !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 300px !important;
  height: 300px !important;
}

.scrollCardHover:hover h5 span {
  color: #2563eb !important;
}

.EmployeeSliderOuterGlobal .slick-list .slick-track {
  padding-top: 50px;
  display: flex;
}

.EmployeeSliderOuterGlobal .slick-list .slick-track>div:nth-child(odd) {
  margin-top: -50px;
}

@media (max-width: 767px) {
  .EmployeeSliderOuterGlobal .slick-list .slick-track {
    padding-top: 0px;
  }

  .EmployeeSliderOuterGlobal .slick-list .slick-track>div:nth-child(odd) {
    margin-top: 0px;
  }
}

.careersPagepopupbox .modal-content {
  background: #121212 !important;
  color: #fff !important;
}

.careersPagepopupbox .modal-header {
  border: none !important;
}

.careersPagepopupbox {
  .btn-close {
    filter: invert(1);
    /* makes the default black close icon turn white */
  }
}

.careersPagepopupbox .modal-content ol,
.careersPagepopupbox .modal-content ol li,
.careersPagepopupbox .modal-content p {
  background: transparent !important;
  color: #fff !important;
  border: none !important;
  border-radius: none !important;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before {
  display: none;
}

.slick-dots li {
  width: 20px;
  height: 20px;
}

.slick-list {
  margin-left: 0px;
  margin-right: 0px;
}

.slick-slide {
  margin-left: 0px;
  margin-right: 0px;
}

.careerBannerOuterGlobal .slick-slide,
.career-testimonial-slider .slick-slide {
  margin: 0 !important;
}

.testimonial_wrapper .slick-slide,
.career-testimonial-slider .slick-slide {
  margin: 0 !important;
}

.max-w-auto {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.max-width-auto {
  max-width: 1200px;
  margin: auto;
}

.no-underline {
  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}
.mb-12{
  margin-bottom: 12px !important;
}
.skip {
  position: absolute;
  left: -10000px;
  top: 0px !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  max-width: 200px;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

.h2-40{
  font-size: 40px !important;
  line-height: 52px !important;

  @media (max-width: 768px) {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}
.formH2 {
        font-size: 24px !important;
        font-weight: 400 !important;

        @media (max-width: 767px) {
          font-size: 20px !important;
        }
}


/* Tags global classes */

.heading-h1 {
  font-size: 32px !important;
  margin-bottom: 0 !important;
  line-height: 40px !important;
  letter-spacing: -0.04em !important;
  @media (min-width: 768px) {
    font-size: 48px !important;
    line-height: 60px !important;
    font-weight: 700 !important;
  }
}

.heading-h2 {
  font-size: 28px !important;
  margin-bottom: 0 !important;
  line-height: 32px !important;
  letter-spacing: -0.04em !important;

  @media (min-width: 768px) {
    font-size: 46px !important;
    line-height: 60px !important;
  }
}

.heading-h3 {
  font-size: 25px !important;
  margin-bottom: 0 !important;
  line-height: 32px !important;
  letter-spacing: -0.04em !important;
  @media (min-width: 768px) {
    font-size: 38px !important;
    line-height: normal !important;
  }
}

.heading-h4 {
  font-size: 22px !important;
  margin-bottom: 0 !important;
  line-height: 32px !important;
  letter-spacing: -0.04em !important;
  @media (min-width: 768px) {
    font-size: 28px !important;
    line-height: 40px !important;
  }
}

.heading-h5 {
  font-size: 18px !important;
  margin-bottom: 0 !important;
  line-height: 20px !important;
  letter-spacing: -0.04em !important;
  white-space: normal !important;
  @media (min-width: 768px) {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

.heading-h6 {
  display: inline !important;
  font-size: 16px !important;
  margin-bottom: 0 !important;
  line-height: normal !important;
  font-weight: 400 !important;
  letter-spacing: -0.04em !important;
  @media (min-width: 768px) {
    font-size: 20px !important;
  }
}

.paragraph {
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: -0.04em !important;
  font-weight: 400;
}
.text-center{
  text-align: center !important;
}
.subHeading {
  font-size: 20px !important;
  line-height: 26px !important;
}
.highlight_box{
 padding:20px 20px 20px 20px;
 border:1px solid #000;
 border-radius:10px;
 margin:10px 0px 10px 0px;
}


body .enkash_button{
 border-radius: 12px 12px 12px 12px;
    padding: 12px 30px 12px 30px;
 background:#1c5af4;
 color:#fff !important ;
 margin:10px 0 10px 10px;
 display:inline-block;
}


body .enkash_button:hover{
 background:#0040df !important;
}
 .single.single-post blockquote{
 border-color:#3359fa !important;
}
 
