@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.notFound {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/collectPaymentBg.webp);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 112px;
  padding-bottom: 50px;
  @include for-laptops {
    padding: 112px 20px 0;
  }
  img {
    width: -webkit-fill-available;
    height: auto;
  }
  a {
    color: $color-dim-grey;
  }
  ul {
    padding-left: 1rem;
  }
}
