@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.use_case_section {
  padding: 0px 20px;

  @include for-laptops {
    padding: 0px 20px;
  }

  .section {
    gap: 20px;
    padding: 50px 20px 26px;
    background-color: $color-sky-hint;

    @include for-laptops {
      padding: 90px 100px 74px;
    }
  }
}
