.makePaymentsBoxOuterBox {
  .makePaymentsBoxLinks {
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid transparent; /* Required for border-image to apply */
    border-image: linear-gradient(-90deg, #a1a1a100 0%, #b3b3b3 100%) 1;
    border-image-repeat: round;
    display: block;
    .makePaymentContent {
      padding: 26px 44px 20px;
      position: relative;
      .headings {
        position: relative;
      }
      .headings::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: #00bf9e;
      }
      :global(p) {
        line-height: 160%;
        max-width: 288px;
      }
    }
    .makePaymentsBoxIcons {
      .topIcon {
        img {
          width: 40px;
          height: 40px;
          filter: grayscale(1);
        }
      }
    }
  }

  .makePaymentContent::after {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: 0;
    width: 50px;
    height: 7px;
    background-color: #b3b3b3;
    border: 2px solid transparent; /* Required for border-image to apply */
    border-image: linear-gradient(-90deg, #a1a1a100 0%, #b3b3b3 100%) 1;
    border-image-repeat: round;
  }
  .makePaymentsBoxLinks:hover {
    border-image: linear-gradient(-90deg, #a1a1a100 0%, #ffffff 100%) 1 !important;
    .makePaymentContent::after {
      border-image: linear-gradient(90deg, #a1a1a100 0%, #ffffff 100%) 1;
    }
    .headings::before {
      background-color: #00bf9e;
    }
    :global(p) {
      color: #000000;
    }
    .makePaymentsBoxIcons {
      .topIcon {
        img {
          filter: grayscale(0);
        }
      }
    }
    .makePaymentsBoxImage {
      img {
        filter: grayscale(0);
      }
    }
  }
  .makePaymentsBoxInnerBox {
    position: relative;
    .makePaymentsBoxImage {
      position: absolute;
      right: 20px;
      bottom: 0;
      img {
        filter: grayscale(1);
      }
    }
  }
}
