@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.sliderComponent {
  position: relative;
  .breadcrumb {
    z-index: 9;

    // position: absolute;
    top: 115px;
    left: 162px;
    .first_row_title {
      padding: 20px;
      text-align: center;
      @include for-laptops {
        padding: 48px 0px 20px;
        text-align: start;
      }
    }
  }
  .right_img {
    img {
      height: auto;
    }
  }
:global(.slick-dots) {
  display: block;
  z-index: 999;
  bottom: 243px;
  position: relative !important;
}

:global(.slick-dots li button:before) {
width: 23px;
    height: 4px;
    color: white;
    background-color: white;
    content: '-';
}}
.voucherSlider {
  padding: 112px 20px 50px;
  position: relative;
  z-index: 1;
  min-height: 850px;
  @include for-laptops {
    padding: 112px 20px 120px;
    min-height: 750px;
  }
  // &:after{
  //   position: absolute;
  //   height: 100px;
  //   width: 100%;
  //   z-index: -1;
  // background: linear-gradient(180deg,rgba(255, 0, 0, 1) 0%, rgba(250, 0, 0, 1) 100%);
  //   content: '';
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}
