.parent_container {
  padding: 250px 0 100px 0;
  background: url(./bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .inner_container {
    margin: 0 130px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1019607843);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 40px;
  }

  h5 {
    margin-top: 20px !important;
  }
}
