@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.bg_white {
  color: $color-indi-volt;
  background-color: $color-white;
}

.bg_blue {
  // background-color: rgba($color-indi-volt, 0.75);
  color: $color-white;
  backdrop-filter: blur(30px);
}

.header_wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  padding: 24px 0px;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  @include for-tablet {
    padding: 24px 16px 24px 16px;
  }

  ul {
    position: relative;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    align-items: center;
    gap: 16px;

    @include for-tablet {
      gap: 10px;
    }
  }

  li {
    text-align: center;
    letter-spacing: normal;

    // cursor: pointer;
    .link {
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
      background: none;
      border: none;
      color: #000;
      letter-spacing: -0.04em;

      img {
        margin-top: -4px;
        margin-left: 4px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .logo_container {
    padding: 5px;
    margin-right: 30px;

    img {
      width: 120px;
      height: auto;
    }
  }

  a {
    text-decoration: none;
  }

  nav {
    background: $color-white;
    color: $color-black;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    max-width: 1200px;
    margin: auto;
    width: -webkit-fill-available;
    box-shadow: 0 0px 40px -4px rgba(0, 0, 0, 0.08);

    @include for-tablet {
      max-width: 1120px;
    }
  }

  .nav_right {
    white-space: nowrap;
  }
}

.buttons_container {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;

  .primary_button {
    border-radius: 20px;
    background-color: $color-equity-blue;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    margin-right: 5px;
  }

  .secondary_button {
    border-radius: 20px;
    border: 2px solid $color-equity-blue;
    background-color: $color-indi-volt;
    color: $color-white;
    padding: 3px 20px;
  }

  .active {
    color: $color-black;
    background-color: $color-white;
  }
}

.nav_background_slide {
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  // border: 1.35px solid $color-equity-blue;
  border-radius: 13px;
  z-index: 2;
  transition:
    transform 0.3s,
    opacity 0.3s;
  cursor: pointer;
}

.navItems {
  color: $color-black;
  position: relative;
  transition: color 0.3s ease;

  &.activeItem {
    color: $color-brand-blue;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.link {
  color: inherit;
}

.button_switch_wrapper {
  position: relative;
  display: flex;
  border: 2px solid #efefef;
  border-radius: 12px;
  width: fit-content;
  overflow: hidden;
  background-color: $color-white;

  .button {
    padding: 10px 23px 10px 35px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    color: $color-crayola; // Blue text for inactive
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;

    &.active {
      color: $color-white;
    }

    &:hover {
      color: $color-white;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(50% - 4px);
    background-color: $color-crayola;
    border-radius: 8px;
    transition: 0.3s ease left;
    z-index: 0;
    left: 0;
  }

  .login.active ~ .slider {
    left: 0;
  }

  .sales.active ~ .slider {
    left: calc(50% + 4px);
  }
}

.active {
  background-color: $color-crayola;
  color: $color-white;
}

.opacity_selected {
  .link {
    color: $color-equity-blue !important;
    position: relative;

    &::after {
      border-left: 8px solid $color-black-00;
      border-right: 8px solid $color-black-00;
      border-bottom: 8px solid $color-equity-blue;
      transition: left 0.2s;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      top: 50px;
      left: calc(50% - 15px);
    }
  }
}

.button_getStarted {
  background: transparent;
  color: $color-black;
  border: none;
  font-size: 13px;
  font-weight: 500;
}

.arrow {
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $color-equity-blue;
  transition: left 0.2s;
}

.header_wrapper {
  position: relative;
  width: 100%;
}

// .header {
//   transition: background 0.3s ease;
// }

// .bg_white {
//   background: $color-white;
// }

// .bg_blue {
//   background: #003366;
// }

.logo_container {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .link {
//   background: none;
//   border: none;
//   font-size: 16px;
//   font-weight: 500;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   gap: 4px;
// }

.submenu_wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  background: $color-white;
  box-shadow: 0px 4px 16px $color-black-03;
  padding: 1rem;
  z-index: 20;
  border-radius: 8px;
  transform: translate(-17.3%, 40px);
}

.menu_item_0 {
  .submenu_wrapper {
    min-width: 1200px;
  }
}

.menu_item_1 {
  .submenu_wrapper {
    min-width: 560px;
  }
}

.menu_item_2 {
  .submenu_wrapper {
    min-width: 560px;
  }
}

.menu_item_3 {
  .submenu_wrapper {
    min-width: 560px;
  }
}

.menu_item_4 {
  .submenu_wrapper {
    min-width: 560px;
  }
}

.menu_item_5 {
  .submenu_wrapper {
    min-width: 340px;
  }
}

.menu_item_6 {
  .submenu_wrapper {
    min-width: 560px;
  }
}
