@import '../../styles/mixin';

/* blue footer start */
.footer .add-list a {
    color: #fff !important;
}

/*.footer .contact-list a {*/
/*  display: flex;*/
/*  color: #fff !important;*/
/*}*/
.footer .mail-list a {
    display: flex;
    color: #fff !important;
}

.footer .footer-btn {
    background: #fff !important;
}


.footer .footernew {
    background: #0C0E4A !important;
    padding: 1rem 1.5rem;

    @include bp-sm {
        padding: 1rem 2rem;
    }

    @include bp-md {
        padding: 1rem 4rem;
    }

    @include bp-lg {
        padding: 2rem 6rem;
    }
}

.footer .footernew h1 {
    color: #fff !important;
}

.footer .footernew h2 {
    color: #fff !important;
}

.footer .address-social ul li {
    color: #ffffff !important;
}

.footer .add-social p {
    color: #fff !important;
}

.footer .flink li a {
    color: #fff !important;
}

.footer .copyright {
    /*border-top: 1px solid #ffffff73 !important;*/
    font-size: 11px;
    color: #fff !important;
    padding-top: 0;
    padding-bottom: 1rem;
}

/* blue footer end */

.grow-more {
    color: #4DC1EE !important;
}

.footer-links-col {
    margin-top: 1.5rem;

    @include bp-sm {
        margin-top: 2rem;
    }

    text-align: left;

    h4 {
        color: white;
        font-size: 0.8rem;
        line-height: 1rem;

        @include bp-sm {
            font-size: 1.125rem;
            line-height: 2rem;
        }

        white-space: nowrap;
    }

    ul>li>a,
    .sub-title {
        font-size: 0.7rem;
        line-height: 1rem;

        @include bp-sm {
            font-size: 1rem;
            line-height: 2rem;
        }

        color: #B5BBCB;
        white-space: nowrap;
    }

    .sub-title {
        color: white;
    }
}

.footer-location-pin {
    width: 1rem;
    margin-right: 0.5rem;
}

.contact-list {
    img {
        width: 1rem;

        @include bp-sm {
            width: 1.5rem;
        }

    }
}


.footernew h2 {
    /* font-size: 24px; */
    font-size: 1.4rem;

    @include bp-sm {
        font-size: 2.125rem;
    }

    color: #000;
    font-weight: 600;
}


.locations-row {
    background-color: rgba(255, 255, 255, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include bp-sm {
        padding: 1.5rem;
    }

    p {
        color: #fff;
        font-size: 10px;
        margin: 0;
        padding: 0 0.5rem;

        @include bp-sm {
            font-size: 15px;
            padding: 0 1rem;
        }
    }

    .vr {
        border-right: 2px solid #fff;
        height: 18px;
        margin: 0 10px;
    }

}

.enkash-fair-declaration {
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 2rem 0;

    @include bp-sm {
        padding: 3rem 0;
    }
}

.freedom-card-box {
    display: flex;
    align-items: center;
}

.grow-more {
    color: #4DC1EE !important;
}

.footer-links-col {
    margin-top: 1.5rem;

    @include bp-sm {
        margin-top: 2rem;
    }

    text-align: left;

    h4 {
        color: white;
        font-size: 0.8rem;
        line-height: 1rem;

        @include bp-sm {
            font-size: 1.125rem;
            line-height: 2rem;
        }

        white-space: nowrap;
    }

    ul>li>a,
    .sub-title {
        font-size: 0.7rem;
        line-height: 1rem;

        @include bp-sm {
            font-size: 1rem;
            line-height: 2rem;
        }

        color: #B5BBCB;
        white-space: nowrap;
    }

    .sub-title {
        color: white;
    }
}

.footer-location-pin {
    width: 1rem;
    margin-right: 0.5rem;
}

.contact-list {
    img {
        width: 1rem;

        @include bp-sm {
            width: 1.5rem;
        }

    }
}


.footernew h2 {
    /* font-size: 24px; */
    font-size: 1.4rem;

    @include bp-sm {
        font-size: 2.125rem;
    }

    color: #000;
    font-weight: 600;
}


.locations-row {
    background-color: rgba(255, 255, 255, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include bp-sm {
        padding: 1.5rem;
    }

    p {
        color: #fff;
        font-size: 10px;
        margin: 0;
        padding: 0 0.5rem;

        @include bp-sm {
            font-size: 15px;
            padding: 0 1rem;
        }
    }

    .vr {
        border-right: 2px solid #fff;
        height: 18px;
        margin: 0 10px;
    }

}

.enkash-fair-declaration {
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 2rem 0;

    @include bp-sm {
        padding: 3rem 0;
    }
}

.freedom-card-box {
    display: flex;
    align-items: center;
}