@import "../../styles/mixin";
@import "../../styles/variables";

.footer {
  li {
    list-style-type: none;
  }
  ul {
    padding-inline-start: 0px;
  }
  a {
    font-size: 11px;
    line-height: 16px;
    text-decoration: none;
    @include bp-sm {
      font-size: 16px;
      line-height: 32px;
    }
    color: $color-quick-silver;
    white-space: nowrap;
  }
}

.footer_padding {
  padding: 16px 24px;
  @include bp-sm {
    padding: 16px 32px;
  }
  @include bp-md {
    padding: 16px 64px;
  }
  @include bp-lg {
    padding: 32px 96px;
  }
}

.footer_links_col {
  margin-top: 24px;
  text-align: left;
  @include bp-sm {
    margin-top: 32px;
  }
}

.title {
  color: $color-white;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  @include bp-sm {
    font-size: 20px;
    line-height: 32px;
  }
}

.sub_title {
  font-size: 11px;
  line-height: 16px;
  white-space: nowrap;
  @include bp-sm {
    font-size: 16px;
    line-height: 32px;
  }
}

.social_icons_row {
  width: 75%;
  @include bp-md {
    width: 50%;
  }
}

.copyright {
  font-size: 11px;
  padding-top: 0;
  padding-bottom: 16px;
  text-align: right;
}

.footer_location_pin {
  margin-right: 8px;
}

.disclaimer {
  text-align: left;
  font-size: 11px;
  padding: 32px 0;
  @include bp-sm {
    padding: 48px 0;
  }
}

.freedom_card_box {
  display: flex;
  align-items: center;
}

.locations_row {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  @include bp-sm {
    padding: 24px;
  }
  p {
    color: $color-white;
    font-size: 10px;
    margin: 0;
    padding: 0 8px;

    @include bp-sm {
      font-size: 15px;
      padding: 0 16px;
    }
  }

  .vr {
    border-right: 2px solid $color-white;
    height: 18px;
    margin: 0 10px;
  }
}

.grievance_text {
  text-decoration: underline;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  flex-direction: column;
  @include bp-md {
    flex-direction: row;
    font-size: 10px;
    line-height: 10px;
  }

  color: #b5bbcb;
  white-space: nowrap;
  text-underline-offset: 2px;
}
