@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.footer {
  z-index: 1;
  position: relative;
  background-image: url("./img/footerBg.svg");
  li {
    list-style-type: none;
    align-items: center;
  }
  ul {
    padding-inline-start: 0px;
  }
  a {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #5b5b5b;
    white-space: nowrap;
    letter-spacing: -0.5px;
    @include for-laptops {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .locations_row {
    background: #fff;
    align-items: end;
    justify-content: end;
    border-bottom: 10px solid $color-equity-blue;
    padding: 16px;
    @include for-laptops {
      flex-direction: row;
    }

    .main_title {
      font-size: 16px;
    }

    .sub_title {
      font-size: 9px;
      margin-bottom: 20px;
      @include for-laptops {
        margin-bottom: 0;
        font-size: 12px;
      }
    }

    @include for-laptops {
      padding: 24px;
    }
    p {
      color: #5b5b5b;
      font-size: 10px;
      margin: 0;
      padding: 0 8px;
      border-right: 2px solid #1c5af4;
      padding-right: 8px;
      @include for-laptops {
        padding: right 0px;
        border-right: none;
      }

      @include for-laptops {
        font-size: 18px;
        padding: 0 16px;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: 700;
      color: #5b5b5b;
    }
    .footer_location_p {
      padding: 0;
      font-size: 14 !important;
    }
  }
  .ar {
    background-color: $color-equity-blue;
    border-right: 2px solid $color-equity-blue;
    height: 20px;
    margin: 0 10px;
    width: 3px;
  }
}

.security_section {
  padding: 200px 90px 50px 90px;
  background-color: $color-white;
  padding-top: 50px;
  @include for-laptops {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  img {
    height: 150px;
    width: auto;
  }
}

.footer_padding {
  padding: 50px 20px 20px;

  @include for-laptops {
    padding-top: 76px;
     padding: 20px 0px;
  }

  .footer_section {
    background-color: #ffff;
    border-radius: 16px;
    padding: 20px;
    @include for-laptops {
      padding: 10px;
    }

    .footer_copy_right {
      font-size: 9px;
      font-weight: 400;
      color: black;
      display: flex;
      padding-top: 24px;
      text-align: center;
      justify-content: center;
      margin-bottom: 0px;
      @include for-laptops {
        font-size: 14px;
        padding-top: 0px;
      }
    }
  }
}

.footer_links_col {
  width: 100%; // fallback
  text-align: left;
  @media (max-width: 767px) {
    width: 46%; // 2 columns on mobile (with a small gap)
  }

  @media (min-width: 768px) {
    width: auto; // default for desktop layout
  }
}

.title {
  color: black;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  @include for-laptops {
    font-size: 16px;
    line-height: 32px;
  }
}

.sub_title {
  a {
    color: #fff !important;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    @include for-laptops {
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.5px;
    }
  }
}

.social_icons_row {
  gap: 6px;
  flex-wrap: wrap;
  @include for-laptops {
    width: 50%;
      flex-wrap: nowrap;
  }

  a {
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 16px;
    border-radius: 6px;
    background: black;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;

    svg {
      width: 28px;
    }
  }
}

.copyright {
  font-size: 9px;
  padding-top: 0px;
  padding-bottom: 16px;
  text-align: right;
  color: $color-electric-green;
  @include for-laptops {
    padding-top: 45px;
    font-size: 14px;
  }
}

.footer_location_pin {
  margin-right: 8px;
}

.disclaimer {
  text-align: left;
  font-size: 9px;

  color: #a5a5a5;

  @include for-laptops {
    padding: 48px 0;
    font-size: 14px;
  }
}

.freedom_card_box {
  display: flex;
  align-items: center;
}

.grievance_text {
  text-decoration: underline;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  flex-direction: column;
  color: #b5bbcb;
  white-space: nowrap;
  text-underline-offset: 2px;

  @include for-laptops {
    flex-direction: row;
    font-size: 10px;
    line-height: 10px;
  }
}

.certifications {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: $color-white;
  border-radius: 10px;

  img {
    height: 25px;
    width: auto;
    @include for-laptops {
      height: 50px;
    }
  }
}

.support_text {
  font-size: 10px;
  color: black;
  white-space: nowrap;
  @include for-laptops {
    font-size: 15px;
    line-height: 32px;
  }
}

.help_icons {
  width: 15px;
  height: 15px;

  @include for-laptops {
    width: 20px;
    height: 20px;
  }
}

.callIcon{
  width: 16px;
  height: 16px;
  color: $color-black;
  margin-right: 8px;
   @include for-laptops {
    width: 20px;
  height: 20px;
  }
}
.new_badge {
  display: flex;
  align-items: center;
  background-color: $color-white;
  padding: 0px 6px;
  margin-left: 5px;
  border-radius: 10px;
  color: $color-equity-blue;
  font-size: 7px;
  font-weight: 700;
  text-wrap: nowrap;
  height: 10px;
  @include for-laptops {
    height: 14px;
  }
}

.light_bg {
  border-radius: 10px;
  @include for-laptops {
    padding: 24px;
  }
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  .title {
    font-size: 8px;
    color: $color-electric-green;
    font-weight: 500;
    text-transform: uppercase;
    @include for-laptops {
      font-size: 16px;
    }
  }

  .info_header_two {
    width: 100%;

    .info_body_one {
      padding-left: 25px;
      padding-top: 5px;
      @include for-laptops {
        padding-left: 50px;
        padding-top: 10px;
      }
      .soc_logo,
      .pci_logo {
        border-radius: 5px;
        overflow: hidden;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: auto;
          width: auto;
          max-height: 30px;

          object-fit: contain;
        }

        @include for-laptops {
          img {
            max-height: 50px;
          }
        }
      }
    }
  }

  .info_body_two {
    ul {
      margin-bottom: 0;
      li {
        display: flex;
        color: black;
        margin-bottom: 10px;
        @include for-laptops {
          margin-bottom: 0;
        }
      }
    }
  }

  .info_div_three {
    border-radius: 10px 10px 0 0;

    @include for-laptops {
      margin-top: 0px;
      background-color: transparent;
      width: 100%;
    }
    .info_body_three {
      width: 192px;
      display: flex;

      @include for-laptops {
        width: 50px;
        padding-right: 50px;
        padding-bottom: 15px;
        justify-content: flex-end;
      }
    }
  }
}

.location_mobile {
  padding: 20px 0px;
  width: 100%;
  background-color: white;
  p {
    margin: 0;
    color: #5b5b5b;
    font-size: 10px;
  }
  .vr {
    background-color: #1c5af4;
    border-right: 2px solid #1c5af4;
    height: 20px;
    margin: 0 10px;
    width: 1px;
  }
  .lineBlue {
    background-color: #1c5af4;
    width: 100%;
    height: 8px;
  }
}

.logo_container {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include for-laptops {
    background-color: #f6fcff;
    max-width: 259px;
    padding: 21px;
  }

  .logo_container_info {
    font-size: 9px;
    color: #97a3b7;
    @include for-laptops {
      font-size: 12px;
    }
    p {
      margin-bottom: 8px;
      @include for-laptops {
        margin-bottom: 16px;
      }
    }
  }
}

.info_div_one {
  padding-top: 24px;
  padding-bottom: 10px;
  @include for-laptops {
    padding-top: 0px;
  }
  .soc_logo{

    img {
      object-fit: contain;
    }

   
  }
  .pci_logo{

    img {
      object-fit: contain;
    }

   
  }
}

.custom_hr {
  border-top: 2px dashed $color-grey-100 !important;
  display: block;
  @include for-laptops {
    display: none;
  }
}
