@use "../../../../styles/variables" as *;
@use "../../../../styles/mixin" as *;

.first_row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // pointer-events: none;
  background-color: #292929; // set pure black
  box-shadow: 0px 0px 77px 0px #0000001a;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 36px;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      // stronger black overlay (optional)
      rgba(0, 0, 0, 0.6)
    ),
    url("./img/first-row-bg.svg"), url("./img/black-bg.webp");

  @include for-laptops {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 112px;
    padding-bottom: 40px;
  }
  .spline_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .bannerImages {
    min-height: 150px;

    @include for-laptops {
      min-height: 540px;
    }
    .lottie_container {
      // pointer-events: none;
    }
  }
  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .dashboard_img {
    max-width: 100%;
    height: auto;

    @include for-laptops {
      max-width: none;
      height: fit-content;
      width: 800px;
    }
  }

  // .lottie_container {
  //   width: 500px;

  //   @include for-laptops {
  //     // width: 900px;
  //   }
  // }
}

.second_row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 20px;
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(28, 90, 244, 0.8) 0%,
      rgba(16, 52, 142, 0.8) 100%
    ),
    url(./img/secongBg.png);
  @include for-laptops {
    padding: 90px 20px 90px 20px;
  }
  .second_row_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .section {
    max-width: 1200px;
    margin: auto;
    gap: 10px;

    bottom: -65px;
    justify-content: center;
    right: 0;
    left: 0;
    z-index: 2;
    @include for-laptops {
      position: absolute;
      gap: 40px;
    }
    .card {
      width: 100%;
      max-width: 200px;
      min-width: 200px;
      flex: 1 1 200px;
      background: white;
      border-radius: 12px;
      padding: 10px;
      gap: 10px;
      box-shadow: 0px 20px 50px 0px #3440541a;
      @include for-laptops {
        max-width: 300px;
        min-width: 200px;
        padding: 20px;
        gap: 20px;
        border-radius: 20px;
      }
      .card_image {
        height: 24px;
        width: 24px;
        @include for-laptops {
          height: 48px;
          width: 48px;
        }
      }
    }
  }
}

.third_row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./img/ArtboardBg.svg);
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px 90px 20px;
  }

  .rbi_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card_grid > div {
    flex: 1 1 260px;
    max-width: 300px;
    min-width: 240px;
  }
}

.fourth_row {
  background: $color-black;
  border-radius: 12px;
  position: relative;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }
  .get_started_button {
    padding: 6px;
    border: 2px solid $color-equity-blue;
    border-radius: 12px;
    @include for-laptops {
      padding: 11px 14px;
    }
  }
  .custom_list {
    padding-left: 1rem; // optional: controls indentation
    list-style-type: disc;

    li {
      margin-bottom: 12px;

      &::marker {
        color: #888; // optional: customize bullet color
      }
    }
  }
}

.fifth_row {
  position: relative;
  text-align: center;
  padding: 50px 20px 16px;
  @include for-laptops {
    padding: 90px 20px 22px;
  }
}

.sixth_row {
  padding: 50px 20px;
  @include for-laptops {
    padding: 162px 20px 90px;
  }
  .list_button {
    padding-left: 48px;
    margin-top: 20px;
    @include for-laptops {
      margin-top: 20px;
      padding-left: 66px;
    }
  }
}

.eight_row {
  background: linear-gradient(180deg, #2e2e2e 0%, #010205 100%);
  border-radius: 12px;
  position: relative;
  padding: 20px;
  @include for-laptops {
    padding: 58px;
  }
  .get_started_button {
    padding: 6px;
    border: 2px solid $color-equity-blue;
    border-radius: 12px;
    @include for-laptops {
      padding: 11px 14px;
    }
  }
  .custom_list {
    padding-left: 1rem; // optional: controls indentation
    list-style-type: disc;

    li {
      margin-bottom: 12px;

      &::marker {
        color: #888; // optional: customize bullet color
      }
    }
  }
}

.faq_new_row {
  background-color: white;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      display: none;
      @include for-laptops {
        display: flex;
      }
    }
  }

  .faqData {
    width: 100%;
    @include for-laptops {
      width: 70%;
    }
  }
}

.other_products {
  padding: 0px 20px 50px;
  @include for-laptops {
    padding: 0px 20px 90px;
  }
}

.third_row .scrollbar-thin::-webkit-scrollbar {
  width: 12px;
}

.third_row .scrollbar-thin::-webkit-scrollbar-track {
  background: white;
  border: 1px solid transparent;
  border-radius: 20px;
}

.third_row .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
  border: 1px solid transparent;
}

/* Firefox */
.third_row .scrollbar-thin {
  scrollbar-width: auto;
  scrollbar-color: #3b82f6 transparent;
}

.action_row {
  position: relative;
  overflow: hidden;
  padding: 50px 20px;
  @include for-laptops {
    padding: 90px 20px;
  }
  .list_button {
    padding-left: 76px;
    margin-top: 38px;
  }

  .analytic_bg {
    img {
      width: 100%;
      height: auto;
      display: none;
      pointer-events: none;
      max-height: 350px;

      @include for-laptops {
        display: block;
      }
    }
  }

  .spline_background {
    position: absolute;
    // top: 0%;
    bottom: -43%;
    right: -52%;
    width: 1500px;
  }
}

.card_stacking_row {
  .section {
    padding: 50px 20px;
    background: #a5a5a51a;

    @include for-laptops {
      padding: 90px 20px;
    }
  }
}
