@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.acceptedSection {
  padding: 48px 20px 56px;
  background: $color-white;
  overflow: hidden;

  @include for-laptops {
    padding: 72px 20px 80px;
  }
}

.headingWrapper {
  text-align: center; 
  margin: 0 auto 36px;

  @include for-laptops {
    margin-bottom: 43px;
  }
}

.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

  @include for-laptops {
    gap: 24px;
  }
}

.categoryCard {
  position: relative;
  display: flex;
  align-items: center; 
  padding: 14px 18px; 
  border-radius: 8px;
  background: $color-white;
  border: none;
  flex: 0 0 calc((100% - 16px) / 2); // 2 items per slide on mobile (1 gap)
  max-width: none;
  transition: box-shadow 0.2s, border-color 0.2s, transform 0.2s;
  cursor: default;
  &::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 1px;
    height: 75%;
    background-color: $color-dcdcdc;
    z-index: 0;
  }

  @include for-laptops {
    flex: 0 0 calc((100% - (24px * 3)) / 4); // 4 items per slide on laptop (3 gaps)
    padding: 21px 16px 20px 18px;
    gap: 22px;
  } 
}

.categoryIcon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryLabel {
  font-size: 16px;
  font-weight: 500;
  color: $color-black; 
  letter-spacing: -0.02em;

  @include for-laptops {
    font-size: 20px;
  }
}

.dotsWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 28px;

  @include for-laptops {
    margin-top: 36px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $color-black-16;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background 0.2s, width 0.2s;

  &:hover {
    background: $color-slate-grey;
  }
}

.dotActive {
  background: $color-equity-blue;
  width: 24px;
  border-radius: 4px;
}