@use './../../styles/mixin' as *;
.careerTestimonialSliderOuters{
   .sliderContentBoxOuter{
    display: flex !important;
    flex-wrap: wrap;
    @include for-laptops{
      flex-wrap: nowrap;
    }
    .sliderContentBox{
      background-color: #1C5AF4;
      padding: 20px;
      width: 100%;
      flex-wrap: wrap;
      @include for-laptops{
        width: 60%;

      }
      .sliderContentBoxIcon{
        color: #fff;

      }
    }
   }
   .sliderContentBoxImage{
     width: 100%;
     @include for-laptops{
      width: 40%;

    }
    img{

      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: cover;
    }

   }
}