@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.makePaymentsBoxOuterBox {
  .makePaymentsBoxLinks {
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #4D5761;
    display: block;

    .makePaymentContent {
      padding: 26px 44px 20px;
      position: relative;

      .headings {
        position: relative;
      }

      .headings::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $color-electric-green;
      }

      :global(p) {
        line-height: 160%;
        max-width: 288px;
      }
    }

    .makePaymentsBoxIcons {
      .topIcon {
        img {
          width: 40px;
          height: 40px;
          filter: grayscale(1);
        }
      }
    }
  }

  .makePaymentContent::after {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: 0;
    width: 50px;
    height: 7px;
    background-color: #b3b3b3;
    border: 2px solid #b3b3b3;
    /* Required for border-image to apply */
  }

  .makePaymentsBoxLinks:hover {
    border-color: $color-white !important;

    .makePaymentContent::after {
      border-color: $color-white;
    }

    .headings::before {
      background-color: $color-electric-green;
    }

    :global(p) {
      color: #000000;
    }

    .makePaymentsBoxIcons {
      .topIcon {
        img {
          filter: grayscale(0);
        }
      }
    }

    .makePaymentsBoxImage {
      img {
        filter: grayscale(0);
      }
    }
  }

  .makePaymentsBoxInnerBox {
    position: relative;

    .makePaymentsBoxImage {
      position: absolute;
      right: 20px;
      bottom: 0;

      img {
        filter: grayscale(1);
      }
    }
  }
}