@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.web_only {
  display: none;

  @include for-laptops {
    display: block;
  }
}

.mobile_only {
  display: block;
  display: flex;
  justify-content: center;

  @include for-laptops {
    display: none;
  }
}

.hero_section {
  position: relative;
  background-color: $color-bolt-light;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 36px;
  padding-bottom: 36px;

  @include for-laptops {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 190px;
    padding-bottom: 80px;
  }

  .lottie_container {
    width: 350px;
    margin-top: 20px;
    height: auto;
    padding: 40px 0;

    @include for-laptops {
      padding: 0 20px; //remove this also
      margin-top: -60px;
      width: 650px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.first_row_category {
  position: relative;
  background-color: $color-white;
  padding-top: 0;
  padding-bottom: 0;

  @include for-laptops {
    padding-top: 110px;
    padding-bottom: 0px;
  }
}

.introduction_section {
  position: relative;
  background-color: $color-indi-volt;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 36px;
  padding-bottom: 36px;

  @include for-laptops {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.error_container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bolt-light;
}

.voucher_detail_container {
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.voucher_detail {
  background-image: url("./img/backgroundImg.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  padding: 75px 20px 0px 20px;

  @include for-laptops {
    padding: 75px 20px 20px 20px;
  }

  .voucher_detail_container {
    color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
  }
}

.top_container {
  position: relative;
  padding: 10px 0px 40px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;

  @include for-laptops {
    padding: 30px 0px;
  }

  .breadcrumb {
    padding: 0px 0px;
    margin: 20px 0px 15px;

    @include for-laptops {
      padding: 0px 30px;
      margin: -10px -30px 15px;
    }

    a {
      display: flex;
      text-decoration: none;

      img {
        width: 25px;
        height: auto;
      }
    }
  }

  .voucher_image_section {
    background-image: url("./img/category-bg.jpg");
    background-size: 100%;
    height: 320px;
    background-repeat: no-repeat;
    margin: 0 0px 40px;

    @include for-laptops {
      height: 380px;
    }

    @include for-tablet {
      height: 320px;
    }

    .discount_bar {
      position: absolute;
      top: 116px;
      left: 98px;
      display: flex;
      font-size: 28px;
      font-weight: 700;
      font-style: italic;
      color: $color-white;

      span {
        color: $color-bolt-green;
      }

      @include for-tablet {
        top: 88px;
      }

      .brand_name {
        padding-left: 60px;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        width: 420px;
      }
    }

    .voucher_image {
      border-radius: 21px;
      overflow: hidden;
      border: solid 3px $color-white;
      width: 326px;
      height: 205px;
      position: absolute;
      top: 144px;
      right: 120px;
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      img {
        width: auto;
        height: 100%;
      }

      @include for-tablet {
        top: 108px;
        right: 66px;
      }
    }

    .voucher_name {
      position: absolute;
      top: 175px;
      left: 100px;
      font-size: 38px;
      font-weight: 700;
      max-width: 300px;
      color: #18187f;
    }

    .voucher_name_wide {
      max-width: 380px;
    }

    .voucher_name_widest {
      max-width: 450px;
    }

    .buy_now_button {
      position: absolute;
      background: $color-equity-blue;
      padding: 7px 18px;
      border-radius: 4px;
      top: 325px;
      left: 101px;
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:hover {
        box-shadow:
          0 12px 20px 0 rgba(0, 0, 0, 0.25),
          0 8px 30px 0 rgba(0, 0, 0, 0.22);
      }

      a {
        font-size: 18px;
        text-decoration: none;
        color: $color-white;
        font-weight: 600;
      }
    }
  }
}

.top_container_detail {
  padding: 26px 20px;

  @include for-laptops {
    padding: 66px 20px;
  }
}

.detail_section {
  color: $color-bolt-title-grey;

  .description_title {
    font-weight: 600;
    font-size: 22px;
  }

  @include for-laptops {
    padding: 0 80px;
  }

  a {
    color: $color-black;
  }
}

.mid_container {
  width: 100%;
  position: relative;
  background-color: $color-light-blue-bg;
  padding: 50px 20px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  .bottom_zigzag {
    position: absolute;
    bottom: -23px;
    left: -30px;

    img {
      height: 53px;
      width: auto;
    }
  }
}

.bottom_container {
  width: 100%;
  position: relative;
  background-color: $color-silver-grey;
  padding: 50px 20px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  .bottom_zigzag {
    position: absolute;
    bottom: -23px;
    left: -30px;

    img {
      height: 53px;
      width: auto;
    }
  }
}

.faq_new_row {
  background: $color-white;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      display: none;

      @include for-laptops {
        display: flex;
      }
    }
  }

  .faqData {
    width: 100%;

    @include for-laptops {
      width: 70%;
    }
  }
}

.progressSteps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  max-width: 800px;
  margin: 30px auto;

  @include for-laptops {
    padding: 20px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 33%;

    @include for-laptops {
      width: 100%;
      flex: 1;
    }
  }

  .iconContainer {
    background-color: #007bff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .icon {
    color: $color-white;
    font-size: 20px;
  }

  .content {
    text-align: center;
  }

  .title {
    color: #007bff;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .description {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin: 16px 0 0;
    max-width: 190px; // Adjust as needed to match the image

    @include for-laptops {
      font-size: 16px;
    }
  }

  .line {
    position: absolute;
    top: 20px;
    right: -20%;
    width: 39%;
    height: 2px;
    background-color: #007bff;

    @include for-laptops {
      right: -24%;
      width: 50%;
      height: 3px;
    }
  }

  // Remove the line from the last step
  .step:last-child .line {
    display: none;
  }
}

.need_container {
  display: flex;
  padding: 20px 0px;

  @include for-laptops {
    padding: 20px 100px 0;
  }

  .need_img {
    width: 100px;

    @include for-laptops {
      width: 50px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .need_content {
    padding: 0px 0px 0px 20px;

    @include for-laptops {
      padding: 0 20px;
    }
  }
}

.popularVouchers {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;

  .title {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 210px;
  }

  .list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .voucherCard {
    background-color: #e8fafe;
    border: solid 1px #baeefe;
    border-radius: 10px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 170px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px $color-black-03;
    }

    .logoImg {
      width: 75px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .logo {
    max-width: 100px;
    max-height: 40px;
    object-fit: contain;

    img {
      width: 100%;
      height: auto;
    }
  }

  .arrow {
    font-size: 24px;
    color: #007bff;
  }
}
