.home_container {
  padding: 70px 60px;
  border-radius: 15px;
  border: 2.7px solid #fffbfb;
  background: linear-gradient(
    324deg,
    #1c5af4 2.33%,
    rgba(11, 11, 40, 0.25) 85.63%
  );
  backdrop-filter: blur(3.210831880569458px);
}
