@import "../../styles/mixin";
@import "../../styles/variables";

.home_container {
  padding: 10px 20px;
  border-radius: 15px;
  border: 2.7px solid #fffbfb;
  background: linear-gradient(
    324deg,
    #1c5af4 2.33%,
    rgba(11, 11, 40, 0.25) 85.63%
  );
  backdrop-filter: blur(3.210831880569458px);
  @include bp-md {
    padding: 70px 60px;
  }

  .steps_image {
    width: 23px;
    height: 23px;
    @include bp-md {
      width: 41px;
      height: 41px;
    }
  }
  .action_image_stack {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }
  .action_image_user_tick {
    width: 35px;
    height: 40px;
    @include bp-md {
      width: 90px;
      height: 79px;
    }
  }
  .action_image_user_plus {
    width: 35px;
    height: 37px;
    @include bp-md {
      width: 71px;
      height: 74px;
    }
  }
}
