@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.hero_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-white-73;
  box-shadow: 0px 0px 77px 0px $color-black-1a;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  background-image: url(/images/collectPaymentBg.webp);

  @include for-laptops {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 112px;
  }

  .group_logo {
    width: 260px;
    height: auto;

    @include for-laptops {
      width: 366px;
      height: 62px;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px;

    @include for-laptops {
      max-height: 500px;
    }
  }

  .right_img {
    Img {
      height: auto;
      padding-top: 32px;
      max-width: 100%;

      @include for-laptops {
        height: 625px;
        padding-top: 0px;
      }
    }
  }

  .subtitle {
    color: $color-equity-blue;
    border-bottom: 2px solid $color-equity-blue;
    font-size: 24px;
    font-weight: 400;
  }

  .first_row_title {
    padding-top: 48px;
    padding-bottom: 20px;
  }

  .first_row_button {
    padding-top: 16px;
    gap: 12px;

    @include for-laptops {
      padding-top: 48px;
      gap: 26px;
    }
  }
}

.introduction_section {
  background: linear-gradient(
    180deg,
    #1c5af4 0%,
    $color-cyan-blue 77%,
    #18187f 100%
  );
  position: relative;
  padding: 50px 20px;

  @include for-laptops {
    padding: 58px 20px;
  }

  .section {
    margin: auto;
    gap: 10px;
    width: 100%;
    justify-content: center;

    // flex-wrap: wrap;
    @include for-laptops {
      width: initial;
    }

    .card {
      width: calc(100% / 3 - 5px);
      max-width: 100%;
      background-color: $color-white-1a;
      border-radius: 10px;
      box-shadow: 0px 0px 29.66px 0px $color-black-0d;
      display: flex;
      flex-direction: column;
      align-items: center;

      .outerCard {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;

        @include for-laptops {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      .innerCard {
        box-shadow: 0px 0px 29.66px 0px $color-black-0d;
        width: 100%;
        padding: 4px;
      }

      // 👇 Responsive widths
      @include for-laptops {
        width: 300px;
      }

      @include for-tablet {
        width: 180px;
      }
    }

    @include for-laptops {
      gap: 65px;
      flex-wrap: wrap;
    }
  }

  .inner-content {
    background: $color-white;
    /* inner background */
    padding: 11px 14px;
    border-radius: 10px;
    /* slightly smaller radius */
  }
}

.features_section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-image: url(./img/ArtboardBg.svg);
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
  }

  .section {
    padding: 30px 10px;

    @include for-laptops {
      padding-top: 48px;
    }

    .subtitle {
      margin-bottom: 30px;
    }

    .payment_section {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include for-laptops {
        gap: 32px;
      }
    }
  }

  .section:nth-child(3),
  .section:nth-child(5) {
    padding: 50px 30px;

    @include for-laptops {
      padding-top: 48px;
    }
  }

  .section:nth-child(7) {
    padding: 50px 30px;
    overflow: hidden;

    @include for-laptops {
      padding-top: 48px;
      padding-bottom: 0px;
    }
  }

  .first_container {
    position: relative;
    z-index: 2;

    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -50px;

      @include for-laptops {
        top: -50px;
        left: 200px;
      }
    }
  }

  .second_container {
    position: relative;
    z-index: 2;

    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -50px;

      @include for-laptops {
        top: -100px;
        left: -100px;
      }
    }
  }

  .third_container {
    position: relative;
    z-index: 2;

    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -50px;

      @include for-laptops {
        top: -50px;
        left: 200px;
      }
    }
  }

  .custom_bottom_offset {
    @include for-laptops {
      bottom: -98px;
      position: absolute;
    }
  }

  .list_button {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;

    @include for-laptops {
      padding-left: 70px;
      padding-top: 33px;
      padding-bottom: 33px;
    }
  }
}

.cta_section {
  background: linear-gradient(90deg, #1c5af4 0%, #10348e 100%);
  border-radius: 12px;
  position: relative;
  padding: 50px 20px;

  @include for-laptops {
    padding: 58px 20px;
  }

  .get_started_button {
    padding: 6px;
    border: 2px solid $color-bolt-green;
    border-radius: 12px;

    @include for-laptops {
      padding: 11px 14px;
    }
  }
}

.eigth_row {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  text-align: center;
  padding: 50px 20px;

  @include for-laptops {
    padding: 90px 20px 0;
    margin-bottom: 50px;
  }

  .section {
    text-align: start;

    .faq_bg {
      Img {
        height: auto;

        @include for-laptops {
          max-width: 475px;
          height: auto;
          margin-top: -100px;
        }
      }
    }
  }
}

.other_products {
  background: $color-white;
  padding: 0 20px 26px;

  @include for-laptops {
    padding: 0px 20px 66px;
  }
}
