@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.faq_row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $color-black;
  text-align: left;
  // padding: 10px 0px;
  // @include for-laptops {
  //   padding: 20px 60px;
  // }

  th {
    font-weight: 700;
    font-size: 14px;
    @include for-laptops {
      font-size: 20px;
    }
  }

  h4,
  td {
    font-size: 14px;
    a {
      text-decoration: none;
    }
    @include for-laptops {
      font-size: 20px;
      font-weight: 400;
    }
  }

  img {
    width: 28px;
    height: 28px;
    @include for-laptops{
    width: 55px;
    height: 55px;
    }
  }

  .faq_inner_row {
    padding: 10px 10px 0 10px;
    position: relative;
    @include for-laptops{
      padding: 20px 20px 0 20px;
    position: relative;
    }
  }

  .question {
    font-size: 16px;
    font-weight: 500;
    // margin-bottom: 20px;

    @include for-laptops {
      font-size: 20px;
      padding-right: 20%;
    }

    img {
      padding-left: 10px;
    }
  }

  .answer {
    font-weight: 300;
    overflow: hidden;

    opacity: 0;

    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out,
      padding 0.4s ease-in-out;
    max-height: 800px;
    background: #f6f6f6; // ✅ correct syntax
    padding: 10px 20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 20px;
    border-radius: 0px 0px 12px 12px;
    @include for-laptops {
      padding-left: 80px;
      padding-right: 20px;
    }

    &.visible {
      opacity: 1;

      // adjust if needed
    }

    &.reverse_visible {
      opacity: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .heading {
      font-size: 14px;
      @include for-laptops {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .normal {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
}

.faq_wrapper {
  width: 100%;
}

.scrollable {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 38px;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
  background-color: #cccc;
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue */
  border-radius: 9999px;
  border: 1px solid transparent;
}

.scrollable::-webkit-scrollbar-button {
  background-color: #cccc;
  height: 0;
  width: 0;
  display: none;
}
