@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;
/* styles/globals.css */

.boxContainer {
  margin-top: -200px;
  margin-bottom: 63px;

  @include for-laptops {
    margin-top: -300px;
    margin-bottom: 63px;
  }
}

.third_row {
  padding: 50px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
