@import "/styles/mixin";

.h0 {
  display: inline-block;
  font-size: 37px;
  line-height: 50px;
  margin-bottom: 0;
  @include bp-md {
    font-size: 100px;
    line-height: 100px;
  }
}

.h1 {
  display: inline-block;
  font-size: 31px;
  margin-bottom: 0;
  line-height: normal;
  @include bp-md {
    font-size: 61px;
  }
}

.h2 {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 0;
  line-height: normal;
  @include bp-md {
    font-size: 48px;
  }
}

.h3 {
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 0;
  line-height: normal;
  @include bp-md {
    font-size: 35px;
  }
}

.h4 {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0;
  line-height: normal;
  @include bp-md {
    font-size: 25px;
  }
}

.h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  white-space: normal;
  line-height: normal;
  @include bp-md {
    font-size: 22px;
  }
}

.h6 {
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: normal;
  @include bp-md {
    font-size: 18px;
  }
}

.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}

.f-5 {
  font-weight: 500;
}

.f-6 {
  font-weight: 600;
}

.f-7 {
  font-weight: 700;
}
