.h0 {
  font-size: 100px;
  line-height: 100px;
}

.h1 {
  font-size: 50px;
  line-height: 65px;
  font-weight: 500;
}

.h2 {
  font-size: 40px;
  line-height: 58px;
  font-weight: 500;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.h4 {
  font-size: 24px;
  line-height: 30px;
}

.h5 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 300;
}
