@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.story_section {
  background-color: $color-black-0d;
  padding: 60px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;

  @include for-laptops {
    padding: 100px 20px 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 30px;

  span {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    display: block;
    margin-bottom: 10px;
    letter-spacing: -4%;
  }

  h2 {
    color: $color-white;
    margin: 0;
    font-family: Times New Roman;
    font-weight: 400;
    font-style: Italic;
    letter-spacing: -4%;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    line-height: 48px;

    @include for-laptops {
      font-size: 72px;
      line-height: 72px;
    }
  }
}

.content {
  max-width: 520px;
  margin: 0 auto;
}

.subtitle {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 40px;
  letter-spacing: -4%;
  text-align: justify;

  @include for-laptops {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.main_text,
.main_text p {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: $color-white;
  letter-spacing: -4%;
  margin: 0;
  text-align: justify;

  @include for-laptops {
    font-size: 24px;
    line-height: 1.5;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.word {
  display: inline;
}
