@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.scrollBoxOuter {
  max-height: max-content !important;

  @include for-laptops {
    max-height: 400px !important;

    &::-webkit-scrollbar {
      width: 8px;
      /* vertical scrollbar width */
      height: 8px;
      /* horizontal scrollbar height */
    }

    /* Scrollbar track (background) */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    /* Scrollbar thumb (the draggable part) */
    &::-webkit-scrollbar-thumb {
      background: $color-crayola;
      border-radius: 10px;
    }

    /* Scrollbar thumb on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color-crayola;
    }
  }
}

.scrollCard {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include for-laptops {
    margin-left: 20px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scrollCardButton {
  padding: 20px 48px 20px;

  @include for-laptops {
    padding: 20px 86px;
  }
}

.scrollCardButton--scroll {
  padding: 0px 48px 20px;

  @include for-laptops {
    padding: 20px 97px;
  }
}