@use "./../../styles/mixin" as *;

.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.11);
  border: 1.5px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(211, 238, 251, 1) 100%
  );
  background: #fff;
  .tabTitle {
    color: #2b2b2b;
  }
  .tabSubtitle {
    color: #858585;
    font-style: italic;
  }
  &:hover {
    border-color: #a5a5a5;
    svg {
      path {
        fill: #1c5af4;
      }
    }
  }
}

.active {
  border-color: #a5a5a5;
  svg {
    path {
      fill: #1c5af4;
    }
  }
}

.tabTitle {
  font-weight: bold;
  margin: 0;
}

.tabSubtitle {
  font-size: 0.85rem;
  color: gray;
  margin: 0;
}

.icon {
  font-size: 20px;
}

.mapWrapper {
  flex: 1;
  width: 100%;
  @include for-laptops{

    width: calc(64% - 10px);
  }
  iframe {
    height: 300px;
    border-radius: 12px;
    @include for-laptops {
      height: 450px;
    }
  }
}

.LocationTabsMapOuter {
  display: flex;
  max-width: 1110px;
  margin: auto;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  @include for-laptops {
  flex-wrap: no;
  }
  .tabs {
    width: 100%;
    margin-bottom: 20px;
    @include for-laptops {
      margin: 0;
      width: calc(33% - 10px);
    }
    h2 {
      margin-bottom: 30px;
      span {
        color: #5b5b5b;
        font-weight: 400;
      }
    }
  }
}
