@use "/styles/variables" as *;
@use "/styles/mixin" as *;

.main_container {
  padding: 0px;
  @include for-laptops {
    padding: 0 40px;
  }
}

.detail_section {
  padding: 0 5px;
  color: $color-bolt-title-grey;
  .description_title {
    font-weight: 600;
    font-size: 22px;
  }
  @include for-laptops {
    padding: 0 40px;
  }
  a {
    color: $color-black;
  }
}

.occasions_container {
  padding: 0px 0px;
  @include for-laptops {
    padding: 0px 20px;
  }
}

.occasion_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0px;
  @include for-laptops {
    flex-direction: row;
    margin: 30px 0px;
  }
}

.text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include for-laptops {
    width: 45%;
    margin-right: 40px;
    margin-top: 40px;
  }

  .description {
    margin-top: 15px;
    @include for-laptops {
      margin-top: 20px;
    }
  }
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  @include for-laptops {
    width: 40%;
    margin-left: 40px;
    width: 360px;
  }

  img {
    width: 70%;
    height: auto;
    @include for-laptops {
      width: 100%;
    }
  }
}

//It reverses the row
@include for-laptops {
  .reverse_div {
    flex-direction: row-reverse !important;

    .text_container {
      margin-right: 0px;
      margin-left: 40px;
    }

    .image_container {
      margin-left: 0px;
      margin-right: 40px;
    }
  }
}
