@import "../../styles/variables";
@import "../../styles/mixin";

.first_row {
  margin-bottom: 80px;
  @include bp-md {
    padding-top: 170px;
  }
  .three_step_container {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    @include bp-md {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  .hero_image {
    width: 300px;
    height: auto;
    @include bp-md {
      width: auto;
      height: auto;
    }
  }

  .lottie_container {
    @include bp-md {
      margin-top: -100px;
    }
  }
}

.second_row {
  .progress_bar {
    height: 4px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(
      90deg,
      $color-equity-blue 15%,
      $color-black 30%
    );
    @include bp-md {
      height: 8px;
    }
  }
  .progress_items {
    margin-right: 30px;
    @include bp-md {
      margin-right: 0;
    }
  }
  .progress_container {
    @include bp-md {
      justify-content: space-evenly;
    }
  }
  .arrow {
    transform: rotate(90deg);
    height: 30px;
    width: 30px;
    margin-top: -10px;

    @include bp-md {
      height: 50px;
      width: 50px;
      transform: none;
      margin-top: 0;
    }
  }
}

.third_row {
  padding-bottom: 50px;
  padding-top: 20px;
  @include bp-md {
    padding-bottom: 150px;
    padding-top: 20px;
  }
}

.fifth_row {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  @include bp-md {
    padding-bottom: 220px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      @include bp-md {
        height: 300px;
        display: flex;
      }
    }
  }
}

.seventh_row {
  background-color: $color-white;
  @include bp-md {
  }
}
