@import "../../styles/variables";
@import "../../styles/mixin";

.content {
  padding-left: 10px;
  padding-right: 10px;
  @include bp-md {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.progress_segment {
  flex: 1;
  height: 100%;
}

.progress_items {
  margin-right: 30px;
  @include bp-md {
    margin-right: 0;
  }
}
.progress_container {
  overflow-x: auto;
  @include bp-md {
    justify-content: space-between;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  scrollbar-width: none;
}
.arrow {
  z-index: 1;
  transform: rotate(90deg);
  height: 30px;
  width: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -15px;
  margin-right: -15px;
  @include bp-md {
    height: 50px;
    width: 50px;
    transform: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.progress_bar {
  height: 5px;
  border-radius: 10px;
  overflow-x: auto;
}

.new_way_container {
  position: relative;

  .new_way_text {
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 35%;
    right: 20px;
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
  }
}

.old_way_container {
  position: relative;

  .old_way_text {
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 35%;
    right: 20px;
    color: $color-black;
    font-size: 18px;
    font-weight: 500;
  }
}
