@import "../../../styles/mixin";
@import "../../../styles/variables";

.mobile_modal {
  background-color: $color-white;
  height: 100%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    color: $color-equity-blue;
    .title {
      font-size: 25px;
      line-height: 30px;
    }
    .description {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.underline_text {
  font-size: 25px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.line {
  background-color: $color-alt-grey;
  height: 2px;
}

.buttons_container {
  flex-grow: 4;
}
