@import "../../../styles/mixin";
@import "../../../styles/variables";

.main_padding {
  padding: 35px 30px;
}

.mobile_modal {
  background-color: $color-white;
  height: 100%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    color: $color-equity-blue;
    .title {
      font-size: 25px;
      line-height: 30px;
    }
    .description {
      font-size: 16px;
      line-height: 20px;
    }
  }
  a {
    text-decoration: none;
    font-size: inherit;
  }
}

.underline_text {
  font-size: 25px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;

  a {
    text-decoration: none;
  }
  .sup {
    text-decoration: none;
  }
}

.line {
  background-color: $color-alt-grey;
  height: 2px;
}

.buttons_container {
  flex-grow: 4;
  a {
    text-decoration: none;
  }
}

.olympus_footer_bg {
  background: url(../img/olympus-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.freedom_footer_bg {
  background: url(../img/freedom-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.xpenz_footer_bg {
  background: url(../img/xpenz-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.loyalty_footer_bg {
  background: url(../img/loyalty-footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer {
  height: 75px;
  color: $color-electric-green;
  font-size: 23px;
  font-weight: 600;
  line-height: 23px;
  background-color: $color-equity-blue;
  .explore {
    cursor: pointer;
    color: $color-electric-green;
  }
  a {
    text-decoration: none;
  }
}

.enkash_logo {
  margin-left: 20px;
  width: 120px;
  height: auto;
}

.secondary_button {
  border-radius: 20px;
  border: 2px solid $color-equity-blue;
  background-color: $color-indi-volt;
  color: $color-white;
  padding: 3px 20px;
}
.active {
  color: $color-black;
  background-color: $color-white;
}

.powered {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: $color-secondry-grey;
}

.mobile_banner {
  position: relative;
  background-color: $color-equity-blue;
  display: flex;
  padding: 15px 25px;
  justify-content: space-evenly;
  flex-direction: column;

  .button {
    margin-top: 10px;
    margin-left: 25px;
    background-color: $color-white;
    color: $color-equity-blue;
    border: none;
    border-radius: 20px;
    padding: 2px 20px;
    font-weight: 500;
    text-decoration: none;
    width: max-content;
    cursor: pointer;
  }

  .text {
    display: inline;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $color-white;
  }

  .cross_image {
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    width: auto;
    opacity: 0.7;
    cursor: pointer;
  }
}

.mobile_banner_light_blue {
  position: relative;
  background-color: $color-rainy-blue;
  display: flex;
  padding: 15px 25px;
  justify-content: space-evenly;
  flex-direction: column;

  .button {
    margin-top: 10px;
    margin-left: 25px;
    background-color: $color-white;
    color: $color-secondry-black;
    border: none;
    border-radius: 20px;
    padding: 2px 20px;
    font-weight: 600;
    text-decoration: none;
    width: max-content;
    cursor: pointer;
  }

  .text {
    display: inline;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $color-white;

    .bottom_powered {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      line-height: 12px;
    }
  }

  .cross_image {
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    width: auto;
    opacity: 0.7;
    cursor: pointer;
  }
}
