@use "@/src/styles/variables" as *;
@use "@/src/styles/mixin" as *;

.use_case_section {
  background: $color-black;
  position: relative;
  border-radius: 12px;
  position: relative;
  padding: 50px 20px;

  @include for-laptops {
    padding-bottom: 204px;
    padding-top: 204px;
    height: 100vh;
  }

  .circles_bg {
    img {
      position: absolute;
      display: none;
      top: -37%;
      @include for-laptops {
        display: flex;
      }
    }
  } 

  .how_it_workssection {
    background: #101318;
    border-radius: 12px;
    z-index: 2;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include for-laptops {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 106%);
      max-width: 1200px;
      padding: 40px;
      margin: 0;
      z-index: 0;
    }
  }
}
.use_case_heading{
  position: relative;
  z-index: 2;
}
.features_section{
  margin-top: 50px;
  padding: 0 20px;
  @include for-laptops {
    margin-top: 320px;
  }

} 
.slider_row{
  padding: 0 20px;
}
.card_stacking_row {
  padding: 0px 20px;

  .section {
    padding: 50px 20px 0px;
    background: $color-cultured;

    @include for-laptops {
      padding: 90px 0px 50px;
    }
  }
}
