@use "/styles/variables" as *;
@use "/styles/mixin" as *;

.card_body {
  height: auto;
  background: white;
  position: relative;

  border-radius: 20px;
  border: 2px solid $color-pale-aqua;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  white-space: normal;
  transition: all 0.3s ease;
  cursor: pointer;
  max-width: 327px;

  @include for-laptops {
    padding: 40px;
  }
}

.titleHtml {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  color: $color-black;
  @include for-laptops {
    font-size: 28px;
  }
}
.underline {
  h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.action_container {
  position: absolute;
  cursor: pointer;
  // bottom: 30px;
  @include for-laptops {
    // bottom: 50px;
  }

  img {
    transition: width 0.3s ease-in-out;
  }

  img:hover {
    width: 300px;
  }
}

.description {
  font-size: 12px;
  font-weight: 500;
  color: $color-main-grey;
  span {
    font-weight: 700;
  }
  @include for-laptops {
    font-size: 18px;
  }
}
.card_image {
  max-width: 100%;
  object-fit: contain;
}

.cta_link {
  margin-top: 24px;
  text-align: left;

  .color-white {
    color: white;
  }

  .color-cyan-blue {
    color: #00f0ff;
  }
}
