@use "/styles/variables" as *;
@use "/styles/mixin" as *;

.card_body {
  // width: 84vw;
  height: 332px;
  background: white;
  position: relative;
  // background-image: url(./img/rainy-blue-biscuit.png);
  // background-size: 200px auto;

  // background-position: right bottom;
  border-radius: 20px;
  border: 2px solid $color-pale-aqua;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  white-space: normal;
  transition: all 0.3s ease;
  cursor: pointer;
  max-width: 327px;
  // &:hover {
  //   transform: scale(1.02);
  //   transition: all 0.4s ease;
  //   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
  //     0px 7px 40px 0px rgba(0, 0, 0, 0.1), 0px 30px 40px 0px rgba(0, 0, 0, 0.09),
  //     0px 67px 40px 0px rgba(0, 0, 0, 0.05),
  //     0px 120px 48px 0px rgba(0, 0, 0, 0.01),
  //     0px 187px 52px 0px rgba(0, 0, 0, 0);
  // }

  @include for-laptops {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 0px;
  }
}

.titleHtml {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: $color-black;
}
.underline {
  h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.action_container {
  position: absolute;
  cursor: pointer;
  // bottom: 30px;
  @include for-laptops {
    // bottom: 50px;
  }

  img {
    transition: width 0.3s ease-in-out;
  }

  img:hover {
    width: 300px;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;
  color: $color-main-grey;
  span {
    font-weight: 700;
  }
}
.card_image {
  max-width: 100%;
  object-fit: contain;
}

.cta_link {
  margin-top: 24px;
  text-align: left;

  .color-white {
    color: white;
  }

  .color-cyan-blue {
    color: #00f0ff;
  }
}
