@import "_variables.scss";
@import "_mixin.scss";

body {
  font-family: var(--font-poppins);
}

/* Background Classes */
.bg-deep-indigo {
  background-color: $color-deep-indigo;
}

.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-dark-midnight-blue {
  background-color: $color-dark-midnight-blue;
}

.bg-indi-volt {
  background-color: $color-indi-volt;
}

.bg-equity-blue {
  background-color: $color-equity-blue;
}

.bg-rainy-blue {
  background-color: $color-rainy-blue;
}

.bg-electric-green {
  background-color: $color-electric-green;
}

.bg-main-black {
  background-color: $color-main-black;
}

.bg-secondry-black {
  background-color: $color-secondry-black;
}

.bg-main-grey {
  background-color: $color-main-grey;
}

.bg-secondry-grey {
  background-color: $color-secondry-grey;
}

.bg-color-light-shade-grey {
  background-color: $color-light-shade-grey;
}

.bg-alternate-grey {
  background-color: $color-alternate-grey;
}

.bg-error-red {
  background-color: $color-error-red;
}

.bg-primary-gradient {
  background: $primary-gradient;
}

.bg-secondry-gradient {
  background: $secondry-gradient;
}

.bg-light-gradient {
  background: $light-gradient;
}

/* Text Color Classes */
.color-deep-indigo {
  color: $color-deep-indigo;
}

.color-black {
  color: $color-black;
}

.color-white {
  color: $color-white;
}

.color-dark-midnight-blue {
  color: $color-dark-midnight-blue;
}

.color-indi-volt {
  color: $color-indi-volt;
}

.color-equity-blue {
  color: $color-equity-blue;
}

.color-rainy-blue {
  color: $color-rainy-blue;
}

.color-baby-blue {
  color: $color-baby-blue;
}

.color-electric-green {
  color: $color-electric-green;
}

.color-main-black {
  color: $color-main-black;
}

.color-secondry-black {
  color: $color-secondry-black;
}

.color-main-grey {
  color: $color-main-grey;
}

.color-light-shade-grey {
  color: $color-light-shade-grey;
}

.color-secondry-grey {
  color: $color-secondry-grey;
}

.color-alternate-grey {
  color: $color-alternate-grey;
}

.color-slate-grey {
  color: $color-slate-grey;
}

.color-error-red {
  color: $color-error-red;
}

/* Header Configuration */

/* The styles that are not inside any mixins */
.mobile-header {
  display: flex;
}

.desktop-header {
  display: none;
}

/* Styles for bp-md */
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
  }
}

/* Other Helful classes */

.rotate_icon_90 {
  transform: rotate(180deg);
}
