@import "./variables";
@import "./mixin";

/* Background Classes */
.bg-deep-indigo {
  background-color: $color-deep-indigo;
}

.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-dark-midnight-blue {
  background-color: $color-dark-midnight-blue;
}

.bg-indi-volt {
  background-color: $color-indi-volt;
}

.bg-equity-blue {
  background-color: $color-equity-blue;
}

.bg-rainy-blue {
  background-color: $color-rainy-blue;
}

.bg-night-blue {
  background-color: $color-night-blue;
}

.bg-electric-green {
  background-color: $color-electric-green;
}

.bg-main-black {
  background-color: $color-main-black;
}

.bg-secondry-black {
  background-color: $color-secondry-black;
}

.bg-main-grey {
  background-color: $color-main-grey;
}

.bg-secondry-grey {
  background-color: $color-secondry-grey;
}

.bg-color-light-shade-grey {
  background-color: $color-light-shade-grey;
}

.bg-alternate-grey {
  background-color: $color-alternate-grey;
}

.bg-error-red {
  background-color: $color-error-red;
}

.bg-primary-gradient {
  background: $primary-gradient;
}

.bg-secondry-gradient {
  background: $secondry-gradient;
}

.bg-light-gradient {
  background: $light-gradient;
}

/* Text Color Classes */
.color-deep-indigo {
  color: $color-deep-indigo;
}

.color-black {
  color: $color-black;
}

.color-white {
  color: $color-white;
}

.color-dark-midnight-blue {
  color: $color-dark-midnight-blue;
}

.color-indi-volt {
  color: $color-indi-volt;
}

.color-equity-blue {
  color: $color-equity-blue;
}

.color-rainy-blue {
  color: $color-rainy-blue;
}

.color-baby-blue {
  color: $color-baby-blue;
}

.color-electric-green {
  color: $color-electric-green;
}

.color-main-black {
  color: $color-main-black;
}

.color-secondry-black {
  color: $color-secondry-black;
}

.color-main-grey {
  color: $color-main-grey;
}

.color-light-shade-grey {
  color: $color-light-shade-grey;
}

.color-secondry-grey {
  color: $color-secondry-grey;
}

.color-alternate-grey {
  color: $color-alternate-grey;
}

.color-slate-grey {
  color: $color-slate-grey;
}

.color-pale-grey {
  color: $color-pale-grey;
}

.color-error-red {
  color: $color-error-red;
}

/* Padding Classes */

.row-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  @include bp-md {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.row-padding-bottom-none {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 0px;
  @include bp-md {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 0px;
  }
}

.row-padding-top-none {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 16px;
  @include bp-md {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 80px;
  }
}

.row-padding-x-only {
  padding-left: 20px;
  padding-right: 20px;
  @include bp-md {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Gradient Classes */

.blue_grad_bg_one {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1c5af4 0%,
    rgba(28, 90, 244, 0) 86.87%
  );
}

.blue_grad_bg_two {
  background: radial-gradient(
    53.38% 50% at 50% 50%,
    #1c5af4 0%,
    rgba(28, 90, 244, 0.5) 57.29%,
    rgba(255, 255, 255, 0) 84.9%
  );
}

.blue_grad_bg_three {
  background: radial-gradient(
    44.33% 44.33% at 50% 50%,
    #1c5af4 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Header Configuration */

.mobile-header {
  display: block;
  @include bp-sm {
    display: none;
  }
}

.desktop-header {
  display: none;
  @include bp-sm {
    display: block;
  }
}

.main {
  overflow-x: hidden;
}
