$color-black: #000000;
$color-main-black: #151522;
$color-secondry-black: #333333;
$color-indi-volt: #0b0b28;
$color-deep-indigo: #0c0e4a;
$color-dark-midnight-blue: #0c0e4a;
$color-baby-blue: #4dc1ee;
$color-night-blue: #092093;
$color-shadow-blue: #21215c;
$color-main-grey: #666666;
$color-slate-grey: #838383;
$color-light-shade-grey: #f0f0f0;
$color-quick-silver: #b5bbcb;
$color-secondry-grey: #999999;
$color-alt-grey: #ececec;
$color-alternate-grey: #dedede;
$color-pale-grey: #dadada;
$color-equity-blue: #1c5af4;
$color-error-red: #f03d3e;
$color-electric-green: #30f37e;
$color-rainy-blue: #61d6ff;
$color-white: #ffffff;
$primary-gradient: linear-gradient(270deg, #1c5af4 14.05%, #0a0d33 83.93%);
$secondry-gradient: linear-gradient(303.75deg, #61d6ff 20.29%, #0b0b28 103.31%);
$light-gradient: linear-gradient(
  270deg,
  #30f37e -0.74%,
  rgba(48, 243, 126, 0) 88.06%
);
