@import "../../styles/variables";
@import "../../styles/mixin";

.first_row {
  background-color: $color-indi-volt;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 36px;
  padding-bottom: 36px;
  @include bp-md {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 190px;
    padding-bottom: 80px;
  }

  .lottie_container {
    height: auto;
    width: 350px;
    @include bp-md {
      width: 600px;
    }
  }
}

.second_row {
  position: relative;
  z-index: 2;
}

.third_row {
  background-color: $color-white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  @include bp-md {
    padding-left: 200px;
    padding-right: 200px;
  }

  .section {
    margin-bottom: 80px;
    @include bp-md {
      margin-bottom: 50px;
    }
  }

  .first_container {
    position: relative;
    z-index: 2;
    @include bp-md {
      padding-left: 50px;
    }
    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -80px;
      @include bp-md {
        top: -100px;
        left: 200px;
      }
    }
    .lottie_container {
      @include bp-md {
        margin-top: -30px;
        margin-left: 50px;
      }
    }
  }

  .second_container {
    position: relative;
    z-index: 2;
    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -80px;
      @include bp-md {
        top: -100px;
        left: -100px;
      }
    }
    .lottie_container {
      width: 300px;
      @include bp-md {
        width: 500px;
        margin-top: -50px;
        margin-right: 70px;
      }
    }
  }

  .third_container {
    position: relative;
    z-index: 2;
    @include bp-md {
      padding-left: 50px;
    }
    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -80px;
      @include bp-md {
        top: -50px;
        left: 200px;
      }
    }
    .lottie_container {
      width: 300px;
      @include bp-md {
        width: 500px;
        margin-top: -50px;
        margin-left: 70px;
      }
    }
  }
}

.more_cards {
  background-color: $color-white;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  @include bp-md {
    padding-left: 200px;
    padding-right: 200px;
  }

  .section {
    margin-bottom: 50px;
    @include bp-md {
      margin-bottom: 50px;
    }
  }

  .second_container {
    position: relative;
    z-index: 2;
    .card_bg {
      position: absolute;
      z-index: 2;
      top: -100px;
      left: -80px;
      @include bp-md {
        top: -100px;
        left: -100px;
      }
    }

    .lottie_container {
      height: auto;
      width: 250px;
      @include bp-md {
        width: 400px;
      }
    }
  }
}

.fourth_row {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: $color-indi-volt;
  @include bp-md {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .lottie_container {
    width: 250px;
    @include bp-md {
      width: 350px;
    }
  }

  .lottie_second_container {
    width: 250px;
    @include bp-md {
      width: 500px;
    }
  }
}

.sixth_row {
  .progress_bar {
    height: 4px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(
      90deg,
      $color-equity-blue 15%,
      $color-black 30%
    );
    @include bp-md {
      height: 8px;
    }
  }
  .progress_items {
    margin-right: 30px;
    @include bp-md {
      margin-right: 0;
    }
  }
  .progress_container {
    @include bp-md {
      justify-content: space-evenly;
    }
  }
  .arrow {
    transform: rotate(90deg);
    height: 30px;
    width: 30px;
    margin-top: -10px;
    @include bp-md {
      height: 50px;
      width: 50px;
      transform: none;
      margin-top: 0;
    }
  }
}

.fifth_row {
  position: relative;
  background: url(./img/circle-stack.png);
  background-size: cover;
  padding: 50px;
  z-index: 1;
  @include bp-md {
    background: url(./img/circle-stack-desktop.png);
    background-size: 100%;
  }
  .container {
    img {
      width: auto;
      height: 50px;
      @include bp-md {
        height: 70px;
      }
    }
  }
}

.seventh_row {
  .container {
    @include bp-md {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .left_row {
    padding: 40px;
    margin-top: -20px;
    border-radius: 10px;
    border: 2px solid $color-night-blue;
    @include bp-md {
      padding: 40px;
      width: 50%;
      margin-top: 0px;
    }
  }
  .right_row {
    @include bp-md {
      margin-left: -20px;
      margin-top: 0;
      width: 50%;
    }
    margin-top: -10px;
    img {
      height: 100%;
    }
  }
}

.eigth_row {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  @include bp-md {
    padding-bottom: 250px;
  }

  .faq_bg {
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      @include bp-md {
        height: 300px;
        display: flex;
      }
    }
  }
}

.ninth_row {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @include bp-md {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.data_row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-indi-volt;
  width: 100%;
  @include bp-md {
    margin-top: 60px;
    margin-bottom: 100px;
    flex-direction: row;
  }

  .left {
    padding: 50px 20px;
    width: 100%;
    @include bp-md {
      padding: 50px 100px;
      width: 50%;
    }
  }
  .right {
    width: 100%;
    @include bp-md {
      width: 50%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.testimonial_row {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @include bp-md {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
  display: flex;
  justify-content: flex-start;
  @include bp-md {
    justify-content: space-evenly;
  }
}

.get_your_account_row {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  background-color: $color-indi-volt;
  width: 100%;
  margin-top: 30px;
  @include bp-md {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
