@use "@/styles/variables" as *;
@use "@/styles/mixin" as *;

.ContentShowcase{
    .MaineHeading{
  padding: 50px 20px 0;

  @include for-laptops {
    padding: 90px 20px 0px;
  }
    }

  .ContentShowcaseContent{
        padding: 50px 20px;
          img{
    height: auto;
  }
    .list_button {
    padding-top: 33px;
    padding-left: 40px;
    padding-bottom: 20px;
    @include for-laptops {
      padding-top: 33px;
      padding-left: 70px;
      padding-bottom: 0px;
    }
  }
  }

}