$breadcrumb-active: #0050ff;
$journey-border: rgba(131, 143, 174, 0.55);
$about-box-shadow: #0070c224;
$abot-dark-black: #33333342;
$color-balck: #000000;
$abt-date-color: #0070c217;
$process-color: #e7eeff;
$abt-li-color: #231e1e;
@mixin before-mixin {
  position: absolute;
  content: "";
}
@mixin background-mixin {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.enkash-first-conatiner .first-container {
  padding: 0;
  @include bp-lg {
    padding: inherit;
  }
  @include bp-md {
    padding: 50px 0 0 0;
  }
}
body.about-container .navbar {
  background-color: transparent;
  // padding: 1.5rem 0 1rem;
  @include bp-lg {
    // padding: 2rem 1rem 1rem 1rem;
  }
}

.about-container .enkash-banking-maincontainer {
  float: left;
  width: 100%;
  position: relative;
}
.gradiant {
  position: absolute;
  height: 100%;
  width: 100%;
  // background: linear-gradient(100deg, white 0%, whitesmoke 100%);
  background-color: #fff;
}
.about-container .enkash-first-conatiner {
  // background: $color-light-shade;
  // background: $color-white;
  float: left;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  z-index: 9;
}

.enkash-client-serve {
  a {
    cursor: default;
    img {
      height: 50px;
    }
    p {
      padding-top: 1rem;
      text-align: center;
      font-size: 16px;
      font-weight: $font-w-regular;
      letter-spacing: 0.15px;
      color: #26283a;
      opacity: 1;
    }
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
}

body.about-container {
  @include font-family;
}
.enkash-breadcrumb {
  ul li {
    position: relative;
    a {
      font-size: 16px;
      color: #5250de;

      font-weight: 600;
      letter-spacing: 0.17px;
      &:hover {
        text-decoration: none;
      }
      &.active {
        color: $breadcrumb-active;
        opacity: 1;
      }
    }
  }
  ul li:nth-child(n + 2) {
    &:before {
      @include before-mixin;
      background-image: url(../img/about-right-arrow.svg);
      background-repeat: no-repeat;
      color: #5250de;
      height: 28px;
      width: 10px;
      background-position: center;
    }
    a {
      margin-left: 25px;
      color: #26283a;
      font-weight: 400;
    }
  }
}

.enkash-abt-banner-text {
  p {
    letter-spacing: 0.22px;
    opacity: 1;
    font-size: 13px;
    @include bp-md {
      font-size: 14px;
    }
    direction: ltr;
  }
}


.home-banner-content {
  text-align: center;
  padding-bottom: 1rem;
  @include bp-md {
    padding-bottom: 4rem;
  }
  img {
    &.desktop-banner {
      display: none;
      @include bp-md {
        width: 75%;
        display: block;
        margin: auto;
      }
    }
    &.mobile-banner {
      display: block;
      width: 100%;
      @include bp-md {
        display: none;
      }
    }
  }
}

.right-journey {
  width: 12%;
  float: right;
  background-image: url("../img/about-us-shape.svg");
  background-position: right top;
  background-repeat: no-repeat;
  height: 600px;
  display: none;
  @include bp-md {
    display: block;
  }
  @include bp-lg {
    display: none;
  }
  @include bp-xlg {
    display: block;
  }
  @include bp-1366 {
    height: 600px;
    width: 17%;
  }
  @include bp-1500 {
    height: 800px;
  }
  @include bp-1900 {
    height: 1000px;
  }
}

.left-journey {
  float: left;
  width: 40%;
  height: 100%;
  position: relative;
  display: none;
  @include bp-md {
    display: block;
  }
  @include bp-xlg {
    width: 38%;
  }

  img {
    position: relative;
    left: -70px;
    top: -60px;
    height: 450px;
    @include bp-xlg {
      height: 570px;
    }
    @include bp-1366 {
      height: 600px;
    }
    @include bp-1500 {
      height: 720px;
    }
    @include bp-1900 {
      height: 775px;
    }
  }
  .our-journey-title {
    font-weight: 600;
    // letter-spacing: 10px;
    color: $color-white;
    // text-transform: uppercase;
    position: absolute;
    right: 40%;
    top: 38%;
    font-size: 30px;
    line-height: 31px;
    @include bp-xlg {
      font-size: 30px;
      right: 35%;
    }
    &:after {
      content: "";
      position: absolute;
      top: auto;
      height: 2px;
      background: $color-white;
      left: 0;
      bottom: -5px;
      // width: 110px;
    }
  }
}

.about-mobile-titile {
  display: block;
  @include bp-md {
    display: none;
  }
}
.middle-journey-process {
  float: left;
  position: relative;
  padding: 0 20px;
  display: 100%;
  @include bp-md {
    width: 60%;
  }
  @include bp-xlg {
    width: 50%;
  }
  @include bp-1366 {
    width: 45%;
  }
  &:before {
    border-right: 1px dashed rgba(131, 143, 174, 0.55);
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    width: 1px;
    margin: auto;
    z-index: -9;
  }

  .middle-sub-container {
    height: 490px;
    overflow: hidden;
    @include bp-md {
      height: 530px;
    }
    .journey-start {
      text-align: center;
      float: left;
      width: 100%;
      margin-bottom: 60px;
      .journey-date {
        background: $color-white;
        box-shadow: 0px 8px 10px $abt-date-color;
        border-radius: 3px;
        opacity: 1;
        letter-spacing: 0.18px;
        color: #5250de;
        text-transform: uppercase;
        opacity: 1;
        display: inline-block;
        width: 82px;
        height: 38px;
        font-size: 16px;
        font-family: Montserrat;
        line-height: 38px;
        font-weight: 600;
      }
      ul {
        li {
          width: 100%;
          margin-top: 80px;
          position: relative;
          @include bp-md {
            margin-top: 40px;
          }
          .list-item {
            font-size: 13px;
            align-items: center;
            width: 100%;
            display: block;
            @include bp-md {
              display: inline-flex;
            }
            span {
              background: $process-color 0% 0% no-repeat padding-box;
              border-radius: 3px;
              letter-spacing: 0.13px;
              color: $color-green;
              text-transform: uppercase;
              opacity: 1;
              font-weight: 600;
              // width: 55px;
              width: 80px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 16px;
              font-family: Montserrat;
              display: block;
              margin: auto;
              position: absolute;
              left: 0;
              right: 0;
              top: -30px;
              @include bp-md {
                position: relative;
                left: 0;
                right: 0;
                top: 0;
              }
            }
            div {
              text-align: right;
              font-weight: $font-w-regular;
              letter-spacing: 0.15px;
              // color: $color-faded;
              color: #26283a;
              opacity: 1;
              font-size: 16px;
            }
            .list-item-left {
              width: 100%;
              float: none;
              margin: 0;
              text-align: center;
              background-color: #fff;
              top: 30px;
              position: relative;
              @include bp-md {
                width: 50%;
                float: left;
                margin-right: 20px;
                text-align: right;
                top: 0;
                background-color: #fff;
              }
            }
            .list-item-right {
              width: 100%;
              float: none;
              margin: 0;
              text-align: center;
              background-color: #fff;
              top: 30px;
              position: relative;
              @include bp-md {
                width: 50%;
                float: right;
                margin-left: 20px;
                text-align: left;
                top: 0;
                background-color: #fff;
              }
            }
          }
        }
        li:first-child {
          margin-top: 80px;
          @include bp-md {
            margin-top: 60px;
          }
        }
        li:nth-child(odd) {
          .list-item-right {
            // display: none;
            @include bp-md {
              display: block;
            }
          }
        }
        li:nth-child(even) {
          .list-item-left {
            // display: none;
            @include bp-md {
              display: block;
            }
          }
        }
      }
    }
  }
}

.enkash-family-container {
  float: left;
  width: 100%;
  padding-top: 1rem;
  @include bp-md {
    padding-top: 3rem;
  }
}

.next-move {
  background: url(../img/about-end-journey.svg) no-repeat;
  height: 30px;
  width: 30px;
  background-position: bottom;
  margin: auto;
}

.enkash-abt-title {
  text-align: center;
  font-weight: $font-w-semi-bold;
  // letter-spacing:4px;
  color: #26283a;
  // text-transform: uppercase;
  opacity: 1;
  font-size: 25px;
  @include bp-md {
    // letter-spacing: 8px;
    font-size: 30px;
  }
  h4{
    font-size: 25px;
    line-height: 30px;
    @include bp-md {
    // letter-spacing: 8px;
    line-height: 40px;
    font-size: 30px;
    }
  }
  position: relative;
  margin-bottom: 60px;
  // &:after{
  //     @include before-mixin;
  //     background: transparent;
  //     left: 0;
  //     width: 150px;
  //     height: 30px;
  //     margin: auto;
  //     right: 0;
  //     bottom: -4px;
  //     // border-bottom: 2px solid $breadcrumb-active;
  // }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-items: center; /* adjusted */
  @include bp-md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .enkash-card{
    @include bp-md {
    width: 300px;
    }
  }
}

.enkash-card {
  background: $color-white 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 50px $about-box-shadow;
  border-radius: 8px;
  height: 240px;
  width: 90%;
  @include bp-md {
    margin-left: 80px;
    border-radius: 20px;
    width: 230px;
    height: 300px;
    width: 100%;
  }
  &:hover{
    filter: grayscale(0%);
  }
  .user-img {
    position: relative;
    width: 100%;
    height: 140px;
    @include bp-sm {
      top: -20px;
      height: 210px;
    }
    @include bp-md {
      width: 190px;
      height: 230px;
      // -webkit-transform: scale(1);
      // transform: scale(1);
      // -webkit-transition: .2s ease-in-out;
      // transition: .2s ease-in-out;
      display: inline-block;
      background-repeat: no-repeat;
      // &:hover{
      //     -webkit-transform: scale(1.1);
      //     transform: scale(1.1);
      // }
    }
  }
  .user-img#naveen-bindal {
    background: url("../img/enkash-team/naveen-bindal.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }
  .user-img#yadvendra-tyagi {
    background: url("../img/enkash-team/yadvendra-tyagi.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }
  .user-img#hemant-vishnoi {
    background: url("../img/enkash-team/hemant-vishnoi.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }
  .user-img#himanshu-vyas {
    background: url("../img/enkash-team/himanshu-vyas.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#lalit-arun {
    background: url("../img/enkash-team/lalit-arun.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#abhishek-miglani{
    background: url("../img/enkash-team/abhishek-miglani.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#atishree-jindal{
    background: url("../img/enkash-team/atishree-jindal.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#hitesh-jain{
    background: url("../img/enkash-team/hitesh-jain.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#vibhor-chugh{
    background: url("../img/enkash-team/vibhor-chugh.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#nagesh-shet{
    background: url("../img/enkash-team/nagesh-shet.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#amandeep-arora{
    background: url("../img/enkash-team/amandeep-arora.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#manish-kumawat{
    background: url("../img/enkash-team/manish-kumawat.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#anurag-darira{
    background: url("../img/enkash-team/anurag-darira.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#krishnakumar-sv{
    background: url("../img/enkash-team/krishna-kumar-sv.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }
  
  .user-img#ankur-gupta{
    background: url("../img/enkash-team/ankur-gupta.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#martin-arockiaraj{
    background: url("../img/enkash-team/martin-arockiaraj.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .user-img#vijayanand-srinivasan{
    background: url("../img/enkash-team/vijay-srinivasan.png");
    @include background-mixin;
    @include bp-md {
      background-size: 100%;
    }
  }

  .enkash-card-details {
    position: relative;
    margin-top: 8px;
    @include bp-md {
      margin-top: -24px;
    }
    .card-txt {
      font-weight: 500;
      letter-spacing: 0.15px;
      color: #26283a;
      opacity: 1;
      font-size: 13px;
      padding: 0px 0 10px 0;
      @include bp-md {
        font-size: 16px;
      }
    }
    .card-designation {
      font-weight: 400;
      letter-spacing: 0.15px;
      color: #26283a;
      opacity: 1;
      font-size: 11px;
      @include bp-md {
        font-size: 14px;
      }
      padding: 0px 0 10px 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.enkash-founder {
  font-weight: $font-w-semi-bold;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #26283a;
  opacity: 1;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  @include bp-md {
    width: 230px;
    font-size: 16px;
  }
}

.enkash-family-img {
  position: relative;
  height: 290px;
  right: 0;
  left: 0;
  margin-top: 40px;
  @include bp-md {
    height: 385px;
    right: -20px;
    margin-top: 0px;
  }

  @include bp-xlg {
    right: 0px;
    height: 510px;
  }
  @include bp-1366 {
    height: 500px;
    right: -80px;
  }
  @include bp-1500 {
    height: 600px;
    right: -110px;
  }
  @include bp-1900 {
    height: 700px;
    right: -130px;
  }
}

.enkash-investor {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp-md {
    flex-direction: row;
  }
  background: $color-white 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 50px $about-box-shadow;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  clear: both;
  position: relative;
  margin-top: 20px;
  z-index: 99;
}

.investor-title {
  text-align: center;
  font-size: 30px;
  font-weight: $font-w-semi-bold;
  // letter-spacing: 8px;
  color: #26283a;
  // text-transform: uppercase;
  opacity: 1;
  margin-bottom: 1rem;
  @include bp-md {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}
.enkash-space {
  position: relative;
  height: 5px;
  @include bp-md {
    width: 80px;
    height: 80px;
    &:before {
      @include before-mixin;
      height: 100%;
      width: 1px;
      background: $abot-dark-black;
    }
  }
}

.investor-list {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  @include bp-md {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    align-items: center;
  }
  a {
    background: $color-white 0% 0% no-repeat padding-box;
    border: 1px solid $abot-dark-black;
    border-radius: 500px;
    opacity: 0.96;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    @include bp-md {
      margin-bottom: 0px;
    }
    img {
      width: 115px;
      height: 30px;
    }
  }

}

.enkash-second-conatiner {
  position: relative;
  width: 100%;
  float: left;
  // background: $color-white;
  .enkash-abt-title {
    margin-bottom: 20px;
  }
  .footer-section .footer-bg {
    z-index: 99;
    background-position: top 90px right 0px;
    background-size: cover;
    background-image: url("../img/mobile/about-footer-mobile.svg");
    top: -152px;
    @include bp-md {
      background-image: url("../img/about-footer.svg");
      top: -86px;
      background-size: 100%;
    }
    @include bp-xlg {
      top: -120px;
    }
    @include bp-1366 {
      background-position: top 50px right 0px;
    }
  }
  .footer-wrap {
    width: 100%;
    margin: auto;
    z-index: 999;
    position: relative;
    @include bp-md {
      width: 60%;
    }
    @include bp-1366 {
      width: 70%;
      .copyright-text {
        width: 70%;
        float: right;
      }
    }
    @include bp-1500 {
      width: 92%;
    }
  }
}

.enkash-sub-title {
  text-align: center;
  letter-spacing: 0.32px;
  color: $color-balck;
  font-weight: $font-w-regular;
  font-size: 17px;
}

@include bp-btw-768 {
  .enkash-top-box {
    // display: block !important;
    // width: 100%;
    //margin-top: 70px;
    > div {
      width: 100%;
      max-width: none;
    }
  }
  .middle-journey-process {
    width: 100%;
  }
  .left-journey,
  .right-journey {
    display: none;
  }
  .enkash-card {
    width: 290px;
    height: 300px;
  }
  .enkash-card .user-img {
    width: 220px;
  }
  .enkash-family-img {
    right: 0;
    margin: 60px 0 80px 0;
  }
  .enkash-investor {
    top: -102px;
  }
  .enkash-abt-container .card-parent-container {
    display: block !important;
    width: 95%;
    margin: auto;
    div {
      max-width: none;
    }
  }
  .footer-about {
    padding-top: 8rem;
  }
}

.about-container .longEnough {
  max-height: 270px;
  width: 100%;
  overflow: auto;
  direction: rtl;
  @include bp-md {
    // width: 350px;
  }
  @include bp-btw-768 {
    width: 100%;
    margin: 40px 0;
  }
}
.about-container .mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
}
.about-container .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  //   background-color: #2DCC40 !important;
  background-color: #5250de;
  width: 13px;
  height: 13px;
}

.about-container #prev-btn {
  background: url(../img/about-end-up-journey.svg) no-repeat;
  height: 30px;
  width: 30px;
  background-position: bottom;
  margin: auto;
  position: relative;
  top: -30px;
}

.parent-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bp-md {
    flex-direction: row;
    justify-content: center;
  }
}



.about-container .footer-social-links {
  a img {
    transform: scale(1);
    -webkit-transition: transform 2s ease-out;
    transition: transform 2s ease-out;
  }
  a img:hover {
    -webkit-transition: transform 2s ease;
    transition: transform 2s ease;
    transform: scale(1.2);
  }
}
.about-container .footer-links {
  a {
    -webkit-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
  }
  a:hover {
    opacity: 0.5;
  }
}

.active.middle-journey-process:before {
  height: 94%;
  @include bp-md {
    height: 88%;
  }
}

.create-io-img img {
  height: auto;
  @include bp-md {
    height: 400px;
  }
}

.about-container .mCSB_scrollTools .mCSB_dragger {
  height: 15px !important;
}

.news-section-slider {
  .enkash-reward-card-small {
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 140px !important;
    height: 140px !important;
    padding: 10px;
    .data-news {
      transition: all 0.3s;
      transform: scale(1);
      height: 80px;
      width: 100%;
      display: flex;
      align-content: center;
      align-items: center;
    }
  }
  .enkash-reward-card-small:hover .data-news {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  .simple-overlay {
    opacity: 0;
    visibility: hidden;
  }
  .enkash-reward-card-small:hover .simple-overlay {
    visibility: visible;
    opacity: 1;
  }
}
.counter {
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  margin-top: 1.5rem;
  .count-number {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    color: #000847;
    opacity: 0.3;
  }
  .plus-text {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    color: #000847;
    opacity: 0.3;
    position: relative;
    top: -4px;
  }
  .count-text {
    // font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #26283a;
  }
}

.news-container {
  margin-bottom: 5rem;
  .exciting-title {
    @include text-semi-bold(1.5rem);
    letter-spacing: 0.35px;
    color: #021744;
    span {
      display: block;
      height: 3px;
      width: 120px;
      background-color: #0050ff;
      margin: auto;
      margin-top: 8px;
    }
  }
}
.growing-platform {
  background-color: #fff;
  padding-bottom: 4.5rem;
  .top-wrapper {
    margin-top: -60px;
    .ctw-flag {
      box-shadow: 0 8px 32px rgb(0 112 194 / 5%);
    }
  }
  .exciting-title {
    @include text-semi-bold(1.5rem);
    letter-spacing: 0.35px;
    color: #021744;
    span {
      display: block;
      height: 3px;
      width: 120px;
      background-color: #0050ff;
      margin: auto;
      margin-top: 8px;
    }
  }
}

.innovations {
  line-height: 22px !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin: auto;
}

.right-layout,
.left-layout {
  margin-bottom: 3rem;
  align-items: center;
}

.product-best {
  margin: 2rem auto 6rem auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.trusted-partner {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  background-color: #fff;
  padding: 4rem 0;
  .exciting-title {
    @include text-semi-bold(1.5rem);
    letter-spacing: 0.35px;
    color: #021744;
    margin-bottom: 4rem;
    span {
      display: block;
      height: 3px;
      width: 120px;
      background-color: #0050ff;
      margin: auto;
      margin-top: 8px;
    }
  }

  .partner-item {
    width: 212px;
    height: 113px;
    margin: 0 12px;
    padding: 10px;
    cursor: default;
  }
}

.partner-line {
  padding: 2.5rem 0;
  div {
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #e3e3e3;
  }
}

.exciting-reward-offer {
  margin-top: 3rem;
}

.margin-5rem {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.margin-bottom-12 {
  margin-bottom: 3rem;
}

.home-banner-content {
  margin-top: 3rem;
}
// .align-center-ele{
//     margin-top: 1rem;
// }

.margin-align {
  padding-left: 7rem;
}

.padding-remove {
  padding-right: 15px !important;
}
.idex-bg {
  background-size: 90% !important;
}

.margin-align.footer-social-links {
  margin-top: 2rem;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1270px;
  }
}

@media (max-width: 640px) {
  .mobile-space-top {
    margin-top: -25px;
  }
  .align-center-ele {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .trusted-partner {
    margin-top: 0;
  }
  .margin-5rem {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .margin-bottom-12 {
    margin-bottom: 0;
  }
  .growing-platform {
    margin-top: 50px;
  }
  .product-best {
    margin: 3rem auto 3rem auto;
    padding: 0 15px;
  }
  .middle-journey-process .middle-sub-container {
    height: 700px;
    // height: 590px;
  }
  .feature-section .section-heading img {
    width: 40px;
  }
  .exciting-reward-offer {
    margin-top: 1rem;
  }
  .growing-platform .top-wrapper .ctw-flag {
    width: 100% !important;
    font-size: 24px;
    line-height: 30px;
    height: 4.5rem;
  }
  .counter {
    padding: 0;
  }
  .innovations {
    line-height: 26px !important;
    font-size: 1.2rem;
    margin: auto;
    padding: 2rem 1rem 0 1rem;
    text-align: center;
  }
  .growing-platform {
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
  }
  .news-container {
    margin-bottom: 3rem;
  }
  .feature-section .right-layout .section-text-container,
  .feature-section .left-layout .section-text-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .feature-section .section-text-container {
    padding-top: 0px !important;
  }
  .footer-section .footer-left-heading {
    font-size: 1.3rem !important;
    line-height: 30px !important;
    margin-top: 0 !important;
  }
  .flx-col {
    flex-wrap: wrap;
  }
  .margin-align {
    padding-left: 0;
  }
}

@media (max-width: 540px) {
  .footer-section .footer-right {
    padding-right: 15px !important;
    padding-top: 0rem !important;
  }
  .mobile-test-wrap {
    padding-top: 45px;
    margin-bottom: 25px;
  }
  .idex-bg {
    background-size: 165% !important;
    background-position: top 70px right -90px !important;
  }
}

.hover-effect {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  &:hover {
    background: linear-gradient(
      0deg,
      rgba(53, 231, 235, 1) 0%,
      rgba(149, 81, 246, 1) 100%
    );
    text-decoration: none;
    color: $color-white;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border: 1px solid #f5f5f5;
  }
}

.hover-effect-bg {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background: linear-gradient(
    0deg,
    rgba(53, 231, 235, 1) 0%,
    rgba(149, 81, 246, 1) 100%
  );
  text-decoration: none;
  color: $color-white !important;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border: 1px solid #f5f5f5;
  padding: 10px 15px;

  @include bp-lg {
    padding: 10px 30px;
  }
}

.hover-sign {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  margin-left: 0.2rem;
  /*border-radius: 500px;*/
  padding: 10px 10px;
  border: 2px solid #9551f6;

  @include bp-lg {
    margin-left: 1rem;
    padding: 10px 30px;
  }

  &:hover {
    background: linear-gradient(
      0deg,
      rgba(53, 231, 235, 1) 0%,
      rgba(149, 81, 246, 1) 100%
    );
    text-decoration: none;
    color: $color-white;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border: 2px solid #9551f6;
  }
}


.first-container {
    background-image: url('../img/about-banner-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.story-title{
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
  text-decoration-color: $color-purple-1;
  @include bp-md {
    text-decoration: none;
    border-left: 15px solid #5250D5;
   }
  h4{
   text-align: center;
   @include bp-md {
    text-align: left;
   }
  }
}

.story-description{
   text-align: center;
   font-size: 14px;
   @include bp-md {
    text-align: left;
    font-size: 18px;
   }
}

.enkash-card-blank{
  display: none;
  @include bp-md {
    display: block;
    width: 100%;
   }
}


.year-container {
  display: flex;
  justify-content: space-evenly;
  .name {
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 8px;
    @include bp-md {
      margin: 5px;
      font-size: 19px;
      padding: 10px;
    }
    &:hover{
      font-weight: bold;
      color: $color-purple-1;
    }
  }
  .name.active {
    font-weight: bold;
    color: $color-purple-1;
  }
  .icon{
    img{
      height: 20px;
      width: 20px;
      @include bp-md {
        display: none;
      }
    }
  }
}

.growth-progress-bar {
  flex-grow: 1;
  height: 3px;
  background-color: #0050ff;
  @include bp-md {
    margin: 0 10px;
  }
}

.growth-progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  @include bp-md {
    padding-left: 40px;
    padding-right: 40px;
  }
  .icon{
    display: none;
    @include bp-md {
      display: block;
      width: 30px;
      height: 30px;
      img{
        width: 10px;
        height: 10px;
      @include bp-md {
        width: 30px;
        height: 30px;
      }
    }
    }
    
  }
}

.month{
  width: 80px;
  font-size: 12px;
  border-radius: 10px;
  color: $color-white;
  font-weight: 700;
  @include bp-md {
    font-weight: 500;
    font-size: 18px;
  }
}

.month-text{
  text-align: center;
  font-size: 8.5px;
  font-weight: 700;
  @include bp-md {
    font-weight: 500;
    font-size: 14px;
    word-break: normal;
  }
}

.month-tie-icon{
  display: flex;
}

.dotted-line{
  border-top: 0.8px dashed;
  margin-bottom: -18px;
}

.dotted-line-vertical{
  border-right: 0.8px dashed;
  margin-bottom: -37px;
}

.arrow-row{
  display: flex;
  justify-content: space-evenly;
}

.growth-content{
  .first-row{
    margin-bottom: 20px;
  }
  margin-left: -8px;
  margin-right: -8px;
}

.mobile-nopadding {
  padding-left: 0 !important;
  @include bp-md {
    padding-left: 15px !important;
    padding-right: 15px !important;

  }
}
.icon-forward , 
.icon-backward{
  display: none;
  @include bp-md {
    display: block;
  }
}

.banner-heading-white{
  color: $color-white !important;
}

.word-enkash{
  @include bp-md {
    background-color: $color-white;
    color: $color-purple-1;
  }
}

.underline-text{
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
  text-decoration-color: $color-purple-1;
  @include bp-md {
    text-decoration-thickness: 8px;
  }
}

.story-container{
  margin-top: 30px;
  @include bp-md {
   margin-top: 0px;
  }
}

.bottom-line-sm{
  display: flex;
  @include bp-md {
    display: none;
   }
}

.bottom-line-lg{
  display: none;
  @include bp-md {
    display: flex;
   }
}

.celebration-icon{
  width: 60px;
  margin-left: -10px;
  @include bp-md {
    margin-left: 20px;
    width: 100px;
   }
}

.team-pic{
  border-radius: 32px;
}


