@use "./../../styles/mixin" as * ;
.EmployeeSliderOuter {
  overflow: hidden;
  .employeeSlide {
    padding: 0 20px;
    .employeeSlideImg {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
